<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->

<div style="padding: 0 77px; margin-left: 77px;">
    <div class="calendar-component m-top-4x">

        <!--<div class="calendar-sidebar">

            <div class="calendar-sidebar-header">
                <div class="m-left-2x">
                    <i
                        ng-click    = "model.on_state('new_task')"
                        class       = "material-icons">&#xE614;
                    </i>

                    <i
                        ng-click    = "model.on_state('task_list')"
                        class       = "material-icons">&#xE616;</i>

                    <span
                        ng-if       = "model.STATE.NEW_TASK"
                        style       = "position: absolute; margin-left: 16px">@нова задача</span>

                    <span
                        ng-if       = "model.STATE.TASK_LIST"
                        style       = "position: absolute; margin-left: 16px">@задачи</span>
                </div>
            </div>

            <div ng-if="model.STATE.NEW_TASK">

                <div ng-if="model.month">

                    <div class="m-all-2x" style=" color: #6EC069; font-weight: bold; font-size: 26px;text-align: center;">
                        {{model.month.format("DD MMMM, YYYY")}}
                    </div>

                    <div class="m-all-2x" ng-if="model.provideTeacherID">
                        <form-wrapper form-id="form-schedule">
                            <form-program
                                teacher-id="model.provideTeacherID">
                                <after-form-slot>
                                    <button
                                        class       = "button button--big button--solid--primary"
                                        ng-click    = "model.submit_program()"> Запази
                                    </button>
                                </after-form-slot>
                            </form-program>
                        </form-wrapper>
                    </div>
                </div>

                <div ng-if="!model.month"  class="m-all-2x" style=" background: #262D32; padding: 8px; font-weight: bold;">
                    Изберете дата от календара, за която да дефинирате нова задача.
                </div>

            </div>


            <div ng-if="model.STATE.TASK_LIST">

                <div ng-if="model.month">

                    <div class="m-all-2x" style="color: #6EC069; font-weight: bold; font-size: 26px;">
                        {{model.month.format("DD MMMM, YYYY")}}
                    </div>


                    <div class="m-all-2x">
                        <div ng-if="model.hasEventForToday()">
                            <h2 style="color: #6EC069; font-weight: bold; margin-top: 36px; margin-bottom: 15px">@ПРОГРАМА</h2>
                            <div ng-repeat="event in model.listEventForToday()">


                                <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                    {{event.signature}}
                                </div>

                                <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">
                                    {{event.title}}
                                </span>

                            </div>
                        </div>

                        <div ng-if="!model.hasEventForToday()">

                            <div style="background: #262D32; padding: 8px; font-weight: bold;">
                                Не са планирани никакви часове за този ден.
                            </div>

                        </div>
                    </div>
                </div>

                <div ng-if="!model.month" class="m-all-2x" style="background: #262D32; padding: 8px; font-weight: bold;">
                    Изберете дата от календара, и виж активните задачи за деня
                </div>
            </div>
        </div>-->

        <!--<div class="calendar-panel">-->
            <ui-calendar events="model.eventCollection"></ui-calendar>
        <!--</div>-->
    </div>

</div>
