<div ng-if="!model.uiPresentation">

    <!-- Input field @institution -->
    <ui-input-dropdown
        ui-is-disabled      = "model.uiIsDisabled"
        ui-form             = "model.formContact"
        ui-model            = "model.FIELD.class"
        ui-active           = "model.FIELD.class.value"
        ui-placeholder      = "model.LABEL.LABEL_CLASS"
        ui-title            = "model.FIELD.class.title"

        ui-provider         = "model.FIELD.class.provider"
        ui-id               = "'input:dropdown:class'">
    </ui-input-dropdown>


    <!-- Input field @institution -->
    <ui-input-dropdown
        ui-is-disabled      = "model.uiIsDisabled"
        ui-form             = "model.formContact"
        ui-model            = "model.FIELD.subject"
        ui-active           = "model.FIELD.subject.value"
        ui-placeholder      = "model.LABEL.LABEL_SUBJECT"

        ui-provider         = "model.FIELD.subject.provider"
        ui-id               = "'input:dropdown:subject'">
    </ui-input-dropdown>

    <!-- Input field @institution -->
    <ui-input-dropdown
        ui-is-disabled  = "model.uiIsDisabled"
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.half"
        ui-active       = "model.FIELD.half.value"
        ui-placeholder  = "model.LABEL.LABEL_HALF"
        ui-options      = "model.LABEL.OPTIONS_HALF"
        ui-id           = "'input:dropdown:half'">
    </ui-input-dropdown>

    <!-- Input field @institution -->
    <ui-input-dropdown
        ui-is-disabled  = "model.uiIsDisabled"
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.period"
        ui-active       = "model.FIELD.period.value"
        ui-placeholder  = "model.LABEL.LABEL_PERIOD"
        ui-options      = "model.LABEL.OPTIONS_PERIOD"
        ui-id           = "'input:dropdown:period'">
    </ui-input-dropdown>

    <!-- Input field @==== -->
    <div ng-transclude="afterFormSlot"></div>
</div>

<!-- @ -->
<!-- @ -->
<div ng-if="model.uiPresentation">

    <div class="project-form project-form__noborder">

        <div class="row">
            <div class="f--left">
                <h2  style="font-weight: bold;">{{model.FIELD.institution.value}}</h2>
            </div>
            <div style="margin: 15px 0" class="f--right" ng-transclude></div>
        </div>

        <div>
            <span>{{model.LABEL.TEST[model.FIELD.degree.value].title}}, {{model.FIELD.field_of_study.value}}</span>
        </div>

    </div>
</div>
