<splitview is-sidebar-visible="model.STATE.IS_SIDEBAR_VISIBLE">
    <splitview-dashboard>

        <div class="navigation-section p-bottom-2x">
            <div class="navigation-panel navigation-panel--dash">
                <h3>{{model.ENTITY.project_title}}</h3>
            </div>
        </div>

        <!-- @Component: TASK LIST COLLECTION                                                      -->
        <!-- ========================================================================================== -->
        <div class="ui-component-list">
            <div ng-repeat="group in model.COLLECTION.group">
                <span class="project--group">{{group.group_title}}</span>

                <!-- @Component: TASK LIST COLLECTION                                                      -->
                <!-- ========================================================================================== -->
                <div ng-repeat  = "element in group.tasks track by $index"
                     class      = "item--element row"
                     ng-class   = "{'item--element--selected' : (model.ENTITY.task_id == element.task_id)}">

                    <!-- @Section: CHECKBOX COMPONENT                                                        -->
                    <!-- ###================================================================================ -->
                    <div class = "item--element--content m-bottom-x m-top-x m-right-2x f--left">
                        <span class     = "ui-checkbox"
                              ng-class  = "{'ui-checkbox--checked' : element.task_is_completed}"
                              ng-click  = "model.on_complete_task($event, element)" >
                            <i class="material-icons">&#xE876;</i>
                        </span>
                    </div>

                    <!-- @Section: TASK TITLE                                                                -->
                    <!-- ###================================================================================ -->
                    <span class      = "project--task"
                          ng-click   = "model.on_select_task(element)">
                        {{element.task_title}}
                    </span>

                    <!-- @Section: TASK LIST COLLECTION                                                      -->
                    <!-- ###================================================================================ -->
                    <div class="item--element--controls">

                        <i  class    = "material-icons"
                            ng-click = "model.on_init_datePicker(element.task_id, $index)">
                            &#xE916;

                            <datepicker
                                style               = "position: absolute; left: -100px; top: 32px"
                                date-format         = "yyyy-MM-dd"
                                datepicker-show     = "{{model.STATE.show_datepicker}}">
                                <input  style       ="display: none"
                                        ng-model    = "model.dateValue">
                            </datepicker>
                        </i>

                        <i  class    = "material-icons"
                            style    = "position:relative"
                            ng-click = "model.on_init_memberPicker(element.task_id, $index)">
                            &#xE7FE;

                            <ui-member-picker
                                ng-if           = "model.STATE.show_memberpicker && model.STATE.element_index == $index"
                                ui-collection   = "model.COLLECTION.user"
                                style           = "position: absolute; left: -118px; top: 32px; z-index: 9999999999999999999999999">
                            </ui-member-picker>
                        </i>


                        <i  class    = "material-icons"
                            ng-click = "model.on_clone_task(element.task_id)">&#xE14D;</i>

                        <i  class    = "material-icons"
                            ng-click = "model.on_clone_task(element.task_id)">&#xE153;</i>


                        <i  class    = "material-icons"
                            ng-click = "model.on_remove_task(element.task_id, $index)">
                            &#xE872;
                        </i>
                    </div>
                </div>


                <!-- @Component     : SINGLE NEW TASK ELEMENT                                                   -->
                <!-- ========================================================================================== -->
                <div class="item--element row m-bottom-x">
                    <form-wrapper
                        form-id   = "FORM_CREATE_TASK"
                        fields    = "{'group_id' : group.group_id}">
                        <form-create-task></form-create-task>
                    </form-wrapper>
                </div>
            </div>
        </div>


        <!-- @Component     : CREATE GROUP TASK                                                         -->
        <!-- ========================================================================================== -->
        <input  ng-if       = "model.STATE.SHOW_GROUP"
                ng-model    = "model.INPUT.group_title"
                class       = "project--task--input"
                placeholder = "Наименование на групата от задачи"
                type        = "text"/>


        <button ng-if       = "model.STATE.SHOW_GROUP"
                class       = "button button--small button--solid--primary"
                ng-click    = "model.on_create_group()">Именовай</button>


        <!-- @Component: @SIDEBAR DASHBOARD                                                             -->
        <!-- ========================================================================================== -->
        <div class = "dashboard--footer">
                <div class = "navigation-section">
                <div class = "navigation-panel">
                    <i class = "material-icons project--footer--icon f--left">&#xE145;</i>

                    <span class     = "project--footer--label f--left"
                          ng-click  = "model.on_init_group()">Добави група</span>
                </div>
            </div>
        </div>

    </splitview-dashboard>

    <splitview-sidebar>

        <div class="navigation-section">
            <div class="navigation-panel">
                <span>приключена</span>
            </div>
        </div>

        <!-- @Component     : SUB TASK TITLE                                                            -->
        <!-- ========================================================================================== -->
        <span style = "font-size: 20px">
            {{model.ENTITY.task_title}}
        </span>

        <div class      = "m-top-3x"
                ng-if      = "!model.STATE.IS_DESCRIPTION_ACTIVE"
                ng-click   = "model.on_change_task_description()">
            {{model.ENTITY.task_description ? model.ENTITY.task_description : '#добави описание на задачата'}}
        </div>

        <textarea   ng-if       = "model.STATE.IS_DESCRIPTION_ACTIVE"
                    ng-model    = "model.ENTITY.task_description"
                    placeholder = "{{model.ENTITY.task_description ? model.ENTITY.task_description : 'добави описание на задачата'}}"
                    style       = "height: 75px; padding: 8px; width: 100%; border: solid #6EC069 1px;"></textarea>

        <button  ng-if       = "model.STATE.IS_DESCRIPTION_ACTIVE"
                    ng-click    = "model.on_update_taskDescription()"
                    class       = "button button--small button--solid--primary">
            Запази промените
        </button>

        <div style="border-top: solid #dedede 1px">

            <!-- @Component     : SHOW LIST WITH ALL SUB TASKS                                              -->
            <!-- ========================================================================================== -->
            <div class = "item--element row m-bottom-x">
                <div class = "f--left">
                    <div class = "item--element--content m-bottom-x m-top-x m-right-2x">
                        <i class = "material-icons">&#xE145;</i>
                    </div>

                    <span> {{element.task_title}}</span>
                </div>
            </div>

            <!-- @Section: CREATE NEW SUB TASK                                                              -->
            <!-- ========================================================================================== -->
            <div class="item--element row m-bottom-x">

                <div class="component-profile  f--left">

                    <div
                        class   = "m-bottom-x m-top-x m-right-2x"
                        style   = "display:inline-block;">

                        <i  style   = "font-size: 12px; margin-top: 4px"
                            class   = "material-icons">&#xE145;
                        </i>
                    </div>

                    <input  ng-model    = "model.STATE.SUB_TASK_CONTENT"
                            style       = "border: none; outline: none"
                            placeholder = "добави нова под задача"
                            type        = "text"/>

                    <div class  = "item--element--controls">
                        <button ng-click="model.on_create_taskSubTask()">
                            Добави
                        </button>
                    </div>

                </div>
            </div>
        </div>


        <!-- @Component     : COMMENT COLLECTION COMPONENT                                              -->
        <!-- ========================================================================================== -->
        <ui-block-comment
            ui-id           = "model.ENTITY.task_id",
            ui-collection   = "model.COLLECTION.comment">
        </ui-block-comment>

    </splitview-sidebar>
</splitview>
