<!-- @Component     : Group List                                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class = "form-layout m-top-3x">

    <ui-profile
        ui-signature    = "model.sidebar_signature"
        ui-picture      = "model.sidebar_picture"
        ui-who          = "model.sidebar_title"
        ui-position     = "model.sidebar_position">
    </ui-profile>

    <div class="m-top-3x"  style="font-size : 40px; color : #6cab4b">
        <div class="form-layout__header m-top-3x">
            {{model.articleTitle}}
        </div>
    </div>
    <div class="form-layout__content m-top-3x">
        <div ng-bind-html="model.articleContent"></div>
    </div>
</div>
