<div class="form-layout">

    <!-- @ -->
    <form-language
        ui-collection="model.fieldCollection">
    </form-language>

    <!-- @ -->
    <div class="project-form">
        <button
            class   ="button button--big button--solid--primary"
            ng-click="model.on_update()">

            <i ng-if = "model.STATE.IS_LOADING" class = "loader"></i>
            <span ng-hide="model.STATE.IS_LOADING">Update</span>
        </button>
    </div>

</div>
