<div class="test__mest">

    <!-- @Component     : @MAIN VIEW DASHBOARD                                                      -->
    <!-- ========================================================================================== -->
    <div class      = "dashboard"
         style      = "position: relative"
         ng-class   = "{'dashboard--push' : model.STATE.IS_SIDEBAR_VISIBLE }">

        <!-- @Component     : ROOT OUTLENT                                                              -->
        <!-- ========================================================================================== -->
        <div class="navigation-section">
            <div class="navigation-panel navigation-panel--dash">
                <h3>Потребители</h3>
            </div>
        </div>


        <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class = "ui-component-list">
            <div ng-repeat  = "element in model.COLLECTION.user track by $index"
                 class      = "item--element row m-bottom-x"
                 ng-click   = "model.on_select(element)">

                <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                <!-- @Description   : Show the group elements from a collection object                          -->
                <!-- ========================================================================================== -->
                <div class="component-profile  f--left">

                    <div class   = "m-bottom-x m-top-x m-right-2x"
                         style   = "display:inline-block; margin-right: 16px;  background: rgb(110, 192, 105); border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">

                        <i style = "font-size: 12px; margin-top: 2px"
                           class = "material-icons">&#xE80C;</i>
                    </div>

                    <span>
                        {{element.user_name}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- @Component     : @SIDEBAR DASHBOARD                                                        -->
    <!-- ========================================================================================== -->
    <div class  = "dashboard--sidebar"
         ng-if  = "model.STATE.IS_SIDEBAR_VISIBLE">

         <div class="navigation-section">
            <div class="navigation-panel navigation-panel--dash">
                <h3 class="f--left">{{model.ENTITY.user_name}}</h3>
                <div class="f--right">
                    <span ng-repeat = "permissionIndex in model.ENTITY.user_permissions"
                          style     = "color: #4d5060; border: solid #6cab4b 1px; border-radius: 2px; padding: 2px 4px; font-weight: bold; color: #6cab4b; margin: 0 2px">
                        {{model.permition(permissionIndex)}}
                    </span>
                </div>
            </div>
        </div>

        <div style="margin-top: 16px;">
            <!-- <span class = "subway-circle spot--1"
                  style = "margin: 8px 0;color:#4d5060; font-weight: bold; text-transform: uppercase; display: block; border-bottom: solid #dedede 1px; padding-bottom: 8px;">контакти</span>

            <div>
                {{model.ENTITY.user_contact_phone}}
            </div>

            <div>
                {{model.ENTITY.user_contact_birth_date}}
            </div>

            <div>
                {{model.ENTITY.user_contact_birth_place}}
            </div>

            <div>
                {{model.ENTITY.user_contact_address}}
            </div> -->

            <!-- USER EDUCATION -->
            <!-- @@ -->
            <span class = "subway-circle spot--2"
                  style="margin: 8px 0;color:#4d5060; font-weight: bold; text-transform: uppercase; display: block; border-bottom: solid #dedede 1px; padding-bottom: 8px;">образование</span>

            <div ng-repeat="element in model.ENTITY.user_education track by $index">
                <div style="margin-top: 16px;">
                    <div>
                        <strong>{{element.user_education_institution}}</strong>
                    </div>
                    <div>
                        2015 - 2016
                    </div>
                </div>

                <div style="margin-top: 8px;">
                    <div>
                        {{element.user_education_field_of_study}}
                    </div>
                    <div>
                        {{element.user_education_degree}}
                    </div>
                </div>


                <!-- <div>
                    {{element.user_education_date_start}}
                </div>

                <div>
                    {{element.user_education_date_end}}
                </div>

                <div>
                    {{element.user_education_degree}}
                </div>

                <div>
                    {{element.user_education_field_of_study}}
                </div> -->
            </div>
        </div>

    </div>
</div>
