<ui-list-class
    collection="model.collection">

    <form-wrapper form-id="FORM_CREATE_CLASS">
        <form-create-class></form-create-class>
    </form-wrapper>

</ui-list-class>






<button ng-click="model.submit_class()">Create class</button>
