<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<!-- List -->
<!-- @ -->
<div class="m-top-3x">
    <div class="form-layout" style="width: 1120px; position: relative; padding-left: 280px; min-height: 680px">

        <div class="panel--dark" style="width: 280px; position: absolute; left: 0; top: 0; bottom: 0">

            <div class="calendar-sidebar-header">
                <div class="m-left-2x">
                    <span
                        style = "margin-left: 8px">@Добави класове</span>
                </div>
            </div>

            <ul style="margin: 16px; margin-top: 36px; cursor: pointer">
                <li style="color: #6EC069; font-weight: bold" ng-link = "['/Dashboard/AssigneClass']">
                    <div style="position: relative; display: inline-block; width: 20px; height: 20px; border-radius: 50px; background: #4d5060; margin-bottom: 25px">
                        <div class="simple-circle"></div>
                    </div>
                    <div style="position: absolute; margin-left: 10px; display: inline-block;">#припознай клас</div>
                </li>
                <li style="color: #fefefe; font-weight: bold">
                    <div style="position: relative; display: inline-block; width: 20px; height: 20px; border-radius: 50px; background: #6EC069; margin-bottom: 25px">
                        <div class="simple-circle"></div>
                    </div>
                    <div style="position: absolute; margin-left: 10px; display: inline-block;">#създай нов клас</div>
                </li>
                <li style="color: #4d5060; font-weight: bold">
                    <div style="position: relative; display: inline-block; width: 20px; height: 20px; border-radius: 50px; background: #4d5060; margin-bottom: 25px">
                        <div class="simple-circle"></div>
                    </div>
                    <div style="position: absolute; margin-left: 10px; display: inline-block;">#дефинирай цели</div>
                </li>
                <li style="color: #4d5060; font-weight: bold">
                    <div style="position: relative; display: inline-block; width: 20px; height: 20px; border-radius: 50px; background: #4d5060; margin-bottom: 25px">
                    </div>
                    <div style="position: absolute; margin-left: 10px; display: inline-block;">#дефинирай програма</div>
                </li>
            </ul>


            <div class="m-all-2x p-all-x panel--darkgrey">Време е да добавите класовете на които преподавате, в рамките на програмата.</div>
            <div class="m-all-2x p-all-x panel--darkgrey">Ако някой от тези класове е вашият можете да го разгледате, редактирате и припознаете.</div>

            <div class="p-all-2x">
                <button
                    class   = "button button--big button--solid--primary"
                    ng-link = "['/Dashboard/AssigneGoal']">Добави цели</button>
            </div>


        </div>

        <div style="width: 840px; background: #ffffff; padding: 0 16px 16px 16px; min-height: 680px;">
            <ng-outlet></ng-outlet>
        </div>

    </div>
</div>
