<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class   = "ui-component-list"
    ng-if   = "(model.collection.length > 0)">

    <div
        class       = "card card--full"
        ng-repeat   = "element in model.collection track by element.id"
        ng-link     = "['/Dashboard/Users/UserProfile', {id : element.id}]">

        <div class="row">
            <div class="component-profile  f--left">
                <ui-profile
                    ui-size         = "'picture-3x'"
                    ui-signature    = "element.signature"
                    ui-who          = "element.name"
                    ui-picture      = "element.picture"
                    ui-position     = "element.position">
                </ui-profile>
            </div>

            <div class="f--right">
                <i class="material-icons">&#xE0BF;</i>
            </div>
        </div>
    </div>

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->

    <div style="margin: 25px;">
        <button
            ng-if       = "model.uiLoadMore"
            class       = "button button--big button--solid--primary m-top-3x"
            ng-click    = "model.on_load()">
            <i class    = "loader"></i>
            Покажи още колеги
        </button>
    </div>
</div>

<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->

<div
    ng-if = "model.collection.length == 0"
    style = "text-align : center; margin-top : 226px">
    <h2 style="font-size: 24px; text-transform: uppercase;  font-weight: bold; margin-bottom: 16px;">
        <span style="color: #6cab4b;">@Няма никакви резултати : </span> <span>Съжалявам много :(</span>
    </h2>

    <span style="font-size: 17px; font-weight: bold;">
        Проверихме и нищо не намерихме, пробвайте отново с друга заявка, късмет следващият път
    </span>
</div>
