<div class="container no-gutter">
    <div class="row">
        <div class="col-3">

            <ui-input-text
                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.goal_title"
                ui-placeholder  = "model.LABEL.INPUT_GOAL_TITLE">
            </ui-input-text>
        </div>

        <div class="col-4">

            <ui-input-dropdown
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.goal_rigar"
                    ui-active       = "model.FIELD.goal_rigar.value"
                    ui-placeholder  = "model.LABEL.LABEL_DROPDOWN_RIGAR"
                    ui-options      = "model.LABEL.OPTIONS_DROPDOWN_RIGAR"
                    ui-id           = "'input:dropdown:goal_rigar'">
            </ui-input-dropdown>
        </div>

        <div class="col-2">

            <ui-input-dropdown
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.goal_type"
                    ui-active       = "model.FIELD.goal_type.value"
                    ui-placeholder  = "model.LABEL.LABEL_DROPDOWN_TYPE"
                    ui-options      = "model.LABEL.OPTIONS_DROPDOWN_TYPE"
                    ui-id           = "'input:dropdown:goal_type'">
            </ui-input-dropdown>
        </div>

        <div class="col-3" ng-if="!model.uiUpdate">
            <button ng-click="model.add_student()" class="button button--big button--solid--primary">Добави</button>
        </div>

        <div class="col-3" ng-if="model.uiUpdate">
            <button ng-click="model.update_student()" class="button button--big button--solid--primary">Промени</button>
        </div>

    </div>
</div>
