<!-- <div class="form-layout">
    <div class="project-form">
            <div class="m-bottom-2x">
                <div class="row">

                    <div class="f--left">
                        <ui-profile
                            theme           = "'lcard'"
                            service-provide = "true"
                            service-upload  = "true">
                        </ui-profile>
                    </div>

                    <div class="f--right">
                        <div style=" color: #fff; background: #6EC069; display: inline-block; padding : 5px">
                            0886504013
                        </div>

                        <div style=" color: #fff; background: #6EC069; display: inline-block; padding : 5px">
                            гр. Пловдив Бяло море 5
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div> -->


<div class="form-layout">

    <!-- @Component     : ROOT OUTLENT                                                              -->
    <!-- @Description   : Load every single group related component                                 -->
    <!-- ========================================================================================== -->
    <!-- <form-alumni></form-alumni> -->

    <!-- @Component     : ROOT OUTLENT                                                              -->
    <!-- @Description   : Load every single group related component                                 -->
    <!-- ========================================================================================== -->
    <form-wrapper form-id="FORM_USER_CONTACT" >
        <form-contact ui-collection="model.fieldCollection"></form-contact>
    </form-wrapper>

    <!-- @Component     : ROOT OUTLENT                                                              -->
    <!-- @Description   : Load every single group related component                                 -->
    <!-- ========================================================================================== -->
    <!-- <div
        class   = "project-form"
        ng-if = "model.STATE.IS_UPDATE_VISIBLE">

        <button
            class    = "button button--big button--solid--primary"
            ng-click = "model.on_update()">

            <i
                ng-if = "model.STATE.IS_LOADING"
                class   = "loader">
            </i>

            <span ng-hide="model.STATE.IS_LOADING">
                {{::model.LABEL.BUTTON_ACTION}}
            </span>
        </button>
    </div> -->

    <!-- @ -->
    <!-- <div
        class   = "project-form"
        ng-if   = "model.STATE.TEST">

        <button
            class = "button button--big button--solid--primary">
            <span>Успешно актуализирахте вашият профил</span>
        </button>
    </div> -->
</div>
