<div
    ng-if       = "model.uiCollection.length > 0"
    class       = "form-layout"
    ng-repeat   = "element in model.uiCollection track by element.id">

    <!-- @ -->
    <form-employment
        ui-id           = "element.id"
        ui-presentation = "!model.on_edit_state(element.id)"
        ui-collection   = "element"
        ui-is-disabled  = "!model.on_edit_state(element.id)">

        <i
            style       = "font-size: 16px;"
            ng-show     = "!model.on_edit_state(element.id)"
            ng-click    = "model.on_edit(element.id)"
            class       = "material-icons">&#xE254;</i>

        <i
            style       = "font-size: 16px;"
            ng-show     = "model.on_edit_state(element.id)"
            ng-click    = "model.on_cancel()"
            class="material-icons">&#xE5CD;</i>
    </form-employment>

    <!-- @ -->
    <div class   = "project-form"
         ng-if   = "model.on_edit_state(element.id)">

        <button
            class    = "button button--big button--solid--primary"
            ng-click = "model.on_update(element, $index)">
            {{::model.LABEL.BUTTON_ACTION}}
        </button>
    </div>
</div>


<div
    ng-if   = "model.uiCollection.length == 0"
    class   = "form-layout">

        <div class="project-form project-form__noborder">
            <h2>Няма предоставена информация :(</h2>
        </div>

</div>
