<!-- @ -->
<!-- @ -->
<div
    class       = "ui-block-message"
    ng-show     = "model.STATE.IS_MODE_INTERACTIVE">

    <input
        class       = "input input--white"
        ng-model    = "model.FIELD.TITLE"
        type        = "text"
        placeholder = "Video title ...">

    <iframe
        ng-show     = "model.STATE.IS_IFRAME_VISIBLE"
        width       = "100%"
        height      = "360"
        src         = "{{model.FIELD.URL}}"
        frameborder = "0"
        allowfullscreen></iframe>

    <input
        class       = "input input--white"
        ng-model    = "model.FIELD.URL"
        ng-change   = "model.on_input()"
        type        = "text"
        placeholder = "Video url ...">


    <!-- -->
    <button
        class       = "button button--big button--solid--primary"
        ng-click    = "model.on_find()"
        ng-show     = "model.STATE.IS_FIND_ACTION_VISIBLE">Find video</button>
</div>

<!-- @ -->
<!-- @ -->
<div
    class       = "ui-block-message"
    ng-show     = "model.STATE.IS_MODE_PRESENTATION">

    <div>{{model.FIELD.TITLE}}</div>

    <iframe
        width       = "100%"
        height      = "360"
        src         = "{{model.FIELD.URL}}"
        frameborder = "0"
        allowfullscreen></iframe>
</div>






