<div class="container">
    <div class="row">
        <div class="col-9 no-gutter">

            <ui-input-text
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.new_subject"
                    ui-placeholder  = "model.LABEL.INPUT_NEW_SUBJECT">
            </ui-input-text>

        </div>
        <div class="col-3 no-gutter">
            <button ng-click="model.alabala()" class="button button--big button--solid--primary">Добави предмет</button>
        </div>
    </div>
</div>