<!--<div class="form-layout">
    <div class="project-form">
            <div class="m-bottom-2x">
                <ui-profile
                    theme       = "'card'"
                    ui-provide  = "model.$userProfile"
                    ui-size     = "'picture-5x'">
                </ui-profile>
            </div>
    </div>
</div>-->


<div class="form-layout">
    <div class="project-form">
            <div class="m-bottom-2x">
                <div class="row">

                    <div class="f--left">
                        <ui-profile
                            theme           = "'lcard'"
                            ui-provide      = "model.$userProfile"
                            service-upload  = "true">
                        </ui-profile>
                    </div>

                    <div class="f--right">
                        <div style=" color: #fff; background: #6EC069; display: inline-block; padding : 5px">
                            0886504013
                        </div>

                        <div style=" color: #fff; background: #6EC069; display: inline-block; padding : 5px">
                            гр. Пловдив Бяло море 5
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>







<!-- @ -->
<!-- @ -->
<div class="form-layout" ng-if="model.isActive('contact')">
    <form-contact
        ui-collection  = "model.fieldCollection"
        ui-is-disabled = "true">
    </form-contact>
</div>


<!-- @ -->
<!-- @ -->
<form-education-list
    ng-if           = "model.isActive('education')"
    ui-collection   = "model.fieldCollection">
</form-education-list>

<!-- @ -->
<!-- @ -->
<form-employment-list
    ng-if           = "model.isActive('employment')"
    ui-collection   = "model.fieldCollection">
</form-employment-list>
