<!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class= "ui-checkbox">

    <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div class ="ui-checkbox__content">

        <div class       = "ui-checkbox__element"
            ng-repeat   = "element in model.uiOptions track by $index"
            ng-click    = "model.on_select($event, element)">

            <div class="checkbox-check">
                <i class="material-icons" style="font-size: 18px">&#xE876;</i>
            </div>

            <div class="checkbox-content">{{element.title}}</div>
        </div>
    </div>
</div>

<div ng-if="model.uiModel.show_errors">
    <div class   = "error-input">
        {{model.uiModel.error}}
    </div>
</div>
