@mixin clearfix()
{
  visibility    : hidden;
  display       : block;
  content       : " ";
  height        : 0;
  clear         : both;
}


@mixin color_btb($backgroundColor, $textColor, $borderColor)
{
  background    : $backgroundColor;
  color         : $textColor;
  border        : solid $borderColor 1px;
}
