<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class   = "ui-component-list"
    ng-if   = "model.collection.length > 0">

    <div
        style       ="margin-left: -16px;"
        ng-repeat   = "element in model.collection track by element.id">

        <div class="row m-all-2x">
            <div class="component-profile  f--left">
                <ui-profile
                    ui-size         = "'picture-3x'"
                    ui-signature    = "element.signature">
                </ui-profile>
            </div>

                <div
                    style       = "background : #6cab4b; color: #fff; padding: 2px 10px; display: inline-block; margin-right: 10px; margin-top : 13px"
                    class       = "small-element f--left">{{element.from}}
                </div>


            <div class="f--right">

                <!--<div ng-if="model.hasAvailability(element.teacher_id)">-->
                    <button
                        ng-link = "['/Dashboard/AssigneStudent', {id : element.id}]"
                        style   = "margin-top: 8px;" class="button button--solid--primary">
                        Добави цели
                    </button>
                <!--</div>-->
            </div>

        </div>
    </div>
</div>
