<div ng-if="!model.uiPresentation">

    <form
        novalidate
        name        = "model.formContact"
        ng-keyup    = "model.on_change()">

        <div class="project-form project-form__noborder">


                <div class="row">
                    <div class="f--left">
                        <h2>{{model.LABEL.LABEL_EMPLOYMENT}}</h2>
                    </div>
                    <div style="margin: 15px 0" class="f--right" ng-transclude></div>
                </div>

                <!-- Input field @employment_position -->
                <ui-input-text
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.employment_position"
                    ui-placeholder  = "model.LABEL.INPUT_EMPLOYMENT_POSITION">
                </ui-input-text>

                <!-- Input field @organisation -->
                <ui-input-text
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.organisation"
                    ui-placeholder  = "model.LABEL.INPUT_ORGANISATION">
                </ui-input-text>

                <!-- Input field @website -->
                <ui-input-text
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.website"
                    ui-placeholder  = "model.LABEL.INPUT_WEBSITE">
                </ui-input-text>

                <!-- Input field @employment_date_start -->
                <ui-input-date
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.employment_date_start"
                    ui-placeholder  = "model.LABEL.INPUT_EMPLOYMENT_DATE_START">
                </ui-input-date>

                <!-- Input field @employment_date_end -->
                <ui-input-date
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-ongoing      = "'true'"
                    ui-model        = "model.FIELD.employment_date_end"
                    ui-placeholder  = "model.LABEL.INPUT_EMPLOYMENT_DATE_END">
                </ui-input-date>

                <!-- Input field @description -->
                <ui-input-textarea
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.description"
                    ui-placeholder  = "model.LABEL.INPUT_DESCRIPTION">
                </ui-input-textarea>
        </div>
    </form>
</div>


<!-- @ -->
<div ng-if="model.uiPresentation">

    <div class="project-form project-form__noborder">

        <div class="row">
            <div class="f--left">
                <h2  style="font-weight: bold;">{{model.FIELD.organisation.value}}</h2>
            </div>
            <div style="margin: 15px 0" class="f--right" ng-transclude></div>
        </div>

        <div>
            <span>{{model.FIELD.employment_position.value}}</span>
        </div>

    </div>
</div>
