<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--content">

    <h3 class="header">
        {{model.LABEL.SIDEBAR_TITLE}}
    </h3>

    <div class = "model--content">
        <div style="padding-right: 25px" ng-repeat = "element in model.PROPERTY.COLLECTION track by $index">

            <div class="row">
                <div class="component-profile  f--left">

                    <ui-profile
                        ui-size         = "'picture-3x'"
                        ui-signature    = "element.signature">
                    </ui-profile>
                </div>

                <div class="f--right">
                    <button
                        class   ="button button--solid--primary"
                        ng-click="model.on_process(element)">
                        <span>Припознай</span>
                        <i class="material-icons" style="font-size: 16px; font-weight: bold; position:relative; top: 4px">&#xE5CC;</i>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!--  -->
    <!--  -->
    <div style="border-top: solid #dedede 1px; margin-top: 25px; padding-top: 25px">

        <div class="container">
            <div class="row">
                <div class="col-1" style="margin-left: 0">
                    <div class="icon-half">
                        <i class="material-icons">&#xE86E;</i>
                    </div>
                </div>
                <div class="col-11">
                    <p>
                        Въведете данните за вашият нов клас. Това включва, неговата позиция както и буквата му. Можете да персонализирате вашият клас,
                        като изберете специфичен цвят, от предоставеният ви списък.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
