<!-- @Component     : UI SIdebar                                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<ui-sidebar ui-is-visible   = "'true'">

</ui-sidebar>

<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="block dashboard">
    <div class   = "m-top-4x">
        <div class="form-layout">
            <ui-list-block
                ui-collection   = "model.collection"
                ui-load-more    = "model.STATE.CAN_COLLECTION_LOAD_MORE">
            </ui-list-block>
        </div>
    </div>
</div>
