<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="layout-form layout--border layout-form--x m-top-4x">

    <!-- @Component     : UI BLOCK : Modal Window                                                   -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div class  = "project-form project-form__nopadding project-form__noborder"
         ng-if  = "model.STATE.IS_INFOBLOCK_VISIBLE">

        <div class = "m-bottom-3x m-top-2x icon">
            <i class="material-icons">&#xE8D3;</i>
        </div>

        <div class="m-top-4x">
            <h1 class="align--center">
                {{model.LABEL.EMPTY_LIST_MESSAGE}}
            </h1>
        </div>

        <div class="m-top-4x">
            <p>
                Създай и сподели нова група със своите колеги, обсъждайте и споделяйте информация
            </p>
        </div>

        <div class="m-top-4x">
            <button
                ng-link = "['GroupModify']"
                class   = "button button--big button--solid--primary">
                    {{model.LABEL.BUTTON_CREATE_GROUP}}
            </button>
        </div>
    </div>
</div>
