<!-- Extra Sidebar -->
<!-- @ -->
<ui-sidebar>

    <h1 class = "heading m-top-2x">
        # Latest Conversations
    </h1>


    <div ng-repeat="element in model.threadCollection">
        <div ng-click="model.on_threadSelect(element.thread_id)" class="m-top-2x">
            <ui-profile
                ui-signature    = "element.signature"
                ui-picture      = "element.picture"
                ui-who          = "element.name"
                ui-position     = "element.position">
            </ui-profile>
        </div>
    </div>

</ui-sidebar>

<!-- Dashboard content -->
<!-- @ -->
<div class="block dashboard">

    <div class="form-layout">

        <!-- @ -->
        <div id="placeholder--message" class="project-form project-form__noborder project-form__noboxmodel">
            <div ng-repeat="element in model.collection track by $index" style="margin-bottom: 50px">

                    <ui-profile
                        ui-signature    = "element.signature"
                        ui-who          = "::element.name"
                        ui-picture      = "::element.picture"
                        ui-position     = "::element.position">
                        <div>{{::element.created_at}}</div>
                    </ui-profile>

                <div style="margin-left:65px; padding-left: 10px; border-left: solid 2px #dedede">{{::element.message}}</div>
            </div>
        </div>

        <!-- @ -->
        <div
            class   = "message--input"
            style   = "position: fixed; bottom: 0px; padding-bottom: 25px; width: 815px; background : #fff">

            <div class="row">
                <textarea
                    style       = "width: 100%; height: 80px; padding: 10px;"
                    ng-model    = "model.textbinding">
                </textarea>

                <button
                    ng-click    = "model.on_messageSend()"
                    class       = "button button--big button--solid--primary">
                    Send message
                </button>
            </div>
        </div>
    </div>

</div>
