<form
    novalidate
    class       = "authentication-form"
    name        = "model.formContact">

    <div class = "m-top-3x">
        <ui-input-text
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.user_email"
            ui-placeholder  = "model.LABEL.INPUT_USERNAME">
        </ui-input-text>
    </div>


    <div class = "m-top-2x" style="margin-top: 23px">
        <ui-input-text
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.user_password"
            ui-placeholder  = "model.LABEL.INPUT_USERPASS">
        </ui-input-text>
    </div>

</form>
