<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class   = "layout-form layout--border layout-form--x m-top-4x"
    ng-if   = "model.showIf">

    <!-- @Component     : UI BLOCK : Modal Window                                                   -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div class  = "project-form project-form__nopadding project-form__noborder">

        <div class = "m-bottom-3x m-top-2x icon">
            <i class="material-icons">&#xE80C;</i>
        </div>

        <div class="m-top-4x">
            <h1 class="align--center">Добре дошли в тракера</h1>
        </div>

        <div class="m-top-4x">
            <p>
                Това е първото ви влизане в системата за управление на класове и ученици.
            </p>
            <p>
                Ще ви помогнем да разпределите вашите бъдещи класове, ученици и целите им за развитие, през учебните години.
            </p>
            <p>
                Ако имате въпроси не се притеснявайте да се свържите с вашият кординатор.
            </p>
        </div>

        <div class="m-top-4x">
            <button
                ng-link     = "['/Dashboard/Bundle/AssignBundle']"
                class       = "button button--big button--solid--primary">
                    Започни
                </button>
        </div>
    </div>
</div>
