<!-- @MODE : interactive-->
<!-- ========================================================= -->
<div
    class       = "ui-block-message m-top-3x"
    ng-show     = "model.STATE.IS_MODE_INTERACTIVE">

    <textarea
        style       = "height: 100px"
        class       = "input input--white"
        ng-model    = "model.FIELD.CONTENT"
        type        = "text"
        placeholder = "What is on your mind"></textarea>
</div>



<!-- @MODE : presentation-->
<!-- ========================================================= -->
<div
    class   = "ui-block-message"
    ng-show = "model.STATE.IS_MODE_PRESENTATION">

    <div>
        {{model.FIELD.CONTENT}}
    </div>
</div>
