<div class="pointer m-top-2x">

    <div class="pointer__icon">
        <i class="material-icons">{{model.uiIcon}}</i>
    </div>

    <div class="pointer_text">
        <span ng-click="model.uiClick()">
            {{model.title}}
        </span>
    </div>
</div>
