<div
     class          = "animated fadeIn"
     ng-animate     = "'animate'"
     ng-repeat      = "element in model.uiCollection">

    <ui-block-entity
        element     = "element">
    </ui-block-entity>
</div>

<div style="margin: 25px;">
    <button
        ng-if       = "model.uiLoadMore"
        class       = "button button--big button--solid--primary m-top-3x"
        ng-click    = "model.on_load()">
        <i class   = "loader"></i>
        Зареди още групи
    </button>
</div>
