<div class="authentication-component">

    <div class="align--center p-top-4x">
        <img src="{{model.LABEL.IMAGE}}">
    </div>

    <div class="layout-form layout--border layout-form--x m-top-4x">

        <!-- # PANEL-->
        <!-- # ================================================================================ -->

        <span class="label" style="font-size: 24px; text-align: center">
            {{model.LABEL.LOGIN_REGULAR}}
        </span>

        <div class="project-form m-top-3x">

            <div ng-if  = "model.STATE.IS_FORM_ERRORS_VISIBLE"
                 class  = "warning">
               Грешно потребителско име или парола
            </div>

            <form-authentication></form-authentication>

            <button ng-click    = "model.on_authenticateApp()"
                    class       = "button button--full button--big button--solid--primary">
                {{model.LABEL.LOGIN_REGULAR_BUTTON}}
            </button>
        </div>

        <div class="project-form">
            <hr style="border:dashed #6bbe6f 2px">
        </div>


        <!-- # PANEL-->
        <!-- # ================================================================================ -->
        <div class="project-form">

            <button class    = "button button--full button--big button--solid--orange"
                    ng-click = "model.on_authenticateGoogle()">

                <i  ng-if   = "model.STATE.IS_LOADING_IN_PROGRESS"
                    class   = "loader"></i>

                    <span  ng-if = "!model.STATE.IS_LOADING_IN_PROGRESS">
                        {{model.LABEL.LOGIN_GOOGLE}}
                    </span>
            </button>

            <div ng-if  = "model.STATE.IS_ERRORS_VISIBLE"
                 style  = "background: #F16623; padding: 10px; color: #fff; margin-top: 15px">
                За да влезете в системата по този начин трябва да разполагате със <strong>zaednovchas.bg</strong> E-mail адрес.
            </div>
        </div>

    </div>
</div>
