<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="ui-navigation--top">

    <div class="container">
        <div class="row">

            <div class="col-4">
                <h2 style="font-weight: bold; color: #4d5060; font-size: 18px;">
                    {{model.TITLE}}
                </h2>
            </div>

            <div class="col-4">

            </div>

            <div class="col-4">

            </div>
        </div>
    </div>
</div>

<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard m-top-4x">

    <div class="form-wizard-toolbar">

            <div class="container">
                <div class="row">

                    <div class="col-3">
                        <div class="form-wizard-toolbar-tab">
                            <span>Дневник</span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-wizard-toolbar-tab">
                            <span>Оценяване</span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-wizard-toolbar-tab">
                            <span>бележки</span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class   = "form-wizard-toolbar-tab">
                            <span>резултати</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="form-wizard--panel">
        <ng-outlet></ng-outlet>
    </div>
</div>

