<div class="component-search">

    <div
        class       = "component-search-icon placeholder__icon"
        ng-if       = "model.search.length == null || model.search.length == 0">
        <i class    = "material-icons">&#xE8B6;</i>
    </div>

    <div
        class       = "component-search-icon placeholder__icon"
        ng-if       = "model.search.length > 0"
        ng-click    = "model.on_clear()">
        <i class    = "material-icons">&#xE14C;</i>
    </div>

    <div
        style       = "position: absolute; top: 10px; right: 40px; color: #4d5060;"
        ng-if       = "model.search.length > 0"
        ng-click    = "model.on_search()">
        <i class    = "material-icons">&#xE315;</i>
    </div>

    <input
        class       = "component-search-input"
        ng-model    = "model.search"
        type        = "text"
        placeholder = "{{model.LABEL.PLACEHOLDER}}">
</div>
