// # =======================================================
// # @GRID COMPONENT
// # =======================================================

.container
{
  width             : 100%;
  margin-left       : auto;
  margin-right      : auto;
}

.row
{
  width             : 100%;
}

.row [class^="col"]
{
  float             : left;
  margin            : 0.5rem 2%;
  min-height        : 0.125rem;
}

.no-gutter
{
    margin-left     : 0!important;
}

.row::after
{
  content           : "";
  display           : table;
  clear             : both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
{
    width : $GRID_WIDTH;
}

.col-1 { width:($GRID_WIDTH / 12) - ($GRID_GUTTER * 11 / 12); }
.col-2 { width: ($GRID_WIDTH / 6) - ($GRID_GUTTER * 10 / 12); }
.col-3 { width: ($GRID_WIDTH / 4) - ($GRID_GUTTER * 9 / 12); }
.col-4 { width: ($GRID_WIDTH / 3) - ($GRID_GUTTER * 8 / 12); }
.col-5 { width: ($GRID_WIDTH / (12 / 5)) - ($GRID_GUTTER * 7 / 12); }
.col-6 { width: ($GRID_WIDTH / 2) - ($GRID_GUTTER * 6 / 12); }
.col-7 { width: ($GRID_WIDTH / (12 / 7)) - ($GRID_GUTTER * 5 / 12); }
.col-8 { width: ($GRID_WIDTH / (12 / 8)) - ($GRID_GUTTER * 4 / 12); }
.col-9 { width: ($GRID_WIDTH / (12 / 9)) - ($GRID_GUTTER * 3 / 12); }
.col-10 { width: ($GRID_WIDTH / (12 / 10)) - ($GRID_GUTTER * 2 / 12); }
.col-11 { width: ($GRID_WIDTH / (12 / 11)) - ($GRID_GUTTER * 1 / 12); }
.col-12 { width: $GRID_WIDTH; }
