.layout--fullscreen
{
    margin: 0 104px;
}


// # =======================================================
// # @COMPONENT: Layout organization
// # =======================================================

.layout
{
  height: 100%;

  &:after
  {
      @include clearfix();
  }
}


.layout-form
{
    @include on-mobile
    {
        margin: auto;
        padding: 25px;
    }

    @include on-desktop
    {

    }
}

.layout--border
{
    background      : #fff;
    border          : solid #dedede 1px;
    border-radius   : 4px;
}



.layout-form--x
{
    @include on-mobile  { width : 100%;             }
    @include on-desktop { width : 460px!important;  }
}

.layout-form--2x
{
    @include on-mobile  { width : 100%;             }
    @include on-desktop { width : 660px;            }
}

.layout-form--3x
{
    @include on-mobile  { width : 100%;             }
    @include on-desktop { width : 960px;            }
}



.form-layout
{

    @include on-desktop
    {
        width       : 960px;
        margin      : auto;
    }
}

.form-layout p
{
    font-size   : 18px;
}

.form-layout__header
{
    font-size   :28px;
    line-height : 1.2;
}

.form-layout__content
{
    p {
        font-size: 18px!important;
    }

    span {
        font-size: 18px!important;
    }

    ul {
        font-size: 18px!important;
    }

    li {
        font-size: 18px!important;
    }
}


.layout--panel
{
    @include on-mobile
    {
        width: 100%!important;
    }

    @include on-desktop
    {
        width: 960px!important;
    }
}

.layout--modal
{
    @include on-mobile
    {
        width: 100%!important;
    }

    @include on-desktop
    {
        width: 660px!important;
    }
}


.layout--list
{
    @include on-mobile
    {
        width: 100%!important;
    }

    @include on-desktop
    {
        width: 760px!important;
    }
}





// # =======================================================
// # @COMPONENT : PROJECT FORM PANEL
// # =======================================================

.project-heading
{
    border          : none;
    padding         : 0 25px 22px 0;
    color           : $_BACKGROUND_XL;
    text-decoration : none;
    font-size       : 20px;
    border-bottom   : solid #dedede 1px;

    @include on-mobile
    {
        margin      : 0;
    }

    @include on-desktop
    {
        margin      : 25px;
    }
}


.project-form
{
    @include on-mobile
    {

    }

    @include on-desktop
    {
        margin        : 25px;

        &:hover
        {
            cursor    : pointer;
        }
    }

  h1
  {
    margin          : 20px 0;
    font-size       : 26px;
    font-weight     : bold;
    color           :#4d5060;
    text-decoration : none;
  }

  h2
  {
    margin          : 15px 0;
    text-transform  : uppercase;
    font-weight     : bold;
    color           :$_BACKGROUND_XL;
    text-decoration : none;
    font-size       : 12px;
  }


  textarea
  {
    width           : 100%;
    padding         : 10px;
    height          : 150px;
  }

  input[disabled]
  {
    padding: 10px 0 0 0!important;
    font-size: 20px;
  }


  input[type="text"]
  {
    width           : 100%;
    margin-bottom   : 20px;
    box-sizing      : border-box;

    @include on-mobile
    {
        padding         : 10px 0 10px 0;
    }

    @include on-desktop
    {
        padding         : 10px;
    }
  }

  input[type="tel"]
  {
    width           : 100%;
    padding         : 10px;
    margin-bottom   : 20px;
    box-sizing      : border-box;
  }

  input[type="email"]
  {
    width           : 100%;
    padding         : 10px;
    margin-bottom   : 20px;
    box-sizing      : border-box;
  }

  .half
  {
    width           : 47%!important;
  }
}



.project-form__noborder
{
    border: none;
}

.project-form__nopadding
{
    padding: 25px 0;
}


.project-form__noboxmodel
{
    padding :25px 25px 125px 0;
    margin  :25px 25px 25px 0;
}

.project-form__nobg
{
    background: none;

}



//  PANEL LAYOUT
//  ================================

.panel
{
    @include on-mobile
    {
        margin: 25px;
    }

    @include on-desktop
    {
        margin        : 25px;
        padding       : 25px;
        border        : solid #dedede 1px;
        background    : #fff;
        border-radius : 7px;

        &:hover {
            cursor    : pointer;
        }
    }


  h1
  {
    margin          : 20px 0;
    font-size       : 26px;
    font-weight     : bold;
    color           :#4d5060;
    text-decoration : none;
  }

  h2
  {
    margin          : 15px 0;
    text-transform  : uppercase;
    font-weight     : bold;
    color           :$_BACKGROUND_XL;
    text-decoration : none;
    font-size       : 12px;
  }


  textarea
  {
    width           : 100%;
    padding         : 10px;
    height          : 150px;
  }

  input[disabled]
  {
    padding: 10px 0 0 0!important;
    font-size: 20px;
  }


  input[type="text"]
  {
    width           : 100%;
    margin-bottom   : 20px;
    box-sizing      : border-box;

    @include on-mobile
    {
        padding         : 10px 0 10px 0;
    }

    @include on-desktop
    {
        padding         : 10px;
    }
  }

  input[type="tel"]
  {
    width           : 100%;
    padding         : 10px;
    margin-bottom   : 20px;
    box-sizing      : border-box;
  }

  input[type="email"]
  {
    width           : 100%;
    padding         : 10px;
    margin-bottom   : 20px;
    box-sizing      : border-box;
  }

  .half
  {
    width           : 47%!important;
  }
}

.panel-header
{
    border-bottom   : solid $_GLOBAL_NEUTRAL 1px;

    margin          : $X 0 $XXX 0;
    padding         : 0 0 10px 0;
    border-bottom   : solid $_GLOBAL_NEUTRAL 1px;


    &:after
    {
        @include clearfix();
    }
}

.panel-header--close
{
    color           : $_BACKGROUND_PRIMARY;
    font-weight     : bold;
}









.panel__noborder
{
    border: none;
}

.panel__nopadding
{
    padding: 25px 0;
}


.panel__noboxmodel
{
    padding :25px 25px 125px 0;
    margin  :25px 25px 25px 0;
}

.panel__nobg
{
    background: none;

}



.warning
{
    background      : #F16623;
    padding         : 10px;
    color           : #fff;
    margin-top      : 15px;
    margin-bottom   : 15px;
}
