<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="navigation-section">
    <div class="navigation-panel">
        <h3>Учебна програма</h3>
    </div>
</div>

<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="block dashboard">
        <div class="form-layout">
            <div class="project-form">

                <table class="ui-schedule" ng-if="!(model.STATE.EVENT_VIEW)">

                    <tr class="ui-schedule-header">
                        <td>
                        </td>
                        <td>
                            Понеделник
                        </td>
                        <td>
                            Вторник
                        </td>
                        <td>
                            Сряда
                        </td>
                        <td>
                            Четвъртък
                        </td>
                        <td>
                            Петък
                        </td>
                    </tr>

                    <!-- @  -->
                    <!-- @  -->
                    <tr ng-repeat-n="7">
                        <td>{{($index + 1)}}</td>
                         <td ng-click="model.add_event()" ng-repeat-n="5">
                            <div  ng-click="model.add_event($event, $index, $parent.$index)" class="ui-schedule-add">+</div>
                         </td>
                    </tr>


                    <!-- <tr>
                        <td>
                            <div class="ui-schedule-marker">
                                1
                            </div>
                        </td>
                        <td ng-click="model.add_event()">
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ffbf46; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                7В
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui-schedule-marker">
                                2
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #54ca95; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                8А
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #F16623; ; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                9В
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui-schedule-marker">
                                3
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui-schedule-marker">
                                4
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui-schedule-marker">
                                5
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui-schedule-marker">
                                6
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                        <td>
                            <div class="ui-schedule-add">
                                +
                            </div>
                        </td>
                    </tr> -->
                </table>


                <div class="ui-schedule-event" ng-style="model.get_coordinates()">

                    <div class="ui-schedule-event-header m-bottom-2x">
                        {{model.STATE.EVENT_DAY}} ({{model.STATE.EVENT_PERIOD}} час)
                    </div>

                    <form-wrapper form-id="FORM_ASSIGNE_EVENT">
                        <form-assigne-event></form-assigne-event>
                    </form-wrapper>
                </div>




                <!-- @ -->
                <div ng-if="model.STATE.EVENT_VIEW">


                    <!-- @Component     : ROOT OUTLENT                                                              -->
                    <!-- @Description   : Load every single group related component                                 -->
                    <!-- ========================================================================================== -->
                    <div class="row">

                        <div class="f--left" style="margin-left: 19px; margin-bottom: 23px;">
                            <div style=" display: inline-block; width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                1
                            </div>
                            <div style="margin-left: 18px; color: #6EC069; font-size: 16px; font-weight: bold; text-transform: uppercase; display: inline-block;">@Понеделник</div>
                        </div>

                        <div
                            class       = "f--right"
                            style       = "font-weight: bold; color: #6EC069; padding: 10px"
                            ng-click    = "model.on_close()">
                            <i class="material-icons">&#xE317;</i>
                        </div>
                    </div>

                    <div>
                        <form-wrapper form-id="FORM_ASSIGNE_EVENT">
                            <form-assigne-event></form-assigne-event>
                        </form-wrapper>
                    </div>
                </div>

            </div>
        </div>
</div>
