<div class="project-form m-top-3x">

    <div class="ui-block">

        <!-- @ -->
        <!-- @ -->
        <div class       = "ui-block__preview">
            <div
                class   = "dash-bottom--2x m-bottom-2x">
                <ui-profile
                    ui-signature    = "::model.element.signature"
                    ui-who          = "::model.element.name"
                    ui-picture      = "::model.element.picture"
                    ui-position     = "::model.element.position">

                        <i
                            style="margin-right: 16px"
                            class       = "material-icons">&#xE87E;</i>

                        <i
                            ng-click    = "model.toggle_comment()"
                            class       = "material-icons"
                            ng-class    = "model.STATE.IS_COMMENT_VISIBLE ? 'element-active' : ''">&#xE0CB;</i>
                </ui-profile>
            </div>
        </div>

        <!-- @ -->
        <!-- @ -->
        <div class="ui-block__content">

            <div ng-if           = "model.isActive('post', model.element.entity_type)">
                <ui-block-post
                    ui-mode         = "'presentation'"
                    ui-id           = "model.element.entity_id"
                    ui-content      = "model.element.post_content"
                    ui-is-editable  = "model.isEditable(element.user_id)">
                </ui-block-post>
            </div>

            <div ng-if           = "model.isActive('article', model.element.entity_type)">
                <ui-block-article
                    ui-id           = "model.element.entity_id"
                    ui-mode         = "'presentation'"
                    ui-title        = "model.element.article_title"
                    ui-content      = "model.element.article_content">
                </ui-block-article>
            </div>

            <div ng-if           = "model.isActive('poll', model.element.entity_type)">

                <ui-block-poll
                    ui-id           = "model.element.entity_id"
                    ui-mode         = "'presentation'"
                    ui-question     = "model.element.poll_question"
                    ui-answers      = "model.element.answers"
                    ui-total        = "model.element.total"
                    ui-has-answer   = "model.element.has_answer">
                </ui-block-poll>

            </div>

            <div ng-if          = "model.isActive('video', model.element.entity_type)">
                <ui-block-video
                    ui-reference    = "model.element.entity_type"
                    ui-mode         = "'presentation'"
                    ui-title        = "model.element.title"
                    ui-content      = "model.element.content">
                </ui-block-video>
            </div>

            <div ng-if="model.isActive('image', model.element.entity_type)">
                <ui-block-image
                    ui-mode         = "'presentation'"
                    ui-title        = "model.element.title"
                    ui-content      = "model.element.content">
                </ui-block-image>
            </div>
        </div>


    <!-- @ -->
    <!-- @ -->
    <!--<div class="ui-block__toolbar">-->
        <ui-block-comment
            ui-id           = "model.element.entity_id"
            ui-show-comment = "model.STATE.IS_COMMENT_VISIBLE">
        </ui-block-comment>
    <!--</div>-->


    </div>
</div>
