<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<wizard-wrapper>

    <wizard-element ui-title="предмети">
        <assign-subjects
            ui-bundle="model.PROPERTY.BUNDLE_ID">
        </assign-subjects>
    </wizard-element>

    <wizard-element ui-title="ученици">
        <add-students
            ui-bundle="model.PROPERTY.BUNDLE_ID">
        </add-students>
    </wizard-element>

    <wizard-element ui-title="цели">
        <assign-goals
            ui-bundle="model.PROPERTY.BUNDLE_ID">
        </assign-goals>
    </wizard-element>

</wizard-wrapper>