<div class="project-form project-form__nopadding project-form__noborder">

    <form
        novalidate
        name        = "model.formContact"
        ng-keyup    = "model.on_change()">

            <ui-input-dropdown
                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.type"
                ui-active       = "model.FIELD.type.value"
                ui-options      = "model.LABEL.TYPE_OPTIONS"
                ui-placeholder  = "model.LABEL.INPUT_USER_TYPE"
                ui-id           = "'input:dropdown:user_type'">
            </ui-input-dropdown>
    </form>
</div>
