<div class="form-layout">

    <!-- Toolbar title -->
    <div class="title__toolbar">
        <div class="title__toolbar__placeholder">
            <h1>{{model.LABEL.PAGE_TITLE}}</h1>
        </div>
    </div>

    <!-- Form Titme -->
    <form-project-create>
    </form-project-create>

    <!-- Form Titme -->
    <div class="project-form">
        <button class    = "button button--big button--solid--primary"
                ng-click = "model.on_process()">

            <i  class   = "loader"
                ng-if   = "model.STATE.IS_LOADING">
            </i>

            <span ng-if="!model.STATE.IS_LOADING">
                {{model.LABEL.BUTTON_CREATE}}
            </span>
        </button>
    </div>

</div>

<div
    ng-click  = "model.on_close()"
    style     = "position: absolute; right : 50px; top : 50px;">

    <i  style = "font-size: 34px; color: #6EC069"
        class = "material-icons">&#xE5CD;
    </i>
</div>

