<div class="form-layout">

    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-input-search></ui-input-search>
</div>

<div
    ng-click  = "model.on_close()"
    style     = "position: absolute; right : 50px; top : 50px;">
    <i style="font-size: 34px; color: #6EC069" class="material-icons">&#xE5CD;</i>
</div>
