<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="m-top-3x">
    <div class="form-layout" style="width: 1480px">

        <div id="caleandar" class=" DateTimeShow-true DateTimeFormat-mmm, yyyy" style="position:relative; height: 100%">

            <div class="row">

                <div class="f--right" style="
                    position    : absolute;
                    background  : #262D32;
                    float       : right;
                    width       : 20%;
                    color       : #4d5060;
                    min-height  : 100%;
                    right       : 0;
                    top         : 0;">
                        <h1 style="text-align: center; margin-top: 40px; color: #6EC069; font-size: 36px">11.05.2017 </h1>

                        <div>

                            <ul style="margin-left: 46px; margin-top: 46px;">
                                <span style="margin-bottom: 10px; display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px; color: #6EC069; font-weight: bold">@Програма</span>
                                <li style="margin-bottom: 10px">
                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">7A</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Психология</span>
                                </li>

                                <li style="margin-bottom: 10px">

                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #54ca95; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">7Б</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Логика</span>
                                </li>
                                <li style="margin-bottom: 10px">

                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #ffbf46; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">7В</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Етика</span>
                                </li>
                                <li style="margin-bottom: 10px">

                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #71649a; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">8А</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Право</span>
                                </li>
                                <li style="margin-bottom: 10px">

                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #aeaeae; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">9А</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Право</span>
                                </li>
                                <li style="margin-bottom: 10px">

                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #F16623; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">7Г</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Право</span>
                                </li>
                            </ul>


                            <ul style="margin-left: 46px; margin-top: 46px;">
                                <span style="margin-bottom: 10px; display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px; color: #6EC069; font-weight: bold">@Планирани тестове</span>
                                <li style="margin-bottom: 10px">
                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">7A</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Психология</span>
                                </li>
                            </ul>

                            <ul style="margin-left: 46px; margin-top: 46px;">
                                <span style="margin-bottom: 10px; display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px; color: #6EC069; font-weight: bold">@Планирани устни</span>
                                <li style="margin-bottom: 10px">
                                    <!--<div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #aeaeae; border-radius: 25px"-->
                                    <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #aeaeae; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                        class="event">9А</div>
                                        <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Право</span>
                                </li>
                            </ul>

                        </div>

                    </div>






                <div class="cld-main f--left" style="width : 80%">

                    <div class="cld-datetime">
                        <div class=" today">Май, 2017</div>
                    </div>

                    <ul class="cld-labels">
                        <!--<li class="cld-label">Sun</li>-->
                        <li class="cld-label" style="width : 19%">Mon</li>
                        <li class="cld-label" style="width : 19%">Tue</li>
                        <li class="cld-label" style="width : 19%">Wed</li>
                        <li class="cld-label" style="width : 19%">Thu</li>
                        <li class="cld-label" style="width : 19%">Fri</li>
                        <!--<li class="cld-label">Sat</li>-->
                    </ul>
                    <ul class="cld-days">
                        <!--<li class="cld-day prevMonth">
                            <p class="cld-number">30</p>
                        </li>-->
                        <li class="cld-day currMonth"  style="width: 19%">


                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">1</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>

                            <p class="cld-number">2</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">3</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">




                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #aeaeae; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #F16623; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">4</p>
                        </li>

                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">5</p>
                        </li>
                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">6</p>
                        </li>-->

                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">7</p>
                        </li>-->
                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">8</p>
                        </li>

                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>

                            <p class="cld-number">9</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">10</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">




                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #aeaeae; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #F16623; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">11</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">12</p>
                        </li>

                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">13</p>
                        </li>-->
                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">14</p>
                        </li>-->

                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">15</p>
                        </li>

                        <li class="cld-day currMonth"  style="width: 19%" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>

                            <p class="cld-number">16</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">17</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">




                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #aeaeae; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #F16623; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">18</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">19</p>
                        </li>

                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">20</p>
                        </li>-->
                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">21</p>
                        </li>-->

                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">22</p>
                        </li>

                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>

                            <p class="cld-number">23</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">24</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">




                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #aeaeae; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #F16623; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">25</p>
                        </li>
                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>

                            <p class="cld-number">26</p>
                        </li>

                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">27</p>
                        </li>-->
                        <!--<li class="cld-day currMonth"  style="width: 19%">
                            <p class="cld-number">28</p>
                        </li>-->

                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                    class="event">Етика</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #71649a; border-radius: 25px; font-size: 9px"
                                class="event">10A</div>

                                <div style="display: inline-block; width: 75%; background: #71649a; border-radius: 25px; font-size: 9px"
                                    class="event">Право</div>
                            </div>

                            <p class="cld-number">29</p>
                        </li>

                        <li class="cld-day currMonth"  style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ffbf46; border-radius: 25px; font-size: 9px"
                                class="event">9A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>

                            <p class="cld-number">30</p>
                        </li>

                        <li class="cld-day currMonth today" style="width: 19%">

                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                class="event">7A</div>

                                <div style="display: inline-block; width: 75%; background: #ee627d; border-radius: 25px; font-size: 9px"
                                    class="event">Писохология</div>
                            </div>
                            <div style="margin-bottom: 6px;">
                                <div style="display: inline-block; width: 15%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                class="event">8A</div>

                                <div style="display: inline-block; width: 75%; background: #54ca95; border-radius: 25px; font-size: 9px"
                                    class="event">Логика</div>
                            </div>


                            <p class="cld-number">31</p>
                        </li>
                        <li class="cld-day nextMonth" style="width: 19%">
                            <p class="cld-number">1</p>
                        </li>
                        <li class="cld-day nextMonth" style="width: 19%">
                            <p class="cld-number">2</p>
                        </li>
                        <!--<li class="cld-day nextMonth">
                            <p class="cld-number">3</p>
                        </li>-->
                    </ul>
                </div>

            </div>

        </div>




    </div>
</div>
