<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<!-- List -->
<!-- @ -->
<div class="m-top-3x">
    <div class="form-layout" style="width: 760px">

        <div>
            <div class="project-form project-form__noborder">
                <h2 style="font-size: 21px; margin-bottom: 46px;">@12A</h2>

                <!--<p style="font-size: 15px">По време на работата ви с вашите класове, вие си поставяте цели които ще изпълните, целите са конкретни за всеки един от класовете.</p>
                <p style="font-size: 15px">Изберете клас от списъка и дефинирайте целите за неговото обучение.</p>-->

                <!--<hr></hr>-->

                <h3 style="color: #6cab4b; font-weight: bold; margin-top: 32px;">@Основни цели"</h3>
                <div>Четивна грамотност</div>
                <div>Смятане и писане</div>
                <div>Подобряване на езиковите компетентности</div>
                <div>Развиване на когнитивни умения</div>
                <div>Анализ на текстово съдържание</div>
            </div>
        </div>

    </div>
</div>
