// # =======================================================
// # @COMPONENT : MEMBERS
// # =======================================================

.members {
    color   : #4d5060;
}

.member {
    display         : inline-block;
    width           : 25px;
    height          : 25px;
    margin-right    : 20px;
    border-radius   : 2px;
    text-align      : center;
    margin          : 8px;
}
