// # =======================================================
// # @COMPONENT : POLL
// # =======================================================

.ui-poll {
    margin: auto;
}

// # =======================================================
// # @COMPONENT : POLL ELEMENT
// # =======================================================


.ui-poll__element {
    width           : 100%;
    padding         : 10px;
    margin          : 10px 0;
    margin-bottom   : 20px;
    box-sizing      : border-box;
    color           :  #4d5060;
    font-weight     : bold;
}

.ui-poll__element:after {
    @include clearfix();
}


// # =======================================================
// # @COMPONENT : POLL TOOLBAR
// # =======================================================


.ui-poll__toolbar {
    float           : right;
}

.ui-poll__toolbar ul li{
    display         : inline-block;
}


// # =======================================================
// # @COMPONENT : POLL ICON
// # =======================================================


.ui-poll__icon {
    cursor: pointer;
}

.ui-poll__icon i {
    font-size   : 16px;
    color       :  #4d5060;
}

.ui-poll__result {
    display     : inline-block;
    background  : #6EC069;
    padding     : 12px;
    font-size   : 23px;
    color       : #fff;
    margin-right: 25px;
}


.ui-poll__graph {
    position    : relative;
    display     : inline-block;
    padding     : 12px;
    width       : 80%;
    z-index     : 10;
}

.ui-poll__graph--color {
    background  : #6EC069;
    position    : absolute;
    left        : 0;
    top         : 0;
    height      : 100%;
    z-index     :-1
}

.ui-poll__title--ready:hover {
    color       : #6EC069;
    font-weight : bold;
}
