// # =======================================================
// # @COMPONENT : UI BLOCK TOOLBAR
// # =======================================================

.ui-block__toolbar {

    padding     : 10px;
    margin-top  : 35px;
    padding-top : 30px;
    border-top  : dashed #c5d2d9 2px ;

    &:after
    {
        @include clearfix();
    }
}

.ui-block__toolbar ul {
    text-align  : left;
    float       : left;
}


.ui-block__toolbar ul li {

    color       :  #4d5060;
    display     : inline-block;

    @include on-mobile
    {
        margin      : 20px;
    }

    @include on-desktop
    {
        padding     : 0 10px;
        margin      : 0;
    }
}


.ui-block-message {
    padding-top     : 15px;
}
