.ui-mobile-profile {

    position    : fixed;
    z-index     : 999;
    top         : 0;
    left        : 0;
    width       : 100%;

    @include on-mobile
    {
        background  : #21272c;
        padding     : 7px 25px 0px 15px;
    }

    @include on-desktop
    {
        display: none;
    }
}
