<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<!-- List -->
<!-- @ -->
<div class="m-top-3x">
    <div class="form-layout" style="width: 760px">

        <div>
            <div class="project-form project-form__noborder">
                <h2 style="font-size: 21px; margin-bottom: 46px;">@Създай програма</h2>

                <p style="font-size: 15px">Всеки един от класовете с които работите има определена програма, активности и занятия.</p>
                <p style="font-size: 15px">Изберете клас от списъка и създайте персонална програма за неговото обучение.</p>

                <hr></hr>

                <h3 style="color: #6cab4b; font-weight: bold; margin-top: 32px;">@СОУ "Братя Миладинови"</h3>
                <ui-list-class-target
                    collection="model.collection">
                </ui-list-class-target>
            </div>
        </div>

    </div>
</div>
