<!-- List -->
<!-- @ -->
<div class="m-top-3x">
    <div class="form-layout">
        <ui-list-user
            collection      = "model.collection"
            ui-load-more    = "model.LIST_CAN_LOAD_MORE">
        </ui-list-user>
    </div>
</div>
