<!-- @Component     : Sidebar                                                                   -->
<!-- @Description   : Contain the functinal aspects of the current page container               -->
<!-- ========================================================================================== -->
<div
    class   = "block ui-sidebar"
    ng-if   = "model.STATE.IS_SIDEBAR_VISIBLE">

    <!-- @Block         : State and Titel Controll                                                  -->
    <!-- @Description   : Show the current functinal container meta information and state controll  -->
    <!-- ========================================================================================== -->
    <!--<div style="padding: 22px 32px; background: #21272E; color: #6EC069; text-transform: uppercase; font-weight: bold;">
        <div class="row"  style="border-bottom: solid 1px #262D32; padding-bottom: 18px;">
            <h2 class="f--left">
                {{model.uiTitle;}}
            </h2>

            <div class="f--right">
                <div
                    ng-show     = "model.STATE_BACK"
                    ng-click    = "model.on_back()">
                    <i class="material-icons">&#xE317;</i>
                </div>
            </div>
        </div>
    </div>-->

    <div style="padding: 22px 32px; background: #fff; color: #6EC069; text-transform: uppercase; font-weight: bold;">
        <div class="row"  style="border-bottom: solid 1px #262D32; padding-bottom: 18px;">
            <h2 class="f--left">
                {{model.uiTitle;}}
            </h2>

            <div class="f--right">
                <div
                    ng-show     = "model.STATE_BACK"
                    ng-click    = "model.on_back()">
                    <i class="material-icons">&#xE317;</i>
                </div>
            </div>
        </div>
    </div>



    <!-- @Block         : Sidebar container                                                         -->
    <!-- @Description   : Contain container specific components                                     -->
    <!-- ========================================================================================== -->
    <div class="m-left-3x m-top-2x">
        <div ng-transclude></div>
    </div>
</div>
