<div class="animated fadeIn">

<form
    novalidate
    name        = "model.formContact"
    ng-keyup    = "model.on_change()">

    <div class="project-form project-form__nopadding project-form__noborder">

        <h2>Випуск</h2>

        <ui-input-dropdown
            ui-is-disabled  = "model.uiIsDisabled"
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.cohort"
            ui-active       = "model.FIELD.cohort.value"
            ui-placeholder  = "model.LABEL.OPTIONS_COHORT_PLACEHOLDER"
            ui-options      = "model.LABEL.OPTIONS_COHORT"
            ui-id           = "'input:dropdown:cohort'">
        </ui-input-dropdown>

    </div>

    <div class="project-form project-form__nopadding project-form__noborder">

        <h2>Опит в организацията</h2>

        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.area"
            ui-active           = "model.FIELD.area.value"
            ui-placeholder      = "model.LABEL.OPTIONS_AREA_PLACEHOLDER"

            ui-provider         = "model.FIELD.area.provider"
            ui-id               = "'input:dropdown:area'">
        </ui-input-dropdown>

        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.municipality"
            ui-active           = "model.FIELD.municipality.value"
            ui-placeholder      = "model.LABEL.OPTIONS_MUNICIPALITY_PLACEHOLDER"

            ui-has-dependancy   = "'true'"
            ui-depend-on        = "model.FIELD.area.value"
            ui-provider         = "model.FIELD.municipality.provider"
            ui-id               = "'input:dropdown:municipality'">
        </ui-input-dropdown>

        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.city"
            ui-active           = "model.FIELD.city.value"
            ui-placeholder      = "model.LABEL.OPTIONS_CITY_PLACEHOLDER"

            ui-has-dependancy   = "'true'"
            ui-depend-on        = "model.FIELD.municipality.value"
            ui-provider         = "model.FIELD.city.provider"
            ui-id               = "'input:dropdown:city'">
        </ui-input-dropdown>

        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.school"
            ui-active           = "model.FIELD.school.value"
            ui-placeholder      = "model.LABEL.OPTIONS_SCHOOL_PLACEHOLDER"

            ui-has-dependancy   = "'true'"
            ui-depend-on        = "model.FIELD.city.value"
            ui-provider         = "model.FIELD.school.provider"
            ui-id               = "'input:dropdown:school'">
        </ui-input-dropdown>

        <!-- Input field @birth_place -->
        <ui-input-text
            ui-is-disabled  = "model.uiIsDisabled"
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.subject"
            ui-placeholder  = "model.LABEL.INPUT_SUBJECT_PLACEHOLDER">
        </ui-input-text>

    </div>

  </form>

</div>
