<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--content">
    <h3 class="header">{{model.LABEL.SIDEBAR_TITLE}}</h3>

    <form-wrapper form-id = "FORM_ASSIGN_TEACHER_SUBJECT">
        <form-assigne-teacher-subject
            ui-collection="model.COLLECTION.subject">
        </form-assigne-teacher-subject>
    </form-wrapper>

<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
    <div style="border-top: solid #dedede 1px; margin-top: 25px; padding-top: 25px">

        <div class="container">
            <div class="row">
                <div class="col-1" style="margin-left: 0">
                    <div class="icon-half">
                        <i class="material-icons">&#xE86E;</i>
                    </div>
                </div>
                <div class="col-9">
                    <p>
                        Избери предметите, които ще преподаваш през учебната година на този клас
                    </p>
                </div>

                <div class="col-2">
                    <button class="button button--big button--solid--primary" ng-click="model.on_process()">Добави ученици</button>
                </div>
            </div>
        </div>
    </div>
</div>
