<!-- @Component     : Group List                                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->

<div
    class       = "form-layout"
    ng-if       = "model.PERMISION.IS_MEMBER">

        <div class       = "m-top-4x">
            <ui-block
                ui-who      = "model.FIELD.user_signature"
                ui-picture  = "model.FIELD.user_picture"
                ui-position = "model.FIELD.user_position">
            </ui-block>
        </div>

    <!-- @ -->
    <div ng-if="model.collection">
        <ui-list-block
            ui-collection   = "model.collection"
            ui-load-more    = "model.STATE.CAN_COLLECTION_LOAD_MORE">
        </ui-list-block>
    </div>
</div>


<!-- @Component     : Group List                                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class   = "component-info m-top-5x"
    ng-if   = "!model.PERMISION.IS_MEMBER">

    <div
        class   = "m-bottom-3x m-top-2x"
        style   = "background: rgb(110, 192, 105); border-radius: 50px; width: 100px; height: 100px; text-align: center; margin: auto; margin-bottom: 36px;">
        <i style="margin-top: 18px; font-size: 54px" class="material-icons">&#xE8D3;</i>
    </div>

    <div class="component-info-header m-top-4x">
        # {{model.group_title}}
    </div>

    <div class="m-bottom-5x">
        <div>
            {{model.group_description}}
        </div>
    </div>

    <button
        ng-click    = "model.on_subscribe()"
        class       = "button button--big button--solid--primary m-bottom-2x">
        Присъедини се към групата
    </button>
</div>
