<!-- Group Form Information -->
<!-- @ -->
<form novalidate
      name = "model.formContact">

    <div class="project-form">
        <h2>{{model.LABEL.PAGE_TITLE}}</h2>

        <!-- Input field @fname -->
        <ui-input-text
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.project_title"
            ui-placeholder  = "model.LABEL.INPUT_TITLE">
        </ui-input-text>

        <!-- Input field @fname -->
        <ui-input-textarea
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.project_description"
            ui-placeholder  = "model.LABEL.INPUT_DESCRIPTION">
        </ui-input-textarea>

        <!-- Input field @fname -->
        <ui-input-date
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.project_date_start"
            ui-placeholder  = "model.LABEL.INPUT_DATE_START">
        </ui-input-date>

        <!-- Input field @fname -->
        <ui-input-date
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.project_date_end"
            ui-placeholder  = "model.LABEL.INPUT_DATE_END">
        </ui-input-date>
    </div>

</form>
