<div
    class       ="ui-block-article"
    ng-show     = "model.STATE.IS_MODE_INTERACTIVE">

    <!-- @Title -->
    <input
        class       = "input input--white"
        type        = "text"
        ng-model    = "model.FIELD.TITLE"
        placeholder = "Headline">

    <!-- @Content -->
    <div
        meditor
        ng-model    = "model.FIELD.CONTENT">
            This is test case
    </div>

</div>



<div
    class       = "ui-block-article"
    ng-show     = "model.STATE.IS_MODE_PRESENTATION">

    <div
        style="margin-bottom: 35px; line-height: 1.3; font-size: 18px; font-weight: bold">
        {{model.FIELD.TITLE}}
    </div>

    <div
        style       = "font-size: 18px"
        ng-bind-html= "model.FIELD.CONTENT | limitHtml: 180">
    </div>
</div>
