<div class="calendar">


    <!-- @Component     : UI BLOCK : Template   : FULL                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div class="calendar-header">
        <div class="top-header">

            <div class="container">
                <div class="row">

                    <div class="col-4">

                        <div
                            style="display: inline-block;
                                border: solid #4d5060 2px;
                                position: relative;
                                width: 150px;
                                padding: 8px 11px;
                                cursor: pointer;
                                text-transform: uppercase;
                                font-weight: bold;
                                color: #fff;
                                background: #4d5060"
                            ng-click    = "model.changeMonthView()">
                            <span>Месец</span>
                        </div>

                        <div
                            style= "display: inline-block;
                                border: solid #dedede 2px;
                                position: relative;
                                width: 150px;
                                padding: 8px 11px;
                                cursor: pointer;
                                text-transform: uppercase;
                                font-weight: bold;
                                color: #4d5060;"
                            ng-click    = "model.changeWeekView()">
                            <span>Седмица</span>
                        </div>

                    </div>

                    <div class="col-4">
                        <div class="align--center">
                            <div class="top-header-month">{{model.month.format("MMMM")}}</div>
                            <div class="top-header-year">{{model.month.format("YYYY")}}</div>
                        </div>
                    </div>


                    <div class="col-4" style="text-align: right;">

                        <div
                            style       = "
                                text-align: left;
                                display: inline-block;
                                border: solid #4d5060 2px;
                                position: relative;
                                width: 150px;
                                padding: 8px 11px;
                                cursor: pointer;
                                text-transform: uppercase;
                                font-weight: bold;
                                color: #fff;
                                background: #4d5060">
                            <span>Календар</span>
                        </div>

                        <div
                            style="
                                text-align: left;
                                display: inline-block;
                                border: solid #dedede 2px;
                                position: relative;
                                width: 150px;
                                padding: 8px 11px;
                                cursor: pointer;
                                text-transform: uppercase;
                                font-weight: bold;
                                color: #4d5060;">
                            <span>Програма</span>
                        </div>

                    </div>
                </div>
            </div>


            <!--<i class="material-icons"  ng-click="model.previous()">&#xE314;</i>-->
            <!--<div style="margin: auto">
                <div class="top-header-month">{{model.month.format("MMMM")}}</div>
                <div class="top-header-year">{{model.month.format("YYYY")}}</div>
            </div>-->

            <!--<i class="material-icons"  ng-click="model.previous()">&#xE314;</i>
            <i class="material-icons"  ng-click="model.next()">&#xE315;</i>-->
        </div>

        <!--<div style="float:right; width: 200px">
            <div style="display: inline-block;" ng-class="model.STATE.MONTH_VIEW ? 'active-element--calendar' : '' " ng-click="model.changeMonthView()">
                <i class = "material-icons">&#xE616;</i>
            </div>

            <div style="display: inline-block;" ng-class="model.STATE.WEEK_VIEW ? 'active-element--calendar' : '' "  ng-click="model.changeWeekView()">
                <i class="material-icons">&#xE916;</i>
            </div>
        </div>-->
    </div>

    <div class="calendar-wrapper">

        <!-- @Component     : UI BLOCK : Template   : FULL                                              -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class="week names">
            <span class="day">ПОН</span>
            <span class="day">ВТ</span>
            <span class="day">СР</span>
            <span class="day">ЧЕТ</span>
            <span class="day">ПЕТ</span>
        </div>



        <!-- @Component     : UI BLOCK : Template   : FULL                                              -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class="week" ng-repeat="week in model.weeks" ng-show="model.STATE.MONTH_VIEW">
            <span
                class       = "day"
                ng-class    = "{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }"
                ng-click    = "model.select(day)"
                ng-repeat   = "day in week.days">

                    <div class="calendar-day-number">
                        {{day.number}}
                    </div>

                    <div style="text-align: left; margin-left: 10px;" ng-repeat="event in day.events">
                        <div style="width: 15%; display: inline-block; border-radius: 20px; text-align: center; background: #dedede; margin-bottom: 10px">{{event.signature}}</div>
                        <div style="width: 75%; display: inline-block; border-radius: 20px; text-align: center; background: #dedede; margin-bottom: 10px">{{event.title}}</div>
                    </div>
            </span>
        </div>

        <!-- @Component     : UI BLOCK : Template   : FULL                                              -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class="week" ng-show="model.STATE.WEEK_VIEW">
            <span
                class       = "day"
                ng-class    = "{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }"
                ng-click    = "model.select(day)"
                ng-repeat   = "day in model.currentWeek">

                    <div class="calendar-day-number">
                        {{day.number}}
                    </div>

                    <div style="text-align: left; margin-left: 10px;" ng-repeat="event in day.events">
                        <div style="width: 15%; display: inline-block; border-radius: 20px; text-align: center; background: #dedede; margin-bottom: 10px">{{event.signature}}</div>
                        <div style="width: 75%; display: inline-block; border-radius: 20px; text-align: center; background: #dedede; margin-bottom: 10px">{{event.title}}</div>
                    </div>
            </span>
        </div>
    </div>


</div>
