<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--content">

    <h3 class="header">@Добави цели</h3>

    <form-wrapper form-id="FORM_CREATE_GOAL">
        <form-create-goal></form-create-goal>
    </form-wrapper>
</div>

<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--info">
    <div class = "m-bottom-3x m-top-2x icon">
        <i class="material-icons">&#xE03B;</i>
    </div>

    <div class="m-top-4x">
        <h1 class="align--center">Добави цели</h1>
    </div>

    <div style="text-align: center">
        Всеки клас съдържа в себе си учениците на които ще преподавате
    </div>

    <button
        class="button button--big button--solid--primary"
        ng-click="model.on_next();">
        Готов съм
    </button>

</div>
