<div class="header-section">
    @Къде ще преподава ?
</div>

<div class="container" ng-if="model.uiCampaignType == 1">
    <div class="row">
    <div class="col-4 no-gutter">

        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.area"
            ui-active           = "model.FIELD.area.value"
            ui-placeholder      = "model.LABEL.OPTIONS_AREA_PLACEHOLDER"

            ui-provider         = "model.FIELD.area.provider"
            ui-id               = "'input:dropdown:area'">
        </ui-input-dropdown>

    </div>
    <div class="col-4">

        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.municipality"
            ui-active           = "model.FIELD.municipality.value"
            ui-placeholder      = "model.LABEL.OPTIONS_MUNICIPALITY_PLACEHOLDER"

            ui-has-dependancy   = "'true'"
            ui-depend-on        = "model.FIELD.area.value"
            ui-provider         = "model.FIELD.municipality.provider"
            ui-id               = "'input:dropdown:municipality'">
        </ui-input-dropdown>

    </div>
    <div class="col-4">

        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.city"
            ui-active           = "model.FIELD.city.value"
            ui-placeholder      = "model.LABEL.OPTIONS_CITY_PLACEHOLDER"

            ui-has-dependancy   = "'true'"
            ui-depend-on        = "model.FIELD.municipality.value"
            ui-provider         = "model.FIELD.city.provider"
            ui-id               = "'input:dropdown:city'">
        </ui-input-dropdown>
    </div>
    </div>

    <div class="row">
    <div class="col-12 no-gutter">
        <ui-input-dropdown
            ui-is-disabled      = "model.uiIsDisabled"
            ui-form             = "model.formContact"
            ui-model            = "model.FIELD.school"
            ui-active           = "model.FIELD.school.value"
            ui-placeholder      = "model.LABEL.OPTIONS_SCHOOL_PLACEHOLDER"

            ui-has-dependancy   = "'true'"
            ui-depend-on        = "model.FIELD.city.value"
            ui-provider         = "model.FIELD.school.provider"
            ui-id               = "'input:dropdown:school'">
        </ui-input-dropdown>
    </div>
    </div>
</div>



<div class="container" ng-if="model.uiCampaignType == 2">
    <div class="row">
        <div class="col-12 no-gutter">
            <ui-input-dropdown
                ui-is-disabled      = "model.uiIsDisabled"
                ui-form             = "model.formContact"
                ui-model            = "model.FIELD.academies"
                ui-active           = "model.FIELD.academies.value"
                ui-placeholder      = "model.LABEL.OPTIONS_SCHOOL_ACADEMY"

                ui-provider         = "model.FIELD.academies.provider"
                ui-id               = "'input:dropdown:academies'">
            </ui-input-dropdown>
        </div>
    </div>
</div>





<div class="header-section">
    @Кой ще го координира ?
</div>

<ui-input-dropdown
    ui-is-disabled      = "model.uiIsDisabled"
    ui-form             = "model.formContact"
    ui-model            = "model.FIELD.coordinator"
    ui-active           = "model.FIELD.coordinator.value"
    ui-placeholder      = "model.LABEL.OPTIONS_COORDINATOR_PLACEHOLDER"

    ui-reducer          = "model.FIELD.coordinator.reducer"
    ui-provider         = "model.FIELD.coordinator.provider"
    ui-id               = "'input:dropdown:coordinator'">
</ui-input-dropdown>
