// # =======================================================
// # @HELPER : MARGIN with X size
// # =======================================================

.m-auto     { margin : auto; }

.m-bottom-x { margin-bottom  : $X!important;        }
.m-left-x   { margin-left    : $X!important;        }
.m-right-x  { margin-right   : $X!important;        }
.m-top-x    { margin-top     : $X!important;        }
.m-all-x    { margin         : $X!important;        }

.m-bottom-2x { margin-bottom : $XX!important;       }
.m-left-2x   { margin-left   : $XX!important;       }
.m-right-2x  { margin-right  : $XX!important;       }
.m-top-2x    { margin-top    : $XX!important;       }
.m-all-2x    { margin        : $XX!important;       }

.m-bottom-3x { margin-bottom : $XXX!important;      }
.m-left-3x   { margin-left   : $XXX!important;      }
.m-right-3x  { margin-right  : $XXX!important;      }
.m-top-3x    { margin-top    : $XXX!important;      }
.m-all-3x    { margin        : $XXX!important;      }

.m-bottom-4x { margin-bottom : $XXXX!important;     }
.m-left-4x   { margin-left   : $XXXX!important;     }
.m-right-4x  { margin-right  : $XXXX!important;     }
.m-top-4x    { margin-top    : $XXXX!important;     }
.m-all-4x    { margin        : $XXXX!important;     }

.m-bottom-5x { margin-bottom : $XXXXX!important;    }
.m-left-5x   { margin-left   : $XXXXX!important;    }
.m-right-5x  { margin-right  : $XXXXX!important;    }
.m-top-5x    { margin-top    : $XXXXX!important;    }
.m-all-5x    { margin        : $XXXXX!important;    }


// # =======================================================
// # @HELPER : MARGIN with X size
// # =======================================================

.p-bottom-x { padding-bottom  : $X!important;       }
.p-left-x   { padding-left    : $X!important;       }
.p-right-x  { padding-right   : $X!important;       }
.p-top-x    { padding-top     : $X!important;       }
.p-all-x    { padding         : $X!important;       }

.p-bottom-2x { padding-bottom : $XX!important;      }
.p-left-2x   { padding-left   : $XX!important;      }
.p-right-2x  { padding-right  : $XX!important;      }
.p-top-2x    { padding-top    : $XX!important;      }
.p-all-2x    { padding        : $XX!important;      }

.p-bottom-3x { padding-bottom : $XXX!important;     }
.p-left-3x   { padding-left   : $XXX!important;     }
.p-right-3x  { padding-right  : $XXX!important;     }
.p-top-3x    { padding-top    : $XXX!important;     }
.p-all-3x    { padding        : $XXX!important;     }

.p-bottom-4x { padding-bottom : $XXXX!important;     }
.p-left-4    { padding-left   : $XXXX!important;     }
.p-right-4x  { padding-right  : $XXXX!important;     }
.p-top-4x    { padding-top    : $XXXX!important;     }
.p-all-4x    { padding        : $XXXX!important;     }



// # =======================================================
// # @HELPER : WIDTH
// # =======================================================

.width-x    { width : 460px; margin: auto; }
.width-2x   { width : 660px; margin: auto; }
.width-3x   { width : 960px; margin: auto; }


// # =======================================================
// # @HELPER : FLOAT
// # =======================================================

.f--left    { float: left; }
.f--right   { float: right;}

.f--left--mobile
{
    @include on-mobile  { float: none; }
    @include on-desktop { float: left; }
}

.f--right--mobile
{
    @include on-mobile  { float: none; }
    @include on-desktop { float: right; }
}


// # =======================================================
// # @HELPER : ROW ORIENTATION
// # =======================================================

.row
{
  &:after { @include clearfix(); }
}

// # =======================================================
// # @HELPER : Decoration
// # =======================================================


.dash-bottom--xx
{
    border-bottom: dashed 2px #dedede;
}
