// # =======================================================
// # @HELPER : TEXT DECORATION
// # =======================================================

.ts-1x  { font-size : 12px }
.ts-2x  { font-size : 14px }
.ts-3x  { font-size : 16px }
.ts-4x  { font-size : 18px }

.tt-u   { text-transform: uppercase; }
.td-b   { font-weight   : bold;  }

.align--center
{
    text-align        : center;
    margin-left       : auto;
    margin-right      : auto;
}

.align--left
{
    text-align        : left;
}

.align--right
{
    text-align        : right;
}


.tc--primary        { color: $_BACKGROUND_PRIMARY }
.tc--textcontrast   { color: #4d5060 }
