<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class   = "ui-component-list"
     ng-if   = "model.collection.length > 0">

    <div ng-repeat= "element in model.collection track by $index">
        <div class="item--element row m-bottom-x">

            <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
            <!-- @Description   : Show the group elements from a collection object                          -->
            <!-- ========================================================================================== -->
            <div class="component-profile  f--left">

                <div
                    class   = "m-bottom-x m-top-x m-right-2x"
                    style   = "display:inline-block; margin-right: 16px;  background: rgb(110, 192, 105); border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">
                    <i style="font-size: 12px; margin-top: 2px" class="material-icons">&#xE80C;</i>
                </div>

                <span>
                    {{element.campaign_title}}
                </span>
            </div>


            <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
            <!-- @Description   : Show the group elements from a collection object                          -->
            <!-- ========================================================================================== -->
            <div class="f--right">
                <button
                    ng-link = "['/Dashboard/Administration/CampaignSingle', {id : element.id}]"
                    style   = "margin-top: 8px;" class="button button--solid--primary">
                    Разгледай
                </button>
            </div>

        </div>
    </div>

    <div class="item--element row m-bottom-x" ng-link="['/Dashboard/Administration/CampaignCreate']">

        <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class="component-profile  f--left">

            <div
                class   = "m-bottom-x m-top-x m-right-2x"
                style   = "display:inline-block; margin-right: 16px;  background: #dedede; border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">
                <i style="font-size: 12px; margin-top: 4px" class="material-icons">&#xE145;</i>
            </div>

            <span>
                добави нова учебна кампания
            </span>
        </div>
    </div>

</div>
