<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<!-- List -->
<!-- @ -->
<div class="m-top-3x">
    <div class="form-layout">

        <div class="project-form project-form__noborder" style="border: solid #dedede 1px">
            <h2 style="font-size: 21px; margin-bottom: 26px;">@12A клас</h2>
            <ui-list-student
                collection      = "model.collection"
                ui-is-expanded  = "model.isExpanded">
            </ui-list-student>
        </div>

        <form-student>

            <right-form-slot>
                <div
                    style       = "margin-top: 12px;"
                    ng-link     = "['/Dashboard/Tracker']">
                    <i class="material-icons">&#xE317;</i>
                </div>

            </right-form-slot>

            <after-form-slot>
                <button
                    ng-click    = "model.submit_student()"
                    class       = "button button--big button--solid--primary">
                    Добави ученик
                </button>
            </after-form-slot>
        </form-student>

    </div>
</div>
