<!-- Initiative Form Information -->
<!-- @ -->
<form
    novalidate
    name="model.formContact">

    <div class="project-form">
        <h2>{{model.LABEL.PAGE_TITLE}}</h2>

        <!-- Input field @fname -->
        <ui-input
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.group_title"
            ui-placeholder  = "model.LABEL.INPUT_TITLE">
        </ui-input>

        <ui-input
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.group_description"
            ui-placeholder  = "model.LABEL.INPUT_DESCRIPTION">
        </ui-input>

    </div>

    <div class="project-form">
        <h2>{{model.LABEL.label.meta}}</h2>

        <ui-input
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.group_couses"
            ui-placeholder  = "model.LABEL.INPUT_COUSES">
        </ui-input>

    </div>
</form>
