<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard m-top-4x">

    <div class="form-wizard-toolbar" ng-if="model.STATE.IS_HEADER_VISIBLE">

        <div class="container">
            <div class="row">
                <div ng-class="model.is_selected($index)" class="col-3" ng-repeat="element in model.PROPERTY.COLLECTION track by $index">
                    <div ng-click="model.on_select(element, $index)" class="form-wizard-toolbar-tab">{{element.uiTitle}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-wizard--panel">
        <div ng-transclude></div>
    </div>
</div>
