<div class="test__mest">

    <!-- @Component     : @MAIN VIEW DASHBOARD                                                      -->
    <!-- ========================================================================================== -->
    <div class      = "dashboard"
         style      = "position: relative"
         ng-class   = "{'dashboard--push' : model.STATE.IS_SIDEBAR_VISIBLE }">
         <div ng-transclude="splitview-dashboard"></div>
    </div>


    <!-- @Component     : @SIDEBAR DASHBOARD                                                        -->
    <!-- ========================================================================================== -->
    <div class  = "dashboard--sidebar"
         ng-if  = "model.STATE.IS_SIDEBAR_VISIBLE">
         <div ng-transclude="splitview-sidebar"></div>
    </div>
    <!-- <div class  = "dashboard--sidebar">
        <div ng-transclude="splitview-sidebar"></div>
    </div> -->
</div>
