<div class="container">
    <div class="row">

        <div class="col-12">
            <ui-input-dropdown
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.bundle_type"
                ui-active       = "model.FIELD.bundle_type.value"
                ui-placeholder  = "model.LABEL.LABEL_DROPDOWN_TYPE"
                ui-options      = "model.LABEL.OPTIONS_DROPDOWN_TYPE"
                ui-id           = "'input:dropdown:bundle_type'">
            </ui-input-dropdown>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-6">
            <ui-input-dropdown
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.bundle_position"
                ui-active       = "model.FIELD.bundle_position.value"
                ui-placeholder  = "model.LABEL.LABEL_DROPDOWN_POSITION"
                ui-options      = "model.LABEL.OPTIONS_DROPDOWN_POSITION"
                ui-id           = "'input:dropdown:bundle_position'">
            </ui-input-dropdown>
        </div>

        <div class="col-6">
            <ui-input-dropdown
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.bundle_label"
                ui-active       = "model.FIELD.bundle_label.value"
                ui-placeholder  = "model.LABEL.LABEL_DROPDOWN_LABEL"
                ui-options      = "model.LABEL.OPTIONS_DROPDOWN_LABEL"
                ui-id           = "'input:dropdown:bundle_label'">
            </ui-input-dropdown>
        </div>
    </div>
</div>
