<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-layout layout--modal">
    <div class="panel">
        <h3 class="header">@Нов потребител</h3>
        <form-wrapper form-id="FORM_CREATE_USER">
            <form-create-user></form-create-user>
        </form-wrapper>

        <button
            class   ="button button--big button--solid--primary"
            ng-click="model.on_create()">
            Регистрирай
        </button>
    <div>
</div>
