<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-layout layout--modal">
    <div class="panel">
        <h3 class="header">@Създай нова група</h3>

        <form-wrapper form-id="FORM_CREATE_GROUP">
            <form-create-group></form-create-group>
        <form-wrapper>

        <button
            class   ="button button--big button--solid--primary"
            ng-click="model.on_process()">

                <i
                ng-if = "model.STATE.IS_LOADING"
                class   = "loader"></i>

                <span
                ng-if="!model.STATE.IS_LOADING">
                    {{model.LABEL.BUTTON_CREATE}}
                </span>
        </button>
    <div>
</div>
