<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="project-form project-form__noborder" style="min-height: 500px; padding: 8px 25px 25px 25px">
    <div class="row">
        <h2 class="f--left" style="font-size: 21px; margin-bottom: 26px;">@12A клас</h2>
        <div
            class="f--right"
            style="font-weight: bold; color: #6EC069; padding: 10px"
            ng-link = "['/Dashboard/AssigneGoal']">
            <i class="material-icons">&#xE317;</i>
        </div>
    </div>

    <form-goal></form-goal>

    <div style="margin-top: 32px;">

        <!-- @Component     : UI BLOCK : Modal Window                                                   -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div ng-click="model.on_showAdd()" style="display: inline-block; background: #6EC069; color: #fff; width: 20px; height: 20px; display: inline-block; margin-left: 10px;">

            <div ng-if="model.get_data()">
                <i style="font-size: 20px" class="material-icons">&#xE145;</i>
            </div>

            <div ng-if="!model.get_data()">
                <i style="font-size: 20px" class="material-icons">&#xE145;</i>
            </div>
        </div>

        <!-- @Component     : UI BLOCK : Modal Window                                                   -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div ng-if="model.get_data()"  ng-click="model.on_showAdd()" style="display: inline-block; position: absolute; margin-left: 10px">
            @Добави нова цел
        </div>

        <div ng-if="!model.get_data()" style="display: inline-block; margin-left: 10px; width: 90%;">
            <input ng-model="model.inputText" placeholder="@Въведете целта на вашето обучение" type="text" style="width: 80%; display: inline-block; outline: none; border: none; border-bottom: solid #dedede 1px">
            <button style="display: inline-block; width: 15%; margin-left: 16px; padding: 10px 3px 10px 0" class="button button--big button--solid--primary" ng-click="model.on_add()">@добави</button>
        </div>
    </div>
</div>
