<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<wizard-wrapper>

    <wizard-element ui-title="клас">
        <create-bundle></create-bundle>
    </wizard-element>

    <wizard-element ui-title="предмети">
        <assign-subjects></assign-subjects>
    </wizard-element>

    <wizard-element ui-title="ученици">
        <add-students></add-students>
    </wizard-element>

    <wizard-element ui-title="цели">
        <assign-goals></assign-goals>
    </wizard-element>

</wizard-wrapper>
