<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div ng-if="model.STATE.PRESENTATION" style="margin-left : 5px">
    <div class="row m-top-2x contains--elements">
        <div class="component-profile__meta  f--left">
            {{model.name}}
        </div>

        <div class="f--right contains--elements--inner">
            <span ng-click="model.on_edit()">
                <i class="material-icons"   style="font-size: 18px">&#xE254;</i>
            </span>
            <span ng-click="model.on_delete()">
                <i class="material-icons"   style="font-size: 18px">&#xE872;</i>
            </span>
        </div>
    </div>
</div>

<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div ng-if="model.STATE.EDIT" style="margin-left : 5px">
    <div class="row m-top-2x contains--elements">

            <div class="container">
                <div class="row">

                    <div class="col-10">
                        <input
                            ng-model    = "model.inputText"
                            placeholder = "@ученик"
                            type        = "text">
                    </div>

                    <div class="col-2">
                        <div style="display: inline-block; margin-left: 16px; padding: 10px 3px 10px 0; width: 2%" ng-click="model.on_add()">
                            <i class="material-icons">&#xE876;</i>
                        </div>

                        <div style="display: inline-block; margin-left: 16px; padding: 10px 3px 10px 0; width: 2%" ng-click="model.on_close()">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
