<!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div ng-repeat   = "el in model.uiCollection">

    <div class="row m-all-2x">
        <div class="component-profile  f--left">

            <div
                class   = "m-bottom-x m-top-x m-right-2x"
                style   = "display:inline-block; margin-right: 16px;  background: rgb(110, 192, 105); border-radius: 10px; width: 36px; height: 36px; text-align: center; margin: auto; margin-bottom: 36px;">
                <i style="font-size: 18px; margin-top: 8px" class="material-icons">&#xE916;</i>
            </div>

            <span>
                {{el.campaign_term_title}}
            </span>
        </div>

        <div class="f--right">
            <span class   = "m-bottom-x m-top-x m-right-2x"
                  style   = "font-weight: bold; color: #6EC069; line-height: 50px">
                {{el.term_start}}
            </span>

            <span class   = "m-bottom-x m-top-x"
                  style   = "font-weight: bold; color: #F16623">
                {{el.term_end}}
            </span>
        </div>

    </div>
</div>


<h2 class="m-top-2x">Добави срокове на кампанията</h2>

<!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="grid--layout m-top-3x">
    <div class="grid--layout--row">

        <div class="grid--layout--column--4">
            <ui-input-text
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.campaign_term_title"
                ui-placeholder  = "model.LABEL.INPUT_TERM_TITLE">
            </ui-input-text>
        </div>

        <div class="grid--layout--column--4">
            <ui-input-date
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.campaign_date_start"
                ui-placeholder  = "model.LABEL.INPUT_DATE_START">
            </ui-input-date>
        </div>

        <div class="grid--layout--column--4">
            <ui-input-date
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.campaign_date_end"
                ui-placeholder  = "model.LABEL.INPUT_DATE_END">
            </ui-input-date>
        </div>


        <div class="grid--layout--column--4">
            <button class       = "button button--input button--full button--solid--primary"
                    ng-click    = "model.on_create()">Добави
            </button>
        </div>

        <!-- <div class="grid--layout--column--4" ng-transclude></div> -->
    </div>
</div>
