<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class   = "ui-component-list"
    ng-if   = "model.collection.length > 0">

    <div
        style       ="margin-left: -16px;"
        ng-repeat   = "element in model.collection track by element.id">


        <div class="component-profile  f--left" style="margin-left: 16px; margin-right: -8px; margin-top: 10px;">
            <ui-profile
                ui-size         = "'picture-3x'"
                ui-signature    = "element.signature">
            </ui-profile>
        </div>

    </div>
</div>
