<!--<div ng-if="!model.uiPresentation">-->

    <form
        novalidate
        name        = "model.formContact"
        ng-keyup    = "model.on_change()">

        <div class="project-form project-form__noborder">

                <div class="row">
                    <div class="f--left">
                        <h2>{{model.LABEL.LABEL_EDUCATION}}</h2>
                    </div>
                    <div style="margin: 15px 0" class="f--right" ng-transclude></div>
                </div>

                <ui-input-dropdown
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.degree"
                    ui-active       = "model.FIELD.degree.value"
                    ui-placeholder  = "model.LABEL.INPUT_DEGREE"
                    ui-options      = "model.LABEL.TEST"
                    ui-id           = "'input:dropdown:degree'">
                </ui-input-dropdown>


                <!-- Input field @institution -->
                <ui-input-text
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.institution"
                    ui-placeholder  = "model.LABEL.INPUT_INSTITUTION">
                </ui-input-text>

                <!-- Input field @education_date_start -->
                <ui-input-date
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.education_date_start"
                    ui-placeholder  = "model.LABEL.INPUT_EDUCATION_DATE_START">
                </ui-input-date>

                <!-- Input field @education_date_end -->
                <ui-input-date
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-ongoing      = "'true'"
                    ui-model        = "model.FIELD.education_date_end"
                    ui-placeholder  = "model.LABEL.INPUT_EDUCATION_DATE_END">
                </ui-input-date>

                <!-- Input field @field_of_study -->
                <ui-input-text
                    ui-is-disabled  = "model.uiIsDisabled"
                    ui-form         = "model.formContact"
                    ui-model        = "model.FIELD.field_of_study"
                    ui-placeholder  = "model.LABEL.INPUT_FIELD_OF_STUDY">
                </ui-input-text>
        </div>
    </form>



<!--</div>-->

<!-- @ -->
<!--<div ng-if="model.uiPresentation">

    <div class="project-form project-form__noborder">

        <div class="row">
            <div class="f--left">
                <h2  style="font-weight: bold;">{{model.FIELD.institution.value}}</h2>
            </div>
            <div style="margin: 15px 0" class="f--right" ng-transclude></div>
        </div>

        <div>
            <span>{{model.LABEL.TEST[model.FIELD.degree.value].title}}, {{model.FIELD.field_of_study.value}}</span>
        </div>

    </div>
</div>-->
