*
{
  box-sizing: border-box;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
figure, figcaption, footer, header
{
	margin              : 0;
	padding             : 0;
	border              : 0;
	font-size           : 100%;
	font                : inherit;
	vertical-align      : baseline;
    box-sizing          : border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
	display             : block;
}

html
{
    width                   : 100%;
    height                  : 100%;
    line-height             : 1.15;
    // font-family             : 'Roboto';
    // font                    : normal 14px/1.618em "Roboto", sans-serif;
    font-family             : 'Trebuchet MS';
    font                    : normal 14px/1.618em "Trebuchet MS", sans-serif;


    // background              : #eff0f4;
    background              : #fcfcfc;
    -webkit-font-smoothing  : antialiased;
    -ms-text-size-adjust    : 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    width               : 100%;
    margin              : 0;
    line-height         : 1.15;
    // font-family         : 'Roboto';
    // font                : normal 14px/1.618em "Roboto", sans-serif;

    font-family         : 'Trebuchet MS';
    font                : normal 14px/1.618em "Trebuchet MS", sans-serif;

	-webkit-font-smoothing: antialiased;
}

ol li {
    color       :#C6C2BD;
    font-weight : bold;
}

ol li span {
    color       : #4d5060;
    margin-left : 4px;
}

blockquote, q
{
	quotes              : none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content             : '';
	content             : none;
}

table
{
	border-collapse     : collapse;
	border-spacing      : 0;
}

i
{
  cursor                : pointer;
}

p
{
    margin              : 16px 0;
}

a
{
    background-color    : transparent;
    -webkit-text-decoration-skip: objects;
}
