// Variables
// =============================================
@import '@config/color.scss';
@import '@config/font.scss';
@import '@config/grid.scss';
@import '@config/media.scss';


// Helpers
// =============================================
@import '@mixins/helpers.scss';
@import '@mixins/mediq.scss';
@import '@mixins/color.scss';

// foundation
// =============================================
@import 'reset.scss';

// Layouts
// =============================================
@import 'layouts/layout.scss';
@import 'layouts/grid.scss';

// Utils
// =============================================
@import 'utils/block.scss';
@import 'utils/text.scss';

// Animations
// =============================================
@import 'animations/loader.scss';
@import 'animations/directives.scss';
@import 'animations/effects.scss';

// foundation
// =============================================
@import 'foundation/button.scss';
@import 'foundation/form.scss';
@import 'foundation/label.scss';
@import 'foundation/placeholder.scss';
@import 'foundation/filter.scss';
@import 'foundation/header.scss';


// Decoration
// =============================================
@import 'decoration/contrast.scss';


// // Components
// // =============================================

@import 'components/authentication.scss';
@import 'components/dropdown-info.scss';

@import 'components/toolbar.scss';
@import 'components/card.scss';
@import 'components/search.scss';
@import 'components/tooltip.scss';
@import 'components/ui-dropdown.scss';
@import 'components/ui-classroom.scss';
@import 'components/ui-checkbox.scss';
@import 'components/component-profile.scss';
@import 'components/component-info.scss';
@import 'components/mobile-toolbar.scss';
@import 'components/ui-navigation.scss';
@import 'components/ui-schedule.scss';
@import 'components/ui-sidebar.scss';
@import 'components/calendar.scss';

// Components
// =============================================
@import 'ui/ui-component-information.scss';
@import 'ui/ui-spot.scss';


// Blocks
// =============================================
@import 'blocks/ui-block.scss';
@import 'blocks/ui-block-message.scss';
@import 'blocks/ui-block-poll.scss';
@import 'blocks/ui-block-article.scss';
@import 'blocks/ui-block-members.scss';
@import 'blocks/ui-mobile-profile.scss';


// Vendor
// =============================================
@import 'vendor/angular-meditor.scss';


@import 'to_separate_css.scss';


.item--element
{
    position    : relative;
}

.item--element--selected
{
    .item--element--controls
    {
        display : block;
    }

    .ui-checkbox
    {
        border: solid #6EC069 1px!important;
    }
}

.item--element:hover
{
    cursor      : pointer;
    background  : #f5faff;

    .item--element--controls
    {
        display : block;
    }
}

.item--element--controls
{
    display     : none;
    position    : absolute;
    top         : 10px;
    right       : 180px;

    i
    {
        font-size   : 20px;
        width       : 26px;
        height      : 33px;
        margin      : 0 5px;
        position    : relative
    }
}

.item--element--content
{
    display         : inline-block;
    margin-right    : 16px;
    border-radius   : 10px;
    width           : 20px;
    height          : 20px;
    text-align      : center;
    margin          : auto;
    margin-bottom   : 36px;

    i
    {
        font-size   : 12px;
    }
}

//
//
// #############################################
//
//

.test__mest
{
    position        : relative;
    margin-top      : 82px;
    width           : 100%;
    height          : calc(100vh - 82px);
}

.test__mest > *
{
    min-height: 100%;
}

.test__mest:after
{
    @include clearfix();
}

.dashboard
{
    // margin-top      : 150px;
    padding-left    : 42px;
    // padding-right   : 25px;
    // border-right    : solid #dedede 1px;
}

.dashboard--push
{
    margin-right    : 525px;
}

.dashboard--sidebar
{
    position        : absolute;
    top             : 0;
    right           : 0;
    width           : 500px;
    padding-right   : 25px;
    padding-left    : 25px;
    border-left     : solid #dedede 1px;
}

.dashboard--footer {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    height          : 60px;
    width           : 100%;
    padding-left    : 42px;
    border-top      : solid #dedede 1px;
    background      : #fff;
}



.ui-component-list {
    overflow        : auto;
    height          : calc(100vh - 216px);
}

//
//
// #############################################
//
//

.ui-checkbox
{
    display         : inline-block;
    width           : 16px;
    height          : 16px;
    border          : solid #9e9e9f 1px;
    border-radius   : 1px;


    i
    {
        display     : none;
        font-size   : 16px;
    }
}

.ui-checkbox--checked
{
    border          : none;

    i
    {
        display     : block;
        font-size   : 16px;
        color       : $_BACKGROUND_PRIMARY;
    }
}



//
// TODO: Organise labels
// #############################################
//

.project--group {
    display: block;
    color: #4d5060;
    font-weight: bold;
    margin-bottom: 14px;
}


.project--task {
    display: inline-block;
    margin-top: 5px
}


.project--task--input {
    border: none;
    outline: none;
    display: inline-block;
    width: 90%
}


.project--footer--icon {
    color: #6EC069;
}

.project--footer--label {
    font-weight: bold;
    color: #6EC069;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 5px;
}










.ui-member-picker
{
    position        : relative;
    width           : 250px;
    height          : 182px;
    overflow        : auto;
    background      : #fff;
    border          : solid #dedede 1px;
    border-radius   : 2px;
    padding         : 15px;

    @include        shadow();
}

.arrow-up
{
    content             : '';
    display             : block;
    position            : absolute;
    top                 : -5px;
    left                : 50%;
    width               : 10px;
    height              : 10px;
    background          : #fff;
    //border              :1px solid #CAD5E0;
    // border-bottom       :1px solid #CAD5E0;
    -moz-transform      : rotate(-45deg);
    -webkit-transform   : rotate(-45deg);


    border-top              :2px solid #dedede;
    border-right            :2px solid #dedede;

    z-index: 999;
}
























.subway-circle{
    display: inline-block;
 }
 .subway-circle::before{
     display: inline-block;
     width:15px;
     height:15px;
     border-radius: 15px;
     content: '';
     margin-right: 10px;
 }

 .subway-circle.spot--1::before{
     background-color: #FFAAAA;
 }

 .subway-circle.spot--2::before{
    background-color: #d2f2ac;
}

.subway-circle.spot--3::before{
    background-color: #fbf0a8;
}

.subway-circle.spot--4::before{
    background-color: #b5d3f6;
}








.icon-placeholder
{
    display         :inline-block;
    margin-right    : 16px;
    border-radius   : 10px;
    width           : 20px;
    height          : 20px;
    text-align      : center;
    margin          : auto;
    margin-bottom   : 36px;
}


.icon--test
{
    font-size: 12px;
    margin-top: 4px
}
