.experimental:after
{
    @include clearfix();
}

.test-panel-absolute
{
    position    : fixed;
    width       : 100%;
    z-index     : 999999;
    background  : #fff;
    height      : 100%;
    width       : 960px;
}


.message--input
{
    padding-bottom  : 25px;
    background      : #fff;

    @include on-mobile
    {
        width       : 100%;
    }

    @include on-desktop
    {
        width       : 815px;
    }
}


.stay--down
{
    position    : fixed;
    bottom      : 0;
}


.stay--fit
{
    width       : 808px;
}


.heading
{
    color           : #6EC069;
    font-weight     : bold;
    text-transform  : uppercase
}


.comment-box
{
    position: relative;
}

.comment-box-timeline
{
    position        : absolute;
    border-left     : dashed #6EC069 1px;
    height          : 67%;
    left            : 17px;
    top             : 43px;
}

.component-info
{
    width           : 460px;
    background      : #fff;
    height          : 100%;
    border          : solid #dedede 1px;
    border-radius   : 4px;
    text-align      : left;
}


.component-info-header
{
    line-height: 1.3;
}


.display-hide
{
   display: none;
}


#calendar-sidebar
{
    .ui-dropdown__title
    {
        background  : #262D32;
        color       : #4d5060;
    }
}

.cld-main
{
    height: 600px;
}




.border-box
{
  box-sizing        : border-box;
  -moz-box-sizing   : border-box;
}

.panel--dark
{
    background      : #21272c
}

.panel--darkgrey
{
    background      : #262D32;
    font-weight     : bold;
    color           : #4d5060;
}


//
//
//
//  =========================================

.contains--elements:hover
{
    color: #6EC069;

    .component-profile__meta
    {
        color       : #4d5060;
        font-weight : bold;
    }

    .component-profile-signature
    {
        background  : #fff;
        border      : solid #6EC069 2px;
    }

    .signature
    {
        color       : #fff;
    }
}

.simple-circle
{
    position        : absolute;
    left            : 9px;
    top             : 26px;
    width           : 20px;
    height          : 20px;
    border-left     : dashed #6EC069 2px;
}

.grid--layout
{
    width           : 100%;
}

.grid--layout--row
{
    &:after  { @include clearfix(); }
}

.grid--layout--column--4
{
    width           : 23%;
    float           : left;
    margin-right    : 2%;
}



.element--deleted {
    text-decoration : line-through;
}




//
//
//
//
///
///
///
//
.header
{
    text-transform  : uppercase;
    color           : $_BACKGROUND_PRIMARY;
    font-weight     : bold
}

.header-section
{
    margin          : $X 0 $XX 0;
    padding         : 0 0 10px 0;
    color           : $_BACKGROUND_PRIMARY;
    font-weight     : bold
}



.icon
{
    background      : rgb(110, 192, 105);
    border-radius   : 50px;
    width           : 100px;
    height          : 100px;
    text-align      : center;
    margin          : auto;
    margin-bottom   : 36px;

    i
    {
        margin-top  : 18px;
        font-size   : 54px
    }
}

.icon-half
{
    background      : rgb(110, 192, 105);
    border-radius   : 50px;
    width           : 50px;
    height          : 50px;
    text-align      : center;

    i
    {
        margin-top  : 13px;
        font-size   : 22px
    }
}

.icon--primary
{
    color           : $_BACKGROUND_PRIMARY!important;
}

.icon--orange
{
    color           : $_BACKGROUND_ORANGE!important;
}

.icon--red
{
    color           : #ff0000!important;
}


.bold
{
    font-weight     : bold;
}

.icon-default
{
    color           : #4d5060;
}


//
//
///
///
//
//

.form-wizard
{
    width           : 960px;
    margin          : auto;
    box-sizing      : border-box;
}

.form-wizard:after { @include clearfix(); }

.form-wizard-toolbar
{
    background      : #fff;
    margin-bottom   : 8px;

    ul li
    {
        display     : inline-block;
        border      : solid #dedede 1px;
        padding     : 5px 10px;
    }
}

.form-wizard-toolbar-tab
{
    padding         : 10px 0;
    color           : #4d5060;
    text-align      : center;
    cursor          : pointer;
    text-transform  : uppercase;
    font-weight     : bold;

    border-bottom   : solid #fff 2px
}

.form-wizard-toolbar-tab:hover
{
    border-bottom   : solid #6EC069 2px
}

.form-wizard--panel {
    background: #fff;
    width   : 960px;
    box-sizing: border-box;
}

.form-wizard--panel:after {
    @include clearfix();
}

.form-wizard--content
{
    border-right: solid #dedede 1px;
    // float: left;
    // width: 660px;
    padding: 25px;
}

.model--content
{
    height: 500px;
    overflow: auto;
}

.form-wizard--info
{

    float: right;
    width: 300px;
    padding: 25px;
}

.form-wizard--content-r
{
    border-right: solid #dedede 1px;
    float: left;
    width: 300px;
    padding: 25px;
}

.form-wizard--info-l
{

    float: right;
    width: 660px;
    padding: 25px;
}


.tab-selected
{
    background: #6EC069;
}

.tab-visited
{
    background: #dedede;
}
