<div class="overlay" style="position: absolute; top: 0; left: 0; background: #dedede"></div>
<div class="form-layout layout--modal">
    <div class="panel">
        <div class="panel-header">
            <h3 class="header f--left">{{model.uiTitle}}</h3>
            <div class="panel-header--close f--right">
                <i class="material-icons">&#xE5CD;</i>
            </div>
        </div>

        <div ng-transclude></div>
    </div>
</div>
