<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--content">

    <h3 class="header">Присъствия</h3>
    <h3 class="header">Домашни</h3>

    <div ng-if="model.collection.length > 0">
        <ol>
            <div ng-repeat="element in model.collection">
                <div class="row">

                    <!-- @  -->

                        <div class="component-profile  f--left">
                            <li class="m-left-2x">
                                <span>{{element.name}}</span>
                            </li>
                        </div>

                    <div class="f--right">

                        <div class       = "f--right m-left-x  m-right-x"
                            ng-click        = "model.on_attendance(element, 'absent')">
                            <i class        = "material-icons"
                                ng-class    = "model.is_attendance(element, 'absent') ? 'icon--red' : ''">
                                    &#xE426;
                            </i>
                        </div>

                        <div class       = "f--right m-left-x  m-right-x"
                            ng-click         = "model.on_attendance(element, 'late')">
                            <i class         = "material-icons"
                                ng-class     = "model.is_attendance(element, 'late') ? 'icon--orange' : ''">
                                &#xE422;
                            </i>
                        </div>

                        <div class       = "f--right m-left-x  m-right-x"
                            ng-click    = "model.on_attendance(element, 'present')">
                            <i class       = "material-icons"
                                ng-class    = "model.is_attendance(element, 'present') ? 'icon--primary' : ''">
                                &#xE192;
                            </i>
                        </div>

                    </div>

                </div>
            </div>
        </ol>
    </div>

    <div ng-if="model.collection.length == 0">
        В момента няма ученици в този клас
    </div>


    <!-- ========================================================================================== -->
    <!-- @Component     : ROOT OUTLENT                                                              -->
    <!-- @Description   : Load every single group related component                                 -->
    <!-- ========================================================================================== -->
    <div style="border-top: solid #dedede 1px; margin-top: 25px; padding-top: 25px">

        <div class="container">
            <div class="row">

                <div class="col-1" style="margin-left: 0">
                    <div class="icon-half">
                        <i class="material-icons">&#xE855;</i>
                    </div>
                </div>

                <div class="col-8">
                    <p>Дневникът ти дава възможност да, следиш присъствието на всичките си ученици, в рамките на всяко учебно занятие.</p>
                    <ul>
                        <li style="position: relative">
                            <i class = "material-icons icon--primary"> &#xE192;</i>
                            <span style="position: absolute; top: 2px; margin-left: 8px">Ученикът присъства в час</span>
                        </li>
                        <li style="position: relative">
                            <i class = "material-icons icon--orange"> &#xE422;</i>
                            <span style="position: absolute; top: 2px; margin-left: 8px">Ученикът е закъснял за час</span>
                        </li>
                        <li style="position: relative">
                            <i class = "material-icons icon--red"> &#xE426;</i>
                            <span style="position: absolute; top: 2px; margin-left: 8px">Ученикът отсъства от час</span>
                        </li>
                    </ul>
                </div>

                <div class="col-3">
                    <button class="button button--big button--solid--primary" ng-click="model.on_next();">
                        Запиши присъстващите
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
