<div class = "item--element--content m-bottom-x m-top-x m-right-2x">
    <i class = "material-icons">&#xE145;</i>
</div>

<input  ng-model    = "model.FIELD.task_title.value"
        name        = "{{model.FIELD.task_title.name}}"
        style       = "border: none; outline: none; display: inline-block; width: 90%"
        placeholder = "добави нова задача"
        type        = "text"/>

<div class  =   "item--element--controls">
    <button class    = "button button--small button--solid--primary"
            ng-click = "model.on_create()">Добави</button>
</div>
