<ui-sidebar ui-title = "model.LABEL.SIDEBAR_TITLE">

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="profile" state-id = "profile" state-init="true">
        <h2 class="heading m-top-3x">{{model.LABEL.LABEL_ACTION}}</h2>

        <ui-action
            ui-icon  = "&#xE145;"
            ng-link  = "['PersonalInfo']"
            title    = "model.LABEL.LABEL_CONTACT">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE145;"
            ng-link  = "['EducationInfo']"
            ui-click = "model.on_expand('education-extra')"
            title    = "model.LABEL.LABEL_EDUCATION">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE145;"
            ng-link  = "['EmploymentInfo']"
            ui-click = "model.on_expand('employment-extra')"
            title    = "model.LABEL.LABEL_EMPLOYMENT">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE145;"
            ng-link  = "['LanguagePreferences']"
            title    = "model.LABEL.LABEL_LANGUAGE">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE879;"
            ui-click = "model.on_logout()"
            title    = "model.LABEL.LABEL_LOGOUT">
        </ui-action>
    </ui-state>

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="profile" state-id = "education-extra">
        <h2 class="heading m-top-3x">#Образование</h2>

        <ui-action
            ui-icon  = "&#xE145;"
            ui-click = "model.on_open('modal-education-create')"
            title    = "'Добави образование'">
        </ui-action>
    </ui-state>

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="profile" state-id = "employment-extra">
        <h2 class="heading m-top-3x">#Работодател</h2>

        <ui-action
            ui-icon  = "&#xE145;"
            ui-click = "model.on_open('modal-employment-create')"
            title    = "'Добави работодател'">
        </ui-action>
    </ui-state>

</ui-sidebar>

<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class = "block dashboard m-top-5x"
    style       = "position:relative"
    ng-class    = "model.STATE.IS_SIDEBAR_VISIBLE ? '' : 'dashboard--full'">

    <ng-outlet  class="main"></ng-outlet>
</div>


<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<ui-state state-domain="profile" state-id = "modal-education-create">
    <form-dialog>
        <form-education-pack></form-education-pack>
    </form-dialog>
</ui-state>

<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<ui-state state-domain="profile" state-id = "modal-employment-create">
    <form-dialog>
        <form-employment-pack></form-employment-pack>
    </form-dialog>
</ui-state>

