<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class   = "ui-component-list"
    ng-if   = "model.collection.length > 0">

    <div ng-repeat   = "element in model.collection track by element.id">

        <div class="row m-all-2x">
            <div class="component-profile  f--left">

                <ui-profile
                    ui-size         = "'picture-3x'"
                    ui-signature    = "element.signature">
                </ui-profile>
            </div>

            <div class="f--right">
                <button
                    ng-link = "['/Dashboard/AssigneClass/StudentListComponent', {id : element.id}]"
                    style   = "margin-top: 8px;" class="button button--solid--primary">
                    Разгледай
                </button>
            </div>

        </div>
    </div>
    <div class="m-all-2x" ng-transclude></div>
</div>
