<div class="animated fadeIn">
    <div class="project-form">
        <div class="ui-block">

            <div class="ui-block__preview" ng-click="model.on_activate()">

                <!-- Preview Block -->
                <!-- @ -->
                <span ng-show="model.STATE.IS_PREVIEW_VISIBLE">
                    {{model.LABEL.BLOCK_PLACEHOLDER}}
                </span>

                <!-- Profile Block -->
                <!-- @ -->
                <ui-profile
                    ng-show         = "!model.STATE.IS_PREVIEW_VISIBLE"
                    service-provide = "true">
                </ui-profile>
            </div>

            <!-- @ -->
            <div class="ui-block__content">

                    <div ng-if   = "model.COMPONENT.post.IS_ACTIVE">
                        <ui-block-post
                            ui-mode = "'interactive'">
                        </ui-block-post>
                    </div>

                    <div ng-if   = "model.COMPONENT.article.IS_ACTIVE">
                        <ui-block-article
                            ui-mode = "'interactive'">
                        </ui-block-article>
                    </div>

                    <div ng-if   = "model.COMPONENT.poll.IS_ACTIVE">
                        <ui-block-poll
                            ui-mode = "'interactive'">
                        </ui-block-poll>
                    </div>

                    <div ng-if   = "model.COMPONENT.video.IS_ACTIVE">
                        <ui-block-video
                            ui-mode = "'interactive'">
                        </ui-block-video>
                    </div>
            </div>

            <!-- @ -->
            <!-- @ -->
            <div class="ui-block__toolbar">

                <ul>
                    <li class="tooltip">
                        <i
                            ng-class    = "model.COMPONENT.post.IS_ACTIVE ? 'element-active' : ''"
                            class       = "material-icons"
                            ng-click    = "model.on_change('post')">&#xE867;</i>

                        <span class="tooltip__content tooltip__content--down">
                            create post
                        </span>
                    </li>



                    <li class="tooltip">
                        <i
                            ng-class    = "model.COMPONENT.article.IS_ACTIVE ? 'element-active' : ''"
                            class       = "material-icons"
                            ng-click    = "model.on_change('article');">&#xE893;</i>

                        <span class="tooltip__content tooltip__content--down">
                            create article
                        </span>
                    </li>

                    <li class="tooltip">
                        <i
                            ng-class    = "model.COMPONENT.poll.IS_ACTIVE ? 'element-active' : ''"
                            class       = "material-icons"
                            ng-click    = "model.on_change('poll');">&#xE01D;</i>

                        <span class="tooltip__content tooltip__content--down">
                            create poll
                        </span>
                    </li>

                    <!--<li class="tooltip">
                        <i
                            ng-class    = "model.COMPONENT.video.IS_ACTIVE ? 'element-active' : ''"
                            class       = "material-icons"
                            ng-click    = "model.on_change('video')">&#xE037;</i>

                        <span class="tooltip__content tooltip__content--down">
                            create video
                        </span>
                    </li>

                    <li class="tooltip">
                        <i
                            ng-class    = "model.COMPONENT.image.IS_ACTIVE ? 'element-active' : ''"
                            class       = "material-icons"
                            ng-click    = "model.on_change('image')">&#xE3B0;</i>

                        <span class="tooltip__content tooltip__content--down">
                            create image
                        </span>
                    </li>-->
                </ul>

                <div class="f--right--mobile">
                    <button
                        class       = "button button--small button--solid--primary"
                        ng-click    = "model.on_submit()">
                        {{model.LABEL.BUTTON_ACTION}}
                    </button>
                </div>

            </div>
        </div>


    </div>
</div>
