.calendar-component {
    position        : relative;
}

.calendar {
  display           : block;
  box-sizing        : border-box;
  -moz-box-sizing   : border-box;

  margin-bottom     : 10px;
  overflow          : hidden;
  min-height        : 600px;
}

.calendar-wrapper {
  border            : solid 1px #CCC;
  box-shadow        : #ccc 2px 2px 10px;
}

.calendar > div.calendar-header {
  height            : 100px;
}

.calendar > div.calendar-header > i {
  float             : left;
  width             : 40px;
  font-size         : 1.125em;
  font-weight       : bold;
  position          : relative;
  box-sizing        : border-box;
  -moz-box-sizing   : border-box;
  padding           : 0 10px;
  cursor            : pointer;
}

.calendar > div.calendar-header > i.fa-angle-left {
  text-align        : left;
}

.calendar > div.calendar-header > i.fa-angle-right {
  text-align        : right;
  margin-left       : -40px;
}

.calendar > div.calendar-header > span {
  float             : left;
  width             : 400px;
  font-weight       : bold;
  text-transform    : uppercase;
  box-sizing        : border-box;
  -moz-box-sizing   : border-box;
  padding-left      : 50px;
  margin-left       : -40px;
  text-align        : center;
  padding-right     : 40px;
  color             : inherit;
}
.calendar > div.week {
  float             : left;
  width             : 100%;
}

.calendar-wrapper > div.week:first-child {
  border-top        : none;
}

.calendar-wrapper > div.week > span.day {

  float             : left;
  width             : 20%;
  box-sizing        : border-box;
  -moz-box-sizing   : border-box;
  font-size         : 0.75em;
  text-align        : center;
  line-height       : 30px !important;
  display           : inline-block;
  vertical-align    : middle;
  background        : white;
  cursor            : pointer;
  color             : black;
  height            : 100%;
  min-height        : 120px;
}


.names > span.day {
    min-height: 50px!important;
}


.calendar-wrapper > div.week > span.day:first-child {
  border-left       : none;
}

.calendar-wrapper > div.week > span.day.different-month {
  color             : #C0C0C0;
}

.calendar-wrapper > div.week > span.day.selected {
  color             : white;
}


.calendar-wrapper > div.week.names > span {
  font-weight       : bold;
  height            : 30px!important;
  font-size         : 18px;
}


.top-header-month {
    display         : inline-block;
    text-align      : center;
    font-weight     : bold;
    font-size       : 23px;
}


.calendar-day-number {
    display         : inline-block;
    margin          : 16px;
    width           : 28px;
    height          : 28px;
    border-radius   : 20px;
    font-weight     : normal;
    font-weight     : bold;
    font-size       : 16px
}

.calendar-sidebar {
    position        : absolute;
    right           : 0;
    top             : 0;
    bottom          : 0;
    // background      : #21272c;
    background      : #fff;
    width           : 20%;
    color           : #4d5060;
    min-height      : 600px;
    border-bottom: solid #dedede 2px;
}

.calendar-sidebar {
    .ui-dropdown__title {
        background  : #262D32;
        color       : #4d5060;
    }
}


.day {
    border: solid #dedede 1px;
    text-align: right!important;
}

.names .day {
    text-align: center!important;
}




.calendar-sidebar-header {
    font-size       : 16px;
    background      : #6EC069;
    padding         : 16px 0;
    color           : #fff;
    position        : relative
}


.calendar-panel {
    width           : 80%;
}


.today {
    color: #6EC069!important;
    font-weight: bold;
}


.active-element--calendar {
    color: #6EC069!important;
}



.calendar-wrapper > div.names > span.day {
    min-height: 40px!important;
    border: none!important;
}


.week .day:last-child {
    border-right: none;
}
