// # =======================================================
// # @COMPONENT : CARD
// # =======================================================


.card {
    cursor          : pointer;
    background      : #fff;

    @include on-mobile
    {
        margin          : 25px 0;
    }

    @include on-desktop
    {
        margin          : 25px;
        padding         : 25px;

        &:hover {
            border      : solid $_BACKGROUND_PRIMARY 1px;
        }
    }
}

.card--full {

    @include on-mobile
    {

    }

    @include on-desktop
    {
        border-radius   : 4px;
        border          : solid 1px #fff;
    }
}


//////
//////

.message__card {
  background        : #262D32;
  width             : 90%;
  box-sizing        : border-box;
  margin            : 15px;
  color             :#4d5060;
  font-weight       : bold;
  cursor            : pointer;

  &:after {
     @include clearfix();
  }

  &:hover {
    background      : #6cab4b;
  }


  h2 {
    margin-left     : 0;
  }

  .message_content {
    margin-top      : 10px;
  }

  .circle {
    background      : #fff;
    border-radius   : 50px;
    width           : 40px;
    height          : 40px;
  }

  .left {
    float           : left;
    width           : 30%;
  }

  .right {
    float           : left;
    width           : 70%;
  }
}

//
//
.blog__card {

  margin            : 25px auto;
  width             : 80%;
  background        : #fff;
  border            : solid #dedede 1px;
  padding           : 25px;
  box-shadow        : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


  .blog__card__header {
    &:after {
      @include clearfix();
    }
  }


  .first {
    float           : left;
    // width: 10%;
    margin-right    : 20px;
  }

  .blog_circle {
    // width: 50px;
    // height: 50px;

    width           : 25px;
    height          : 25px;

    background      : #6cab4b;
    border-radius   : 50px;
  }

  .second {
    float           : left;
    width           : 40%;
    color           : #6cab4b;
    font-weight     : bold;
  }

  .third {
    float           : left;
    width           : 50%;
    text-align      : right;
  }

  .blog__card__header {
    margin-bottom   : 25px;
  }

  .blog__card__content {
      p {
        margin      : 10px 0;
      }
  }

}


// Message Input
// #
.message_input {
  margin            : 25px auto;
  width             : 80%;
  background        : #fff;
  border            : solid #dedede 1px;
  padding           : 0 25px;

  input[type="text"] {
    width           : 95%;
    padding         : 15px 0;
    border          : none;
    outline         : none;
  }
}

//
.main-title {
    padding         : 5px;
    margin          : 20px 0px 15px 15px;
    color           : $_BACKGROUND_XL;
    font-weight     : bold;
}

.main-content {
    padding         : 5px;
    margin          : 0px 0px 15px 15px;
}
