.component-profile
{
    &:after
    {
        @include clearfix();
    }
}

.component-profile--image
{
    float           : left;
    text-align      : center;
    margin-right    : $X!important;
}

.component-profile--meta
{
    float           : left;
    font-weight     : bold;
    font-family     : Roboto;
    color           : #4d5060;
    font-size       : 14px;
    margin-top      : 9px;
}

.component-profile--signature
{
    font-weight     : bold;
    background      : #fff;
    color           : #21272c;
    text-align      : center;
    border          : solid #6EC069 2px;
}

.picture
{
    width           : 26px;
    height          : 26px;
    border-radius   : 50px;

    .signature
    {
        padding-top : 6px;
        font-size   : 8px
    }
}

.picture-x
{
    width           : 36px;
    height          : 36px;
    border-radius   : 50px;
    margin          : auto;

    .signature
    {
        padding-top : 6px
    }
}

.picture-2x
{
    width           : 40px;
    height          : 40px;
    border-radius   : 50px;
    margin          : auto;

    .signature
    {
        padding-top : 8px
    }
}

.picture-3x
{
    width           : 45px;
    height          : 45px;
    border-radius   : 50px;
    margin          : auto;

    .signature
    {
        padding-top : 12px
    }
}

.picture-4x
{
    width           : 50px;
    height          : 50px;
    border-radius   : 50px;
    margin          : auto;

    .signature
    {
        padding-top : 12px
    }
}

.picture-5x
{
    width           : 64px;
    height          : 64px;
    border-radius   : 50px;
    margin          : auto;

    .signature
    {
        padding-top : 19px
    }
}

.picture-6x
{
    width           : 100px;
    height          : 100px;
    border-radius   : 50px;
    margin          : auto;

    .signature
    {
        padding-top : 37px;
        font-size   : 26px;
    }
}


.component-profile-signature
{
    margin: auto
}
