.component-info {

    margin          : auto;
    text-align      : center;

    height          : 1px;
    font-weight     : bold;
    color           : #6cab4b;

    @include on-mobile
    {
        width       : 100%;
        padding     : 25px;
    }

    @include on-desktop
    {
        width        : 400px;
    }
}

.component-info-picture {
    background      : rgb(110, 192, 105);
    border-radius   : 50px;
    width           : 100px;
    height          : 100px;
    text-align      : center;
    margin          : auto;
    margin-bottom   : 36px;

    i {
        margin-top  : 18px;
        font-size   : 54px
    }
}


.component-info-header {
    font-size       : 26px;
    margin-bottom   : 50px;
}
