.dropdown-info {
    position        : relative;
}

.dropdown-info_content {

    position        : absolute;
    display         : none;
    top             : 52px;

    width           : 245px;
    background      : #fff;
    padding         : 12px;
    border          : solid #dede 1px;
    border-radius   : 2px;
    box-shadow      : 1px 2px 4px #888888;
}

.dropdown-info_content--show {
    display         : block!important;
}

.dropdown-info_content--hide {
    display         : none;
}
