.mobile-toolbar {

    display         : block;
    background      : $_BACKGROUND_CONTRAST;
    padding         : 15px 36px;
    border-bottom   : solid #dedede 2px;

    &:after {
        @include clearfix();
    }

    @include on-desktop {
        display: none;
    }
}
