.component-search {
    position            : relative;

    .component-search-icon {
        position        : absolute;
        top             : 10px;
        left            : 13px;
        color           : #4d5060;
    }

    .component-search-input {
        height          : 48px;
        border          : none;
        width           : 90%;
        outline         : none;
        color           : #fff;
        padding-left    : 50px;
        background      : #262D32;
        padding-right   : 40px;
    }
}
