.tooltip {
    position        : relative;
    cursor          : pointer;

    @include on-mobile
    {
        display     : none;
    }

    @include on-desktop
    {
        display     : block;
    }
}

.tooltip:hover .tooltip__content {
    visibility      : visible;
}

.tooltip input:focus .tooltip__content {
    visibility      : visible;
}

.tooltip .tooltip__content {
    visibility      : hidden;
    width           : 120px;
    background      : rgba(0, 0, 0, 0.75);
    color           : #fff;
    text-align      : center;
    padding         : 5px 0;
    border-radius   : 3px;
    position        : absolute;
    z-index         : 1;
}

.tooltip__content--right {
    left            : 105%;
    &:after {
        content     : " ";
        position    : absolute;
        top         : 50%;
        right       : 100%;

        /* To the left of the tooltip */
        margin-top  : -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
    }
}

.tooltip__content--left {
    top             : -5px;
    right           : 105%;

    &:after {
        content     : " ";
        position    : absolute;
        top         : 50%;
        left        : 100%;

        /* To the right of the tooltip */
        margin-top  : -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.75);
    }
}

.tooltip__content--top {
    width           : 120px;
    bottom          : 100%;
    left            : 50%;
    margin-left     : -60px;

    &:after {
        content     : " ";
        position    : absolute;
        top         : 100%;

        /* At the bottom of the tooltip */
        left        : 50%;
        margin-left : -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
    }
}

.tooltip__content--down {
    width           : 120px;
    top             : 100%;
    left            : 50%;
    margin-left     : -60px;

    &:after {
        content     : " ";
        position    : absolute;
        bottom      : 100%;

        /* At the top of the tooltip */
        left        : 50%;
        margin-left : -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
    }
}
