
.filter {
  display       : inline-block;
  width         : 200px;
  border        : solid #dedede 2px;
  padding       : 5px;
  text-transform: uppercase;
}

.toolbar__input {
  width         : 80%;
}

.filter__title {
  text-align    : center;
}

.filter_placeholder {
  position      : relative;
}

.filter_dropdown {
  position      : absolute;
  top           : 5px;
  left          : -5px;
  background    : #ff0000;
}


//
//
//  ===================================
.title__toolbar {

  padding       : 5px;
  color         : #262D32;
  margin-bottom : 20px;
  padding       : 25px 0;

  &:after {
     @include clearfix();
  }

  h1 {
    color       : #6cab4b;
    font-size   : 26px;
  }
}

.toolbar_config {
    i {
        margin: 0 15px;
    }
}
