.ui-checkbox {
  cursor            : pointer;
}

.ui-checkbox__decoration {
    position        : absolute;
    right           : 10px;
    top             : 15px;
}

.ui-checkbox__element {

    width           : 100%;
    padding         : 10px;
    margin-bottom   : 1px;
    box-sizing      : border-box;
    color           : #21272c;
}

.ui-checkbox__element:hover {

    .material-icons {
        display: block;
    }

    .checkbox-check {
        background      : $_BACKGROUND_ORANGE;
    }

    .checkbox-content {
        color           : $_BACKGROUND_ORANGE;
        font-weight     : bold;
    }
}

.checkbox-check {
    border          : solid 1px #cbccce;
    width           : 20px;
    height          : 20px;
    display         : inline-block;

    .material-icons {
        display: none;
        color: #fff;
    }
}

.checkbox-content {
    display         : inline-block;
    position        : absolute;
    margin-left     : 10px;
}

.rotate {
    transform       : rotateZ(90deg);
}


.ui-sidebar {

    .ui-checkbox__title
    {
        width       : 90%;
        background  : #262D32;
        color       : #4d5060;
    }

    .ui-checkbox__content
    {
        width       : 90%;
    }
}


.checkbox-state--checked {

    .checkbox-check {
        background      : $_BACKGROUND_PRIMARY!important;
    }

    .checkbox-content {
        color           : $_BACKGROUND_PRIMARY!important;
        font-weight     : bold;
    }

    .material-icons {
        display: block;
    }
}
