.ui-classroom
{
  background    : #fff;
  border        : solid #dedede 1px;
  border-radius : 4px;
  width         : 350px;
  margin-bottom : 16px;
  padding       : 12px;
  cursor        : pointer;
  display       : inline-block;
}

.ui-classroom-content
{
    height: 135px
}

