.ui-dropdown
{
    cursor          : pointer;
}

.ui-dropdown__content
{
    position        : absolute;
    z-index         : 999;

    width           : 100%;
    max-height      : 173px;
    overflow-y      : auto;
    border          : solid #6EC069 1px;
}

.ui-dropdown__content:last-child
{
    border-bottom   : none;
}

.ui-dropdown__title
{
    position        : relative;
    z-index         : 995;

    padding         : 11px 10px;
    margin-bottom   : 20px;
    box-sizing      : border-box;
    color           : #21272c;
    border          : solid 1px #6EC069;
}

.ui-dropdown__decoration
{
    position        : absolute;
    z-index         : 999;

    right           : 10px;
    top             : 15px;
}

.ui-dropdown__element
{
    position        : relative;
    z-index         : 999;

    background      : #fff ;
    width           : 100%;
    padding         : 10px;
    box-sizing      : border-box;
    color           : #21272c;
    border-bottom   : solid #6EC069 1px;
}

.ui-dropdown__element:hover
{
  background        : $_BACKGROUND_PRIMARY;
  color             : #fff;
}

.ui-dropdown--active
{
    background      : $_BACKGROUND_PRIMARY;
    color           : #fff;
}

.ui-sidebar
{
    .ui-dropdown__title
    {
        width       : 100%;
        background  : #262D32;
        color       : #4d5060;
    }

    .ui-dropdown__content
    {
        width       : 90%;
    }
}

