// # =======================================================
// # @COMPONENT : SIDEBAR
// # =======================================================

.ui-navigation-logo
{
    display         : block;
    text-align      : center;
    margin          : 30px 0;
    background      : #6cab4b;
    border-radius   : 50px;

    width           : 35px;
    height          : 35px;

    padding-top     : 5px;
    margin-left     : 16px;
    margin-top      : 19px;
    color           : #4d5060;
}

.ui-navigation
{
    position        : fixed;
    z-index         : 999;
    background      : #fefefe;
    border-bottom   : solid #eef1f2 1px;

    @include on-mobile
    {
        top         : 52px;
        left        : 0;
        width       : 100%;
    }

    @include on-desktop
    {
        top         : 0;
        left        : 0;
        height      : 70px;
        width       : 100%;
    }
}

.ui-navigation--row
{
    margin-top      : 15px;
    margin-left     : 25px;
    margin-right    : 25px;
}

.ui-navigation--menu
{
    margin-top: 10px;
}

.ui-navigation__category
{
    display     : inline-block;
    text-align  : center;

    @include on-mobile
    {
        float       : left;
        margin      : 15px 25px;
    }

    @include on-desktop
    {
        margin      : 10px 0;
        padding     : 5px 0;

    }

    &:hover {
        border-left: solid #6cab4b 3px;
    }
}

.ui-navigation__category a {

    color       : #4d5060;
    &:hover {
        color   : #6cab4b;
    }
}



// # =======================================================
// # @COMPONENT : TOP BAR
// # =======================================================

.ui-navigation--top
{
    background      : #fff;
    padding         : 12px 43px;
    border-bottom   : solid #eeeff3 1px;
    margin-left     : 75px;
}

.navigation-section
{
    padding-top     : 20px;
    width           : 100%;
}

.navigation-panel
{
    padding-bottom  : 15px;

    &:after
    {
        @include clearfix();
    }
}

.navigation-panel--dash
{
    border-bottom   : solid #dedede 1px;
}
