// # =======================================================
// # @COMPONENT : EXTRA SIDEBAR
// # =======================================================
.ui-sidebar
{
    @include on-mobile
    {
        display     : none;

        transition  : all linear 0.1s;
        position    : fixed;
        z-index     : 998;
        width       : 345px;
        left        : 77px;
        top         : 0;
        background  : #21272c;
        height      : 100%;
        box-sizing  : border-box;
    }

    @include on-desktop
    {
        display     : block;

        transition  : all linear 0.1s;
        position    : fixed;
        z-index     : 998;
        width       : 345px;
        left        : 77px;
        // left        : 0;
        top         : 0;
        // background  : #21272c;
        background  : #fff;
        height      : 100%;
        box-sizing  : border-box;
        overflow    : auto;
        border-right: solid #eef1f2 1px;
    }
}

.element-active
{
    color       : #6cab4b!important;
}

.ng-link-active
{
    color       : #6cab4b!important;
    font-weight : bold;
}

.mobile--hide
{
    display     : none!important;

    @include on-desktop
    {
        display : block!important;
    }
}

.set__absolute
{
    background  : #fff;
    position    : fixed;
    top         : 0;
    width       : 960px;
    z-index     : 99999;
    height      : 100%;
}



.ui-sidebar__controll
{
    @include on-mobile
    {
        display     : none;
        position    : fixed;
        left        : 93px;
        top         : 16px;
        width       : 200px;
        z-index     : 997
    }

    @include on-desktop
    {
        display     : block;
        position    : fixed;
        left        : 93px;
        top         : 16px;
        width       : 200px;
        z-index     : 997
    }
}
