.ui-schedule
{
    td
    {
        padding: 10px 5px;
    }
}


.ui-schedule-header
{
    td
    {
        width : 150px;
        text-align: center;
    }
}

.ui-schedule-marker
{
    width           : 36px;
    height          : 36px;
    border-radius   : 25px;
    text-align      : center;
    padding-top     : 7px;
    font-weight     : bold;
}

.ui-schedule-add
{
    width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto
}


.ui-schedule-event
{
    display         : none;
    position        : absolute;
    width           : 300px;
    background      : #fff;
    border          : solid #dedede 2px;
    border-radius   : 4px;
    padding         : 25px;
}

.ui-schedule-event-header {
    padding         : 8px;
    background      : #6EC069;
    color           : #fff;
    text-align      : center
}
