<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class = "block dashboard"
    style       = "position:relative"
    ng-class    = "model.STATE.IS_SIDEBAR_VISIBLE ? '' : 'dashboard--full'">

    <ng-outlet  class="main"></ng-outlet>
</div>

