<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<!-- <div class="block dashboard"> -->
    <ng-outlet class="main"></ng-outlet>
<!-- </div> -->
