<div class="block ui-navigation">

    <div class="ui-navigation--row">

        <!-- @Component     : ROOT OUTLENT                                                              -->
        <!-- ========================================================================================== -->
        <div class="dropdown-info f--left" style="margin-right: 35px">
            <i  class       = "material-icons f--left"
                style       = "margin-top: 10px; margin-right: 5px"
                ng-click    = "model.showDropdown()">&#xE313;</i>

            <div class="component-profile__image f--left">
                <div class = "component-profile-signature picture-x">
                    <div style="padding-top: 5px">
                        <i class="material-icons">&#xE80C;</i>
                    </div>
                </div>
            </div>

            <div
                class       = "dropdown-info_content"
                ng-class    = "{'dropdown-info_content--show' : model.STATE.SHOW_DROPDOWN}">

                <!-- @Component     : ROOT OUTLENT                                                              -->
                <!-- ========================================================================================== -->
                <div
                     style      = "margin-left: 15px; margin-bottom: 6px; overflow: hidden"
                     ng-click   = "model.on_init('TRACKER')">

                    <div class="component-profile__image f--left">
                        <div class = "component-profile-signature picture-x">
                            <div style="padding-top: 5px">
                                <i class="material-icons">&#xE80C;</i>
                            </div>
                        </div>
                    </div>
                    <div class="f--left" style="margin-left: 20px; margin-top: 6px">Тракер</div>
                </div>

                <!-- @Component     : ROOT OUTLENT                                                              -->
                <!-- ========================================================================================== -->
                <div
                      style    = "margin-left: 15px; margin-bottom: 6px; overflow: hidden"
                      ng-click = "model.on_init('PORTAL')">

                    <div class="component-profile__image f--left">
                        <div class  = "component-profile-signature picture-x"
                             style  ="border : solid #F16623 2px;">

                            <div style="padding-top: 5px">
                                <i class="material-icons">&#xE90F;</i>
                            </div>
                        </div>
                    </div>
                    <div class="f--left" style="margin-left: 20px; margin-top: 6px">Портал</div>
                </div>

                <!-- @Component     : ROOT OUTLENT                                                              -->
                <!-- ========================================================================================== -->
                <div
                     style="margin-left: 15px; margin-bottom: 6px; overflow: hidden"
                     ng-click="model.on_init('ADMINISTRATION')">

                    <div class="component-profile__image f--left">
                        <div class = "component-profile-signature picture-x"
                             style = "border : solid #EA0011 2px;">
                            <div style="padding-top: 5px">
                                    <i class="material-icons">&#xE3E7;</i>
                            </div>
                        </div>
                    </div>
                    <div class="f--left" style="margin-left: 20px; margin-top: 6px">Администрация</div>
                </div>
            </div>

        </div>




        <!-- @Component     : PORTAL                                                              -->
        <!-- ========================================================================================== -->
        <div
            ng-if   = "model.state('PORTAL')"
            class   = "ui-navigation--menu f--left">

            <div
                style   = "cursor: pointer; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Projects']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Проекти
                </a>
            </div>

            <div
                style   = "cursor: pointer; margin-left: 25px; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Groups']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Групи
                </a>
            </div>

            <div
                style   = "cursor: pointer; margin-left: 25px; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Bundle/AssignBundle']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Инициативи
                </a>
            </div>

            <div
                style   = "cursor: pointer; margin-left: 25px; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Opportunities']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Нови
                </a>
            </div>
        </div>

        <!-- @Component     : TRACKER                                                              -->
        <!-- ========================================================================================== -->
        <div
            ng-if   = "model.state('TRACKER')"
            class   = "ui-navigation--menu f--left">

            <div
                style   = "cursor: pointer; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Classroom']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Училище
                </a>
            </div>

            <div
                style   = "cursor: pointer; margin-left: 25px; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Schedule']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Разписание
                </a>
            </div>

            <div
                style   = "cursor: pointer; margin-left: 25px; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Bundle/AssignBundle']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Класове
                </a>
            </div>

            <div
                style   = "cursor: pointer; margin-left: 25px; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Assesment']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Оценки
                </a>
            </div>
        </div>


        <!-- @Component     : ADMINISTRATION                                                              -->
        <!-- ========================================================================================== -->
        <div
            ng-if   = "model.state('ADMINISTRATION')"
            class   = "ui-navigation--menu f--left">

            <div
                style   = "cursor: pointer; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Administration/CampaignList']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Кампании
                </a>
            </div>

            <div
                style   = "cursor: pointer; margin-left: 25px; display: inline-block">
                <a
                    style       ="text-decoration: none; color: #000"
                    ng-link     = "['Administration/UsersList']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">
                    Потребители
                </a>
            </div>
        </div>


        <!-- @Component     : ROOT OUTLENT                                                              -->
        <!-- ========================================================================================== -->
        <div class="f--right">

                <div
                    style       ="cursor: pointer;"
                    ng-link     = "['Profile']"
                    ng-init     = "active = false"
                    ng-class    = "{'active': active}"
                    ng-click    = "active = !active">

                    <ui-profile
                        ui-size         = "'picture'"
                        service-provide = "true">
                    </ui-profile>
                </div>
        </div>
    </div>
</div>
