<div class="project-form project-form__noborder">

    <form
        novalidate
        name        = "model.formContact"
        ng-keyup    = "model.on_change()">

    <!--<h2>{{model.LABEL.LABEL_SECTION_LANGUAGE}}</h2>-->

        <ui-input-dropdown
            ui-is-disabled  = "model.uiIsDisabled"
            ui-form         = "model.formContact"
            ui-model        = "model.FIELD.language"
            ui-active       = "model.FIELD.language.value"
            ui-options      = "model.LABEL.TEST"
            ui-placeholder  = "model.LABEL.LABEL_SECTION_LANGUAGE"
            ui-id           = "'input:dropdown:language'">
        </ui-input-dropdown>

    </form>
</div>
