<div class="test__mest">

    <!-- @Component     : ROOT OUTLENT                                                              -->
    <!-- @Description   : Load every single group related component                                 -->
    <!-- ========================================================================================== -->
    <div class     = "dashboard"
         style     = "position: relative"
         ng-class  = "{'dashboard--push' : model.STATE.IS_SIDEBAR_VISIBLE }">

        <!-- @Component     : TOP Navigation Bar for classroom panel                                    -->
        <!-- @Description   : It shows meta information regarding the current classroom                 -->
        <!-- ========================================================================================== -->
        <div class="navigation-section">
            <div class="navigation-panel">
                <h3>{{model.PROPERTY.TITLE}}</h3>
            </div>
        </div>



        <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class   = "ui-component-list">

            <div ng-repeat= "element in model.PROPERTY.COLLECTION track by $index">
                <div class="item--element row m-bottom-x">

                    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                    <!-- @Description   : Show the group elements from a collection object                          -->
                    <!-- ========================================================================================== -->
                    <div class="component-profile  f--left">

                        <div
                            class   = "m-bottom-x m-top-x m-right-2x"
                            style   = "display:inline-block; margin-right: 16px;  background: rgb(110, 192, 105); border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">

                            <i style    = "font-size: 12px; margin-top: 2px"
                               class    = "material-icons">&#xE80C;</i>
                        </div>

                        <span>
                            {{element.signature}}
                        </span>
                    </div>


                    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                    <!-- @Description   : Show the group elements from a collection object                          -->
                    <!-- ========================================================================================== -->
                    <div class="f--right">
                        <button
                            ng-click="model.on_select()"
                            style   = "margin-top: 8px;" class="button button--solid--primary">
                            Разгледай
                        </button>
                    </div>

                </div>
            </div>

            <div class="item--element row m-bottom-x">

                <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                <!-- @Description   : Show the group elements from a collection object                          -->
                <!-- ========================================================================================== -->
                <div class="component-profile  f--left">

                    <div
                        class   = "m-bottom-x m-top-x m-right-2x"
                        style   = "display:inline-block; margin-right: 16px;  background: #dedede; border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">
                        <i style="font-size: 12px; margin-top: 4px" class="material-icons">&#xE145;</i>
                    </div>

                    <span>
                        добави нов клас
                    </span>
                </div>
            </div>
        </div>


        <!-- <div class       = "m-left-3x ui-classroom"
             ng-repeat   = "element in model.PROPERTY.COLLECTION track by $index">

            <div class       = "ui-classroom-content container"
                 ng-click    = "model.navigate_classroom(element)">

                <div class  = "row">
                    <div class  = "col-9">
                        <h4>{{model.LABEL.SUBJECT}}</h4>

                        <ul class   = "m-top-2x">
                            <li ng-repeat="subject in element.subjects track by $index">
                                {{subject}}
                            </li>
                        </ul>
                    </div>

                    <div class="col-3">
                        <div class      = "ui-spot"
                            ng-class   = "['contrast--' + ($index + 1)]">
                            {{element.signature}}
                        </div>
                    </div>
                </div>
            </div>

            <div class  = "container ui-classroom-config" style = "border-top: solid #dedede 1px;">
                <div class="row">
                    <div class="col-9"></div>

                    <div class      = "col-3"
                        ng-click   = "model.navigate_config(element)">
                        <i style="font-size: 22px;" class="material-icons">&#xE8B8;</i>
                    </div>
                </div>
            </div>
        </div> -->
    </div>


    <div class="dashboard--sidebar">

        <div class="navigation-section">
            <div class="navigation-panel">
                <span>класове в това училище</span>
            </div>
        </div>

        <div ng-repeat="element in model.COLLECTION.allBundle">
            <div class = "ui-spot">
                {{element.signature}}
            </div>
        </div>

    </div>
</div>


<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<!-- <welcome-classroom
    show-if="model.PROPERTY.COLLECTION.length == 0">
</welcome-classroom> -->
