<div style="margin-left: 16px">
    <h3 style="padding: 21px 0; margin-left: 16px; color: #6cab4b; font-weight: bold;">@СОУ "Братя Миладинови"</h3>
    <ui-list-class-goal collection="model.collection"></ui-list-class-goal>
</div>
