<div class="ui-input ui-input-text">

    <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <span
        class   = "label-placeholder"
        ng-if   = "model.STATE.IS_TITLE_VISIBLE">
        {{model.uiPlaceholder}}
    </span>


    <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div class="experimental">

        <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <datepicker date-format="yyyy-MM-dd" is-on-going ="model.uiOngoing">

            <input
                ng-disabled = "model.uiIsDisabled"
                ng-required = "model.uiModel.isRequired"
                name        = "{{model.uiModel.name}}"
                ng-model    = "model.uiModel.value"
                ng-class    = "model.uiModel.show_errors ? 'input-error' : 'input'"
                ng-change   = "model.on_change()"
                type        = "text"
                placeholder = "{{model.uiPlaceholder}}">
        </datepicker>


        <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div ng-if="model.uiModel.show_errors">
            <div class   = "error-input">
                {{model.uiModel.error}}
            </div>
        </div>
    </div>
</div>
