<div class="project-form project-form__nopadding project-form__noborder">
    <div class="m-bottom-2x">

        <div class="align--center">
            <img
                ng-if           = "model.uiPicture"
                ng-model        = "model.picture"
                class           = "picture-5x m-auto"
                src             = "{{model.uiPicture}}">
        </div>

        <div class="td-b tt-u align--center tc--primary m-top-3x">{{model.uiWho}}</div>
    </div>

    <div class="m-top-4x">
        <h1 class="align--center">Супер всичко е наред :)</h1>
    </div>

    <div class="m-top-4x">
        <p>
            <strong>Благодаря ви за съдействието</strong>, можете да актуализирате профила си по всяко време.
        </p>

        <p>
            Ако имате затруднения при употреба на системата свържете се с представител на Заедно в час, който да ви съдейства с напътствия.
        </p>
    </div>
</div>
