<div id="navigation"  style="background: #fff; height: 60px; padding: 12px 43px;border-bottom: solid #eeeff3 1px; margin-left: 75px;">

    <div class="container">
        <div class="row">

            <div class="col-4">
                <h2 style="font-weight: bold; color: #6EC069; font-size: 18px;">@Дневник: 10A</h2>
            </div>

            <div class="col-4">
                <h2>@Дневник</h2>
            </div>

            <div class="col-4">

            </div>
        </div>
    </div>

</div>
