<div
    class       = "ui-poll"
    ng-show     = "model.STATE.IS_MODE_INTERACTIVE">

    <!-- -->
    <input
        class       = "input input--white"
        type        = "text"
        ng-model    = "model.FIELD.QUESTION"
        ng-change   = "model.on_questionInput()"
        placeholder = "{{model.LABEL.INPUT_QUESTION}}">

    <!-- -->
    <div ng-repeat = "element in model.PROPERTY.COLLECTION track by $index">
        <div
            class           = "ui-poll__element"
            ng-mouseenter   = "active = true"
            ng-mouseleave   = "active = false">

            <div class = "ui-poll__title">
                # {{element.content}}
            </div>

            <div
                class   = "ui-poll__toolbar"
                ng-if   = "active">
                <ul>
                    <li
                        class       = "ui-poll__icon"
                        ng-click    = "model.on_edit(element)">
                            <i class="material-icons">&#xE150;</i>
                    </li>
                    <li
                        class       = "ui-poll__icon"
                        ng-click    = "model.on_remove(element)">
                            <i class="material-icons">&#xE872;</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- -->
    <input
        class       = "input input--white"
        type        = "text"
        ng-if       = "model.STATE.IS_OPTION_INPUT_VISIBLE"
        ng-model    = "model.FIELD.OPTION"
        ng-change   = "model.on_optionInput()"
        placeholder = "{{model.LABEL.INPUT_OPTION}}">

    <!-- -->
    <button
        class       = "button button--big button--solid--orange fade m-bottom-x"
        ng-if       = "model.STATE.IS_OPTION_BUTTON_VISIBLE"
        ng-click    = "model.on_add()">{{model.LABEL.BUTTON_ADD_OPTION}}</button>
</div>




<div
    class       = "ui-poll"
    ng-show     = "model.STATE.IS_MODE_PRESENTATION">

    <!-- -->
    {{model.FIELD.QUESTION}}

    <!-- -->
    <div
        ng-if = "!model.uiHasAnswer"
        ng-repeat = "element in model.PROPERTY.COLLECTION">
        <div
            class           = "ui-poll__element"
            ng-mouseenter   = "active = true"
            ng-mouseleave   = "active = false">

            <div class = "ui-poll__title ui-poll__title--ready" ng-click="model.vote_up(element)">
                # {{element.content}}
            </div>
        </div>
    </div>

    <!-- -->
    <div
        ng-if       = "model.uiHasAnswer"
        ng-repeat   = "element in model.PROPERTY.COLLECTION">

        <div class  = "ui-poll__element">
            <div class = "ui-poll__title">
                <div class="ui-poll__result">
                    {{element.count}}
                </div> #
                <div class="ui-poll__graph">
                    <div
                        class   = "ui-poll__graph--color"
                        style   = "{{model.parseGraph(element.count)}}">
                    </div>
                    {{element.content}}
                </div>
            </div>
        </div>
    </div>
</div>
