<!-- @Component     : UI BLOCK : Template   : FULL                                              -->
<!-- ========================================================================================== -->
<div ng-if  = "model.activeTheme('full')"
     class  = "component-profile m-bottom-2x">

    <div class="component-profile--image">

        <img ng-if       = "model.uiPicture"
             ng-class    = "model.uiSize ? model.uiSize : 'picture-x'"
             ng-src      = "{{::model.uiPicture}}">

        <div ng-if       = "!model.uiPicture"
             ng-class    = "(model.uiSize ? model.uiSize : 'picture-x')"
             class       = "component-profile--signature">
            <div class="signature">
                {{::model.uiSignature}}
            </div>
        </div>
    </div>

    <!-- @ -->
    <div class="component-profile--meta">
        {{::model.uiWho}}
    </div>

    <!-- @ -->
    <div ng-transclude class="f--right"></div>
</div>


<!-- @Component     : UI BLOCK : Template : MINIMAL                                             -->
<!-- ========================================================================================== -->
<div ng-if   = "model.activeTheme('minimal')"
     class   = "component-profile m-bottom-2x">

    <!-- @ -->
    <div class  = "component-profile--image">

        <img ng-if       = "model.uiPicture"
             ng-class    = "model.uiSize ? model.uiSize : 'picture-x'"
             ng-src      = "{{model.uiPicture}}">

        <div ng-if       = "!model.uiPicture"
             ng-class    = "model.uiSize ? model.uiSize : 'picture-x'"
             class       = "component-profile-signature">
            <div class="signature">
                {{model.uiSignature}}
            </div>
        </div>
    </div>
</div>
