<div class="animated fadeIn">

    <form
        novalidate
        name        = "model.formContact"
        ng-keyup    = "model.on_change()">

        <div class="project-form project-form__noborder">

            <h2>{{model.LABEL.LABEL_POSITION}}</h2>

            <ui-input-text
                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.position"
                ui-placeholder  = "model.LABEL.INPUT_POSITION">
            </ui-input-text>
        </div>

    </form>

</div>
