<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->

<div class="form-wizard--content">

    <!-- ========================================================================================== -->
    <div class="container">
        <div class="row header">
            <div class="col-6">
                <h3 style="margin-top: 14px">Управление на ученици</h3>
            </div>
            <div class="col-6" style="text-align:right">
                <div
                    class       = "ui-button"
                    ng-click    = "model.on_create()">

                    <span class="ui-button--icon">
                        <i class="material-icons">&#xE145;</i>
                    </span>

                    <span class="ui-button--content">
                        добави нов ученик
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================================================================================== -->

    <div class="container" ng-repeat="element in model.COLLECTION.collection">

        <!-- ========================================================================================== -->
        <div class="row">

            <!-- @  -->
            <!-- @  -->
            <div ng-if="model.show_row()">

                <div class="col-6">
                    <span style="display: inline-block; margin-top: 16px; font-size: 14px;  color: #4d5060; font-weight: bold;">
                        {{element.name}}
                    </span>
                </div>

                <div ng-if = "model.show_form_interactive()"
                    class = "col-6"
                    style = "text-align: right; float: right;">

                    <div
                        class       = "ui-button ui-button--orange ui-button--hovarable"
                        ng-click    = "model.on_delete(element.id)">

                        <span class="ui-button--icon">
                            <i class="material-icons">&#xE872;</i>
                        </span>
                    </div>


                    <div
                        class       = "ui-button ui-button--orange ui-button--hovarable"
                        ng-click    = "model.on_edit(element.id)">

                        <span class="ui-button--icon">
                            <i class="material-icons">&#xE254;</i>
                        </span>
                    </div>
                </div>

                <div ng-if = "model.show_form_delete(element.id)"
                    class = "col-6"
                    style = "text-align: right; float: right;">


                    <div
                        class       = "ui-button ui-button--orange"
                        ng-click    = "model.on_delete_process()">

                        <span class="ui-button--icon">
                            <i class="material-icons">&#xE876;</i>
                        </span>

                        <span class="ui-button--content">
                            потвърди
                        </span>
                    </div>

                    <div
                        class       = "ui-button ui-button--orange"
                        ng-click    = "model.on_cancel()">

                        <span class="ui-button--icon">
                            <i class="material-icons">&#xE14C;</i>
                        </span>

                        <span class="ui-button--content">
                            откажи
                        </span>
                    </div>
                </div>
            </div>

            <!-- @  -->
            <!-- @  -->
            <div ng-if="model.show_form_edit(element.id)">
                <form-wrapper form-id="FORM_CREATE_STUDENT">
                    <form-create-student
                        ui-update       = "true"
                        ui-collection   = "element">
                    </form-create-student>
                </form-wrapper>
            </div>

        </div>
    </div>

    <!-- ========================================================================================== -->
    <div
        ng-if ="model.show_message()"
        class = "container m-top-4x m-bottom-4x"
        style = "font-size: 21px; font-weight: bold; text-align: center">
        В този клас няма въведени ученици.
    </div>


    <!-- ========================================================================================== -->


    <!-- ========================================================================================== -->
    <div class="container m-top-4x" ng-if="model.show_form_create()">
        <form-wrapper form-id="FORM_CREATE_STUDENT">
            <form-create-student></form-create-student>
        </form-wrapper>
    </div>
    <!-- ========================================================================================== -->






    <!-- <ui-list-student
        collection = "model.COLLECTION.collection"
        ui-bundle  = "model.PROPERTY.BUNDLE_ID">
    </ui-list-student> -->

    <!--  -->
    <!--  -->
    <div style="border-top: solid #dedede 1px; margin-top: 25px; padding-top: 25px">

        <div class="container">
            <div class="row">
                <div class="col-1" style="margin-left: 0">
                    <div class="icon-half">
                        <i class="material-icons">&#xE87C;</i>
                    </div>
                </div>

                <div class="col-8">
                    <p>
                        Вашите класове се състоят от неопределен брой ученици. Можете да добавяте, изтривате и редактирате ученици по всяко време.
                    </p>
                </div>

                <div class="col-3">

                    <button
                        class   ="button button--solid--primary"
                        ng-click="model.on_next()">
                        <span>Запиши учениците</span>
                        <i class="material-icons" style="font-size: 16px; font-weight: bold; position:relative; top: 4px">&#xE5CC;</i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
