<div class="test__mest">

    <!-- @Component     : @MAIN VIEW DASHBOARD                                                      -->
    <!-- ========================================================================================== -->
    <div class="dashboard">

        <!-- @Component     : ROOT OUTLENT                                                              -->
        <!-- @Description   : Load every single group related component                                 -->
        <!-- ========================================================================================== -->
        <modal ui-title="'Нова кампания'">
            <panel-create-campaign></panel-create-campaign>
        </modal>

    </div>
</div>
