<ui-sidebar ui-is-visible="'false'" ui-title = "model.LABEL.SIDEBAR_TITLE">

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="users" state-id = "filter" state-init = "true">

        <ui-input-search></ui-input-search>

        <h2 class   = "heading m-top-3x">#Филтри</h2>

        <ui-action
            ui-click    = "model.on_filter('type', '1')"
            ui-icon     = "&#xE152;"
            title       = "model.LABEL.LABEL_ALUMNI">
        </ui-action>

        <ui-action
            ui-click    = "model.on_filter('type', '2')"
            ui-icon     = "&#xE152;"
            title       ="model.LABEL.LABEL_TEACHER">
        </ui-action>

        <ui-action
            ui-click    = "model.on_filter('type', '3')"
            ui-icon     = "&#xE152;"
            title       ="model.LABEL.LABEL_EMPLOY">
        </ui-action>
    </ui-state>

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="users" state-id = "filter-alumni">
        <ui-input-search></ui-input-search>
        <form-alumni-filter></form-alumni-filter>
    </ui-state>

    <ui-state state-domain="users" state-id = "filter-employ">
        <ui-input-search></ui-input-search>
    </ui-state>



    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="users" state-id = "profile">

        <h2 class   = "heading m-top-3x">#Профил</h2>

        <ui-action
            ui-click    = "model.on_filterByType('contact')"
            ui-icon     = "&#xE7FD;"
            title       = "model.LABEL.LABEL_CONTACT">
        </ui-action>

        <ui-action
            ui-click    = "model.on_filterByType('education')"
            ui-icon     = "&#xE80C;"
            title       = "model.LABEL.LABEL_EDUCATION">
        </ui-action>

        <ui-action
            ui-click    = "model.on_filterByType('employment')"
            ui-icon     = "&#xE8F9;"
            title       = "model.LABEL.LABEL_EMPLOYMENT">
        </ui-action>

        <ui-state state-id = "profile-alumni">
            <ui-action
                ui-click    = "model.on_filterByType('experiance')"
                ui-icon     = "&#xE3E7;"
                title       = "model.LABEL.LABEL_EMPLOYMENT">
            </ui-action>
        </ui-state>

        <ui-state state-id = "profile-employ">
            <ui-action
                ui-click    = "model.on_filterByType('employ')"
                ui-icon     = "&#xE3E7;"
                title       = "model.LABEL.LABEL_EMPLOYMENT">
            </ui-action>
        </ui-state>

        <h2 class   = "heading m-top-3x">#Комуникация</h2>

        <ui-action
            ui-click    = "model.filterProfile('message')"
            ui-icon     = "&#xE0BF;"
            title       = "model.LABEL.LABEL_MESSAGE">
        </ui-action>
    </ui-state>
</ui-sidebar>


<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="block dashboard" style="position:relative">
    <ng-outlet class="main"></ng-outlet>
</div>
