// # =======================================================
// # @EFFECT : Fade
// # =======================================================


.fade {
    transition  : all linear 500ms;
    opacity     : 1;
}
