// # =======================================================
// # @COMPONENT : PAGE-LOADER
// # =======================================================
.page-loader {
  position      : absolute;
  top           : 0;
  left          : 0;
  width         : 100%;
  height        : 100%;
  background    : $_BACKGROUND_CONTRAST;
  z-index       : 99999;
}

// # =======================================================
// # @COMPONENT-CHILD : PLACEHOLDER
// # =======================================================

.page-loader__placeholder {
  position      : absolute;
  margin        : auto;
  top           : 50%;
  left          : 48%;
  font-size     : 64px;
  color         : $_BACKGROUND_PRIMARY;
  z-index       : 99999;
}

// # =======================================================
// # @COMPONENT : LOADER
// # =======================================================

.loader {
	display         : inline-block;
	width           : 1em;
	height          : 1em;
	color           : inherit;
	vertical-align  : middle;
	pointer-events  : none;
	background      : currentcolor;
	position        : relative;
	animation       : loader-animation 1s ease-in-out infinite;
	animation-delay : 0.4s;
	width           : .25em;
	height          : .5em;
	margin          : 0 .5em;
	box-sizing      : border-box;

    &:after, &:before {
		content     : '';
		position    : absolute;
		width       : inherit;
		height      : inherit;
		background  : inherit;
		animation   : inherit;
		box-sizing  : border-box;
	}

    &:before {
		right       : .5em;
		animation-delay: 0.2s;
	}

	&:after {
		left        : .5em;
		animation-delay: 0.6s;
	}
}

// # =======================================================
// # @CONFIG : LOADER ANIMATION CONFIG
// # =======================================================

@keyframes loader-animation {
	0%, 100% {
		box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor;
    }

	50% {
		box-shadow: 0 -.25em 0 currentcolor, 0 .25em 0 currentcolor;
	}
}
