<splitview>
    <splitview-dashboard>

        <!-- @Component: HEADER                                                                    -->
        <!-- ===================================================================================== -->
        <div class="navigation-section p-bottom-2x">
            <div class="navigation-panel navigation-panel--dash">
                <h3>{{model.LABEL.HEADER}}</h3>
            </div>
        </div>


        <!-- @Component: ROW                                                                       -->
        <!-- ===================================================================================== -->
        <div ng-repeat  = "element in model.COLLECTION.project track by $index"
             class      = "item--element row m-bottom-x">

            <div class      = "component-profile  f--left"
                 ng-click   = "model.on_select(element)">

                <div class="m-bottom-x m-top-x m-right-2x icon-placeholder">
                    <i class   = "icon--test material-icons">&#xE145;</i>
                </div>

                <span>{{element.project_title}}</span>
            </div>
        </div>


        <!-- @Component: ACTION BUTTON                                                             -->
        <!-- ===================================================================================== -->
        <div class      = "item--element row m-bottom-x"
             ng-link    = "['/Dashboard/Projects/ProjectModify']">

            <div class="component-profile  f--left">

                <div class = "m-bottom-x m-top-x m-right-2x icon-placeholder">
                    <i class = "icon--test material-icons">&#xE145;</i>
                </div>

                <span
                    ng-if       = "!model.STATE.SHOW_TASK"
                    style       = "color: #6cab4b"
                    ng-click    = "model.on_task_click()">
                    {{model.LABEL.BUTTON_CREATE_PROJECT}}
                </span>
            </div>
        </div>

    </splitview-dashboard>
</splitview>
