<div class="form-layout m-top-4x" ng-repeat="element in model.collection track by $index">

    <div class="row">
        <div class="comment-box-timeline"></div>
        <div
            class       = "f--left"
            ng-click    = "model.on_show()"
            style="background: #6EC069; width: 24px; height: 24px; border-radius: 50px; text-align: center; padding-top: 18px;">
        </div>

        <div class="f--left">

            <div>{{element.title}}</div>
            </div>
        </div>
    </div>


</div>
