<div class="project-form project-form__nopadding project-form__noborder">
    <div class="m-bottom-2x">
        <ui-profile
            theme           = "'card'"
            service-provide = "true"
            ui-size         = "'picture-5x'">
        </ui-profile>
    </div>

    <div class="m-top-4x">
        <h1 class="align--center">Добре дошли в портала :)</h1>
    </div>

    <div class="m-top-4x">
        <p>
            <strong>Това е първото ви влизанe</strong>, затова ще ви помолим да актулазирате информацията за вашият профил.
        </p>

        <p>
            След успешно попълване на всички данни, ще бъдете пренасочени към профила си, в портала.
        </p>

        <p>
            Когато сте готови просто натиснете зеления бутон, Успех.
        </p>
    </div>
</div>
