<!-- ng-if  = "model.uiShowComment" -->
<div class  = "ui-block__toolbar">

    <div ng-if="model.uiCollection.length > 0">

        <div class      = "comment-box"
             ng-repeat  = "comment in model.uiCollection track by $index">

            <div class="comment-box-timeline"></div>
            <ui-profile
                ui-size         = "'picture'"
                ui-signature    = "::comment.user_signature"
                ui-who          = "::comment.user_name"
                ui-picture      = "::comment.user_picture">
            </ui-profile>

            <div style="margin-left: 45px; margin-bottom: 20px">
                {{comment.comment_content}}
            </div>
        </div>
    </div>

    <button
        style       = "margin-bottom : 25px"
        ng-if       = "model.loadMore"
        class       = "button button--small button--solid--primary"
        ng-click    = "model.on_load()">
        Има още коментари, искаш ли да ги видиш
    </button>

    <ui-profile
        ui-size         = "'picture'"
        service-provide = "true">
    </ui-profile>

    <textarea   ng-model    = "model.commentContent"
                style       = "height: 75px; padding: 8px; width: 100%; border: solid #6EC069 1px;"
                placeholder = "Добави нов коментар...."></textarea>

    <button     class       = "button button--small button--solid--primary"
                ng-click    = "model.on_commentSubmit()">
                Коментирай
    </button>

    <!-- <div class = "row">
        <div class="f--left">
            <textarea   ng-model    = "model.commentContent"
                        placeholder = "Добави нов коментар...."></textarea>
        </div>

        <div class="f--right--mobile">
            <button
                class       = "button button--small button--solid--primary"
                ng-click    = "model.on_commentSubmit()">
                Коментирай
            </button>
        </div>
    </div> -->
</div>
