<!--<div class="project-form">-->
    <!--<h2 style="font-size: 14px; text-transform: none; padding-bottom: 32px">{{model.LABEL.PAGE_TITLE}}</h2>-->

    <!-- Input field @title -->
    <!-- @ -->
    <ui-input-text
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.group_title"
        ui-placeholder  = "model.LABEL.INPUT_TITLE">
    </ui-input-text>

    <!-- Input field @description-->
    <!-- @ -->
    <ui-input-textarea
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.group_description"
        ui-placeholder  = "model.LABEL.INPUT_DESCRIPTION">
    </ui-input-textarea>
</div>

<!--<div class="project-form">-->
    <!--<h2>{{model.LABEL.label.meta}}</h2>-->

    <ui-input-decorator
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.group_couses"
        ui-placeholder  = "model.LABEL.INPUT_COUSES"
        ui-hint         = "model.LABEL.INPUT_COUSES_HINT">
    </ui-input-decorator>
