<span
    class   = "label-placeholder"
    ng-if = "model.STATE.IS_TITLE_VISIBLE">
    {{model.uiPlaceholder}}
</span>


<textarea
    ng-disabled ="model.uiIsDisabled"
    ng-required ="model.uiModel.isRequired"
    name        = "{{model.uiModel.name}}"
    ng-model    = "model.uiModel.value"
    ng-class    = "model.uiModel.show_errors ? 'input-error' : 'input'"
    ng-change   = "model.on_change()"
    placeholder = "{{model.uiPlaceholder}}"></textarea>

<!-- @ -->
<div ng-if="model.uiModel.show_errors" style="margin-top: 10px">
    <div class   = "error-input">
        {{model.uiModel.error}}
    </div>
</div>
