<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--content">

    <h3 class="header">Добави цели за учебните предмети</h3>

    <div class="container" ng-repeat="element in model.COLLECTION.subject">

        <!-- ========================================================================================== -->
        <div class="row">
            <div class="col-9">
                <span style="display: inline-block; margin-top: 16px; font-size: 18px;  color: #4d5060; font-weight: bold;">
                    {{element.subject_title}}
                </span>
            </div>
            <div class="col-3">
                <div
                    class       = "ui-button"
                    ng-click    = "model.on_form_primaryGola(element.subject_id)">

                    <span class="ui-button--icon">
                        <i class="material-icons">&#xE145;</i>
                    </span>

                    <span class="ui-button--content">
                        добави учебна цел
                    </span>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="primaryGoal in model.COLLECTION.primaryGoal[element.subject_id]">

            <div class="col-12">

                <div class="container">

                    <!-- ========================================================================================== -->
                    <div class="row">
                         <div ng-if="model.show_row()">
                            <div class="col-6" style="margin-left: 0">
                                <span style="display: inline-block; margin-top: 12px; font-size: 16px;  color: #6EC069; font-weight: bold;">
                                    {{primaryGoal.goal_title}}
                                </span>
                            </div>

                            <div ng-if = "model.show_form_interactive()"
                                class = "col-6"
                                style = "text-align: right; float: right;">

                                <div
                                    class       = "ui-button ui-button--orange ui-button--hovarable"
                                    ng-click    = "model.on_delete(primaryGoal.goal_id, element.subject_id)">

                                    <span class="ui-button--icon">
                                        <i class="material-icons">&#xE872;</i>
                                    </span>
                                </div>


                                <div
                                    class       = "ui-button ui-button--orange ui-button--hovarable"
                                    ng-click    = "model.on_edit(primaryGoal.goal_id, element.subject_id)">

                                    <span class="ui-button--icon">
                                        <i class="material-icons">&#xE254;</i>
                                    </span>
                                </div>


                                <div
                                    class       = "ui-button ui-button--orange"
                                    ng-click    = "model.on_form_secondaryGola(primaryGoal.goal_id, element.subject_id)">

                                    <span class="ui-button--icon">
                                        <i class="material-icons">&#xE145;</i>
                                    </span>

                                    <span class="ui-button--content">
                                        добави урочна цел
                                    </span>
                                </div>
                            </div>

                            <div ng-if = "model.show_form_delete(primaryGoal.goal_id)"
                                class = "col-6"
                                style = "text-align: right; float: right;">


                                <div
                                    class       = "ui-button ui-button--orange"
                                    ng-click    = "model.on_delete_process()">

                                    <span class="ui-button--icon">
                                        <i class="material-icons">&#xE876;</i>
                                    </span>

                                    <span class="ui-button--content">
                                        потвърди
                                    </span>
                                </div>

                                <div
                                    class       = "ui-button ui-button--orange"
                                    ng-click    = "model.on_cancel()">

                                    <span class="ui-button--icon">
                                        <i class="material-icons">&#xE14C;</i>
                                    </span>

                                    <span class="ui-button--content">
                                        откажи
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div ng-if="model.show_form_edit(primaryGoal.goal_id)">
                            <form-wrapper form-id="FORM_CREATE_GOAL">
                                <form-create-goal
                                    ui-id           = "primaryGoal.goal_id"
                                    ui-collection   = "primaryGoal"
                                    ui-update       = "true">
                                </form-create-goal>
                            </form-wrapper>
                        </div>

                    </div>

                    <!-- ========================================================================================== -->
                     <div class="row" ng-repeat="secondaryGoal in model.COLLECTION.secondaryGoal[primaryGoal.goal_id]">

                        <div class="col-12" style="margin-left: 0">
                            <span style="display: inline-block; margin-top: 12px; font-size: 14px;  color: #F16623; font-weight: bold;">
                                 {{secondaryGoal.goal_title}}
                            </span>
                        </div>
                    </div>

                    <!-- ========================================================================================== -->
                     <div class="row" ng-if="model.show_form_secondaryGoal(primaryGoal.goal_id)" class="m-top-x">

                            <form-wrapper form-id="FORM_CREATE_GOAL">
                                <form-create-goal
                                    ui-bundle       = "model.PROPERTY.BUNDLE_ID"
                                    ui-collection   = "model.collection">
                                </form-create-goal>
                            </form-wrapper>
                    </div>
                </div>
            </div>
        </div>


         <div class="row" ng-if="model.show_form_primaryGoal(element.subject_id)" class="m-top-x">
                <form-wrapper form-id="FORM_CREATE_GOAL">
                    <form-create-goal
                        ui-bundle       = "model.PROPERTY.BUNDLE_ID"
                        ui-collection   = "model.collection">
                    </form-create-goal>
                </form-wrapper>
        </div>
    </div>



    <!-- ========================================================================================== -->
    <!-- @Component     : ROOT OUTLENT                                                              -->
    <!-- @Description   : Load every single group related component                                 -->
    <!-- ========================================================================================== -->
    <div style="border-top: solid #dedede 1px; margin-top: 25px; padding-top: 25px">

        <div class="container">
            <div class="row">

                <div class="col-1" style="margin-left: 0">
                    <div class="icon-half">
                        <i class="material-icons">&#xE03B;</i>
                    </div>
                </div>

                <div class="col-8">
                    <p>
                        Тук може да добавиш учебните и урочните си цели за годината
                    </p>
                </div>

                <div class="col-3">
                    <button
                        class   ="button button--solid--primary"
                        ng-click="model.on_next()">
                        <span>Запиши целите</span>
                        <i class="material-icons" style="font-size: 16px; font-weight: bold; position:relative; top: 4px">&#xE5CC;</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
