// # =======================================================
// # @COMPONENT : BUTTON
// # =======================================================

.button
{
  padding       : 5px;
  cursor        : pointer;
  outline       : none;
  text-align    : center;
}

// # =======================================================
// # @STATE : SIZE
// # =======================================================


.button--full
{ width: 100%;
}

.button--big
{
    padding: 15px 0 15px 3px;
}

.button--input
{
    padding: 10px 0 10px 3px;
}

// # =======================================================
// # @STATE : COLOR
// # =======================================================


.button--solid--primary
{
  @include color_btb($_BACKGROUND_PRIMARY, $_BACKGROUND_CONTRAST, $_BACKGROUND_PRIMARY);

  &:hover
  {
    @include color_btb($_BACKGROUND_CONTRAST, $_BACKGROUND_PRIMARY, $_BACKGROUND_PRIMARY);
  }
}

.button--lite--primary
{
  @include color_btb($_BACKGROUND_CONTRAST, $_BACKGROUND_PRIMARY, $_BACKGROUND_PRIMARY);
  &:hover
  {
    @include color_btb($_BACKGROUND_PRIMARY, $_BACKGROUND_CONTRAST, $_BACKGROUND_PRIMARY);
  }
}

.button--solid--orange
{
  @include color_btb($_BACKGROUND_ORANGE, $_BACKGROUND_CONTRAST, $_BACKGROUND_ORANGE);

  &:hover
  {
    @include color_btb($_BACKGROUND_ORANGE, $_BACKGROUND_CONTRAST, $_BACKGROUND_ORANGE);
  }
}

.button--lite--orange
{
  @include color_btb($_BACKGROUND_CONTRAST, $_BACKGROUND_ORANGE, $_BACKGROUND_ORANGE);

  &:hover
  {
    @include color_btb($_BACKGROUND_ORANGE, $_BACKGROUND_CONTRAST, $_BACKGROUND_ORANGE);
  }
}


// # =======================================================
// # @UI BUTTON
// # =======================================================



.ui-button--orange
{
    background  : $_BACKGROUND_ORANGE!important;
}

.ui-button--orange:hover
{
    background  : #fff!important;
    border      : solid $_BACKGROUND_ORANGE 1px!important;

    .ui-button--icon
    {
        color       : $_BACKGROUND_ORANGE!important;
    }

    .ui-button--content
    {
        color       : $_BACKGROUND_ORANGE!important;
    }
}

.ui-button
{
    display     : inline-block;
    padding     : 1px 0 9px 0;

    border      : solid #fff 1px;
    background  : #6EC069;
    cursor      : pointer;

    .ui-button--icon
    {
        padding     :  0 5px;
        color       : #eff0f4;


        i {
            position    : relative;
            top         : 8px;
        }
    }

    .ui-button--content {
        padding     :  12px 10px 12px 0px;
        color       : #eff0f4;
    }
}

.ui-button:hover
{
    background  : #fff;
    border      : solid #6EC069 1px;

    .ui-button--icon
    {
        color       : #6EC069;
    }

    .ui-button--content
    {
        color       : #6EC069;
        font-weight : bold;
    }
}


.ui-button--hovarable
{
    display: none!important;
}


.row:hover
{
    .ui-button--hovarable
    {
        display: inline-block!important;
    }
}
