// # =======================================================
// # @COMPONENT : PLACEHOLDER
// # =======================================================


.filter-section {

    width       : 90%;
    background  : #262D32;
    color       : #4d5060;
}

.filter-section li{
    display     : inline-block;
    margin      : 15px 14px;
}

.filter-section li:hover {
    color : #6EC069;
}
