// # =======================================================
// # @COMPONENT : INPUT
// # =======================================================

.input {
  display           : block;
  width             : 100%;
  padding           : 15px 0 15px 15px;
  margin-bottom     : 10px;

  border            : solid 1px $FORM_INPUT_COLOR;
  outline           : none;
}

.input--white
{
    background      : $_BACKGROUND_CONTRAST;
}


input[disabled]
{
    border          : none!important;
}

.error-input
{
  margin-bottom     : 15px;
  font-weight       : bold;
  color             : #ff0000;
}

.input-error
{
  display           : block;
  width             : 100%;
  padding           : 15px 0 15px 15px;
  margin-bottom     : 10px;
  border            : solid #ff0000 1px;
  outline           : none;
}

input.ng-valid
{
  border            : solid #6cab4b 1px;
  background        : #fff;
}


.input--edit {
    display         : inline-block;
    width           : 80%!important;
}



.label--active {
    color : #6cab4b;
}

.label--disabled {
    color: #dedede!important;
}
