h1
{
    font-weight : bold;
    color       : #4d5060;
    font-size   : 18px;
}

h2
{
    font-weight : bold;
    color       : #4d5060;
    font-size   : 18px;
}

h3
{
    font-weight : bold;
    color       : #4d5060;
    font-size   : 18px;
}

h4
{
    color       : #141831;
    font-weight : bold;
}
