.label
{
    display         : block;
    margin          : 15px 0;
    color           : $_BACKGROUND_XL;
    text-transform  : uppercase;
    text-decoration : none;
    font-size       : 12px;
    font-weight     : bold;
}


.label-placeholder
{
    font-size       : 12px;
    margin          : 5px 0px;
    text-transform  : lowercase;
    font-weight     : normal;
    color           : $_BACKGROUND_XL;
    text-decoration : 12px;
    font-size       : 11px;
}

.label-hint
{
    font-size       : 12px;
    margin          : 5px 0px;
    text-transform  : lowercase;
    font-weight     : normal;
    background      : #6EC069;
    color           : #fff;
    text-decoration : 12px;
    font-size       : 11px;
    margin-bottom   : 5px;
    line-height     : 1.3;
    padding         : 8px;
}
