// # =======================================================
// # @COMPONENT : PLACEHOLDER
// # =======================================================

.pointer
{
    color           : #4d5060;
    font-weight     : bold;
    cursor          : pointer;

    &:after
    {
        @include clearfix();
    }

    .pointer__icon
    {
        width       : 40px;
        height      : 40px;
        padding     : 5px;
        float       : left;
    }

    .pointer__icon--noborder
    {
        border      : none!important;
    }

    .pointer__icon--color--primary
    {
        color : $_BACKGROUND_PRIMARY;
    }

    .pointer_text
    {
        margin          : 8px 0 0 20px;
        text-transform  : none;
        float           : left;
    }
}

.pointer--active
{
    .pointer__icon
    {
        border      : dashed #ff0000 2px;
        color       : #ff0000;
    }

    .pointer_text
    {
        color       : #ff0000
    }
}
