<!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<form-wrapper form-id="FORM_CREATE_CAMPAIGN">
    <form-create-campaign></form-create-campaign>
</form-wrapper>

<!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->

<form-wrapper form-id   = "FORM_CREATE_TERM"
              ng-hide   = "!model.STATE.IS_TERM_VISIBLE">
    <form-create-term
        ui-collection = "model.COLLECTION.term">
    </form-create-term>
</form-wrapper>

<!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<button
    class       = "button button--big button--full button--solid--primary"
    ng-click    = "model.on_create()"
    ng-hide     = "!model.STATE.IS_CREATE_BUTTON_VISIBLE">
    Добави кампания
</button>
