<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="row m-top-2x m-bottom-2x contains--elements">
    <div class="component-profile  f--left">
        <ui-profile
            ui-size         = "'picture-x'"
            ui-who          = "model.element.name"
            ui-signature    = "model.element.signature">
        </ui-profile>
    </div>

    <div class="f--right">
        <button
            class    = "button button--solid--primary"
            ng-click = "model.on_toggle()">Разпредели</button>
    </div>
</div>



<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="row m-top-2x" ng-if="model.STATE.IS_EXPANDED">

    <form-wrapper form-id="FORM_ASSIGNE_TEACHER_SCHOOL">
        <form-assigne-teacher-school
            ui-campaign-type="'2'">
        </form-assigne-teacher-school>
    </form-wrapper>

    <button
        class="button button--big button--solid--primary"
        ng-click="model.on_submit()">Разпредели
    </button>

</div>



