<div
    class   = "label-hint"
    ng-if = "model.STATE.IS_TITLE_VISIBLE">
    {{model.uiHint}}
</div>

<span
    class   = "label-placeholder"
    ng-if = "model.STATE.IS_TITLE_VISIBLE">
    {{model.uiPlaceholder}}
</span>

<!-- @ -->
<input
    ng-keyup    = "model.on_add($event)"
    ng-disabled = "model.uiIsDisabled"
    ng-required = "model.uiModel.isRequired"
    name        = "{{model.uiModel.name}}"
    ng-model    = "model.value"
    ng-class    = "model.uiModel.show_errors ? 'input-error' : 'input'"
    ng-change   = "model.on_change()"
    ng-focus    = "model.on_focus()"
    type        = "{{model.uiModel.type}}"
    placeholder = "{{model.uiPlaceholder}}">

<div>
    <div
        style       = "background : #6EC069; color: #fff; border: solid #6EC069 1px; cursor: pointer; padding: 2px 4px; display: inline-block; margin: 10px 10px 10px 0"
        ng-repeat   = "element in model.uiModel.value track by $index"
        ng-click    = "model.on_remove($index)">
        {{element}}
    </div>
</div>


<!-- @ -->
<div ng-if="model.uiModel.show_errors">
    <div class   = "error-input">
        {{model.uiModel.error}}
    </div>
</div>
