<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--content-r">

    <h3 style="cursor: pointer;" ng-click="model.on_select_bundle()" class="header">За целият клас</h3>

    <div ng-if="model.collection.length > 0">
        <div ng-repeat="element in model.collection">
             <div class="m-top-x m-bottom-x" ng-click="model.on_select(element)">
                <span style="cursor: pointer; text-transform: uppercase; font-weight: bold; margin-left: 5px;">{{element.name}}</span>
            </div>
        </div>
    </div>

</div>

<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-wizard--info-l">


    <div ng-if="model.PROPERTY.SELECTED_STUDENT">

        <div>
            <h1 style="font-size: 20px; color: #4d5060;" class="m-top-2x m-bottom-3x">{{model.PROPERTY.SELECTED_STUDENT}}</h1>
        </div>


        <form-wrapper form-id="FORM_CREATE_NOTE">
            <form-create-note></form-create-note>
        </form-wrapper>

        <button
            class="button button--big button--solid--primary"
            ng-click="model.on_next();">
            Добави бележка
        </button>
    </div>

    <div ng-if="!model.PROPERTY.SELECTED_STUDENT">

        <div class = "m-bottom-3x m-top-4x icon">
            <i class="material-icons">&#xE14F;</i>
        </div>

        <div class="m-top-4x">
            <h1 style="font-size: 18px; color: #4d5060; text-transform: uppercase; font-weight: bold" class="align--center">Добави бележки за класа</h1>
        </div>

    </div>

</div>
