<div class="project-heading">
    <h2>{{model.LABEL.LABEL_PERSONAL_INFO}}</h2>
</div>

<div class="project-form project-form__noborder">

    <ui-input-date
        ui-is-disabled  = "model.uiIsDisabled"
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.birth_date"
        ui-placeholder  = "model.LABEL.INPUT_BIRTH_DATE">
    </ui-input-date>

    <!-- Input field @birth_place -->
    <ui-input-text
        ui-is-disabled  = "model.uiIsDisabled"
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.birth_place"
        ui-placeholder  = "model.LABEL.INPUT_BIRTH_PLACE">
    </ui-input-text>
</div>

<div class="project-heading">
    <h2>{{model.LABEL.LABEL_CONTACT_INFO}}</h2>
</div>

<div class="project-form project-form__noborder">

    <!-- Input field @phone -->
    <ui-input-text
        ui-is-disabled  = "model.uiIsDisabled"
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.phone"
        ui-placeholder  = "model.LABEL.INPUT_PHONE">
    </ui-input-text>

    <!-- Input field @address -->
    <ui-input-text
        ui-is-disabled  = "model.uiIsDisabled"
        ui-form         = "model.formContact"
        ui-model        = "model.FIELD.address"
        ui-placeholder  = "model.LABEL.INPUT_ADDRESS">
    </ui-input-text>

</div>
