<div class="container">
    <div class="row">

        <div class="col-10">
            <ui-input-text
                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.name"
                ui-placeholder  = "model.LABEL.INPUT_STUDENT_NAME">
            </ui-input-text>
        </div>

        <div class="col-2" ng-if="!model.uiUpdate">
            <button ng-click="model.add_student()" class="button button--big button--solid--primary">Добави</button>
        </div>

        <div class="col-2" ng-if="model.uiUpdate">
            <button ng-click="model.update_student()" class="button button--big button--solid--primary">Промени</button>
        </div>

    </div>
</div>
