<div ng-repeat="element in model.uiCollection track by $index">

    <div class = "pointer m-top-x" ng-link    = "['/Dashboard/Groups/GroupProfile', {id : element.id}]">

        <div class="pointer__icon pointer__icon--noborder pointer__icon--color--primary">
            <i class="material-icons ">&#xE87E;</i>
        </div>

        <div class="pointer_text">{{element.title | limitTo : 25}} ...</div>
    </div>

</div>
