<div class="test__mest">

    <!-- @Component     : @MAIN VIEW DASHBOARD                                                      -->
    <!-- ========================================================================================== -->
    <div class      = "dashboard"
         style      = "position: relative"
         ng-class   = "{'dashboard--push' : model.STATE.IS_SIDEBAR_VISIBLE }">

        <!-- @Component     : ROOT OUTLENT                                                              -->
        <!-- @Description   : Load every single group related component                                 -->
        <!-- ========================================================================================== -->
        <div class="navigation-section">
            <div class="navigation-panel">
                <h3>Активни учебни кампании</h3>
            </div>
        </div>


        <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class = "ui-component-list"><div class="test__mest">

                <!-- @Component     : @MAIN VIEW DASHBOARD                                                      -->
                <!-- ========================================================================================== -->
                <div class      = "dashboard"
                     style      = "position: relative"
                     ng-class   = "{'dashboard--push' : model.STATE.IS_SIDEBAR_VISIBLE }">

                    <!-- @Component     : ROOT OUTLENT                                                              -->
                    <!-- @Description   : Load every single group related component                                 -->
                    <!-- ========================================================================================== -->
                    <div class="navigation-section">
                        <div class="navigation-panel">
                            <h3>Активни учебни кампании</h3>
                        </div>
                    </div>


                    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                    <!-- @Description   : Show the group elements from a collection object                          -->
                    <!-- ========================================================================================== -->
                    <div class = "ui-component-list">

                        <div ng-repeat= "element in model.PROPERTY.COLLECTION track by $index">
                            <div class="item--element row m-bottom-x">

                                <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                                <!-- @Description   : Show the group elements from a collection object                          -->
                                <!-- ========================================================================================== -->
                                <div class="component-profile  f--left">

                                    <div class   = "m-bottom-x m-top-x m-right-2x"
                                         style   = "display:inline-block; margin-right: 16px;  background: rgb(110, 192, 105); border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">

                                        <i style = "font-size: 12px; margin-top: 2px"
                                           class = "material-icons">&#xE80C;</i>
                                    </div>

                                    <span>
                                        {{element.campaign_title}}
                                    </span>
                                </div>


                                <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                                <!-- @Description   : Show the group elements from a collection object                          -->
                                <!-- ========================================================================================== -->
                                <div class="f--right">
                                    <button ng-click    = "model.on_select()"
                                            style       = "margin-top: 8px;"
                                            class       = "button button--solid--primary">
                                        Разгледай
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="item--element row m-bottom-x">

                            <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                            <!-- @Description   : Show the group elements from a collection object                          -->
                            <!-- ========================================================================================== -->
                            <div class="component-profile  f--left">

                                <div
                                    class   = "m-bottom-x m-top-x m-right-2x"
                                    style   = "display:inline-block; margin-right: 16px;  background: #dedede; border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">
                                    <i style="font-size: 12px; margin-top: 4px" class="material-icons">&#xE145;</i>
                                </div>

                                <span>
                                    добави нова учебна кампания
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- @Component     : @SIDEBAR DASHBOARD                                                        -->
                <!-- ========================================================================================== -->
                <div class  = "dashboard--sidebar"
                     ng-if  = "model.STATE.IS_SIDEBAR_VISIBLE">

                     <div class="navigation-section">
                        <div class="navigation-panel">
                            <span>нова учебна кампания</span>
                        </div>
                    </div>

                    <panel-create-campaign></panel-create-campaign>
                </div>
            </div>


            <div ng-repeat= "element in model.PROPERTY.COLLECTION track by $index">
                <div class="item--element row m-bottom-x">

                    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                    <!-- @Description   : Show the group elements from a collection object                          -->
                    <!-- ========================================================================================== -->
                    <div class="component-profile  f--left">

                        <div class   = "m-bottom-x m-top-x m-right-2x"
                             style   = "display:inline-block; margin-right: 16px;  background: rgb(110, 192, 105); border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">

                            <i style = "font-size: 12px; margin-top: 2px"
                               class = "material-icons">&#xE80C;</i>
                        </div>

                        <span>
                            {{element.campaign_title}}
                        </span>
                    </div>


                    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                    <!-- @Description   : Show the group elements from a collection object                          -->
                    <!-- ========================================================================================== -->
                    <div class="f--right">
                        <button ng-click    = "model.on_select()"
                                style       = "margin-top: 8px;"
                                class       = "button button--solid--primary">
                            Разгледай
                        </button>
                    </div>

                </div>
            </div>

            <div class="item--element row m-bottom-x">

                <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
                <!-- @Description   : Show the group elements from a collection object                          -->
                <!-- ========================================================================================== -->
                <div class="component-profile  f--left">

                    <div
                        class   = "m-bottom-x m-top-x m-right-2x"
                        style   = "display:inline-block; margin-right: 16px;  background: #dedede; border-radius: 10px; width: 20px; height: 20px; text-align: center; margin: auto; margin-bottom: 36px;">
                        <i style="font-size: 12px; margin-top: 4px" class="material-icons">&#xE145;</i>
                    </div>

                    <span>
                        добави нова учебна кампания
                    </span>
                </div>
            </div>
        </div>
    </div>


    <!-- @Component     : @SIDEBAR DASHBOARD                                                        -->
    <!-- ========================================================================================== -->
    <div class  = "dashboard--sidebar"
         ng-if  = "model.STATE.IS_SIDEBAR_VISIBLE">

         <div class="navigation-section">
            <div class="navigation-panel">
                <span>нова учебна кампания</span>
            </div>
        </div>

        <panel-create-campaign></panel-create-campaign>
    </div>
</div>
