.ui-component-information
{
    height      : 300px;
    font-family : Roboto;
    text-align  : center;
}

.ui-input
{
    position:relative;
}

.label-placeholder
{
    position    : absolute;
    top         : -27px;
    left        : 0;
}
