.ui-spot
{
    display         : inline-block;
    width           : 50px;
    height          : 50px;
    text-align      : center;
    border-radius   : 50px;
    line-height     : 50px;
    font-size       : 18px;
    font-weight     : bold;
}
