<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="m-top-3x">
    <div class="form-layout" style="width: 1485px">

        <div style="position:relative; height: 100%; border: solid #dedede 1px">
            <div class="row">

                <div style="
                    position    : absolute;
                    background  : #262D32;
                    width       : 25%;
                    color       : #4d5060;
                    min-height  : 100%;
                    right       : 0;
                    top         : 0;">

                    <h1 style="text-align: center; margin-top: 40px; color: #6EC069; font-size: 30px; line-height: 1">Диагностично оценяване</h1>

                    <div>

                        <ul style="margin-left: 46px; margin-top: 46px;">
                            <li style="margin-bottom: 10px">
                                <div style="display: inline-block; width: 36px; height: 36px; margin: 5px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                    class="event">МП</div>
                                    <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Михаил Петров</span>
                            </li>
                        </ul>

                        <ul style="margin-left: 46px; margin-top: 46px;">
                            <li style="margin-bottom: 10px">
                                <div style="display: inline-block; width: 6px; height: 6px; margin: 5px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                    class="event"></div>
                                <span
                                    style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Входно ниво</span>
                                <span
                                    style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px; float:right; margin-right: 90px;    color: #6EC069; font-weight: bold;">16%</span>
                            </li>
                            <li style="margin-bottom: 10px">
                                <div style="display: inline-block; width: 6px; height: 6px; margin: 5px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                    class="event"></div>
                                <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Първи срок</span>
                                <span
                                    style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px; float:right; margin-right: 90px;    color: #6EC069; font-weight: bold;">35%</span>
                            </li>
                            <li style="margin-bottom: 10px">
                                <div style="display: inline-block; width: 6px; height: 6px; margin: 5px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;"
                                    class="event"></div>
                                <span style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px">Финална оценка</span>
                                <span
                                    style="display: inline-block; text-transform: uppercase; font-weight: bold; margin-left: 10px; float:right; margin-right: 90px;    color: #6EC069; font-weight: bold;">100%</span>
                            </li>
                        </ul>

                    </div>

                </div>

                <div style="width : 75%; background: #fff; padding: 25px; padding-top: 90px">
                    <canvas
                        class           = "chart chart-line"
                        chart-colors    = "model.colors"
                        chart-data      = "model.data"
                        chart-labels    = "model.labels"
                        chart-series    = "model.series">
                    </canvas>
                </div>

            </div>

        </div>


    </div>
</div>
