<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class = "ui-component-list">

        <div ng-repeat   = "element in model.collection track by element.id">
            <card-student
                name        = "element.name"
                ui-student  = "element.id"
                ui-bundle   = "model.PROPERTY.BUNDLE_ID">
            </card-student>
        </div>

        <!-- @Component     : UI BLOCK : Form Component                                                 -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <form-wrapper form-id="FORM_CREATE_STUDENT" class="m-top-3x">
            <form-create-student></form-create-student>
        </form-wrapper>
</div>

