<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="navigation-section">
    <div class="navigation-panel">
        <h3>Класове</h3>
    </div>
</div>


<!-- ========================================================================================== -->
<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="dashboard">
    <wizard-wrapper is-step="true">

        <wizard-element ui-title="припознай">
            <choose-bundle></choose-bundle>
        </wizard-element>

        <wizard-element ui-title="предмети">
            <assign-subjects></assign-subjects>
        </wizard-element>

        <wizard-element ui-title="ученици">
            <add-students></add-students>
        </wizard-element>

        <wizard-element ui-title="цели">
            <assign-goals></assign-goals>
        </wizard-element>
    </wizard-wrapper>
</div>
