<div class="ui-mobile-profile">

    <!-- @Component     : ROOT OUTLENT                                                              -->
    <!-- @Description   : Load every single group related component                                 -->
    <!-- ========================================================================================== -->
    <ui-profile
        ui-size         = "'picture'"
        service-provide = "true">

        <div class="ui-navigation__category tooltip ">
            <a
                ng-link     = "['Feeds']"
                ng-init     = "active = false"
                ng-class    = "{'active': active}"
                ng-click    = "active = !active">

                <i class="material-icons">&#xE0E5;</i>
                <span class="tooltip__content tooltip__content--right">
                    {{::model.LABEL.ITEM_FEED}}
                </span>
            </a>
        </div>
    </ui-profile>
</div>
