<div class="animated fadeIn">

    <form
        novalidate
        name        = "model.formContact"
        ng-keyup    = "model.on_change()">

        <div class="project-heading">
            {{model.LABEL.LABEL_PERSONAL_INFO}}
        </div>

        <div class="project-form project-form__noborder project-form__nopadding">

            <ui-input-date
                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.user_contact_birth_date"
                ui-placeholder  = "model.LABEL.INPUT_BIRTH_DATE">
            </ui-input-date>

            <!-- Input field @birth_place -->
            <ui-input-text
                ui-presentation = "true"


                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.user_contact_birth_place"
                ui-placeholder  = "model.LABEL.INPUT_BIRTH_PLACE">
            </ui-input-text>

            <!-- Input field @phone -->
            <ui-input-text
                ui-presentation = "true"


                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.user_contact_phone"
                ui-placeholder  = "model.LABEL.INPUT_PHONE">
            </ui-input-text>

            <!-- Input field @address -->
            <ui-input-text
                ui-presentation = "true"


                ui-is-disabled  = "model.uiIsDisabled"
                ui-form         = "model.formContact"
                ui-model        = "model.FIELD.user_contact_address"
                ui-placeholder  = "model.LABEL.INPUT_ADDRESS">
            </ui-input-text>
        </div>
    </form>
</div>
