//
//
// #############################################
.contrast--1 {
    background: #FFAAAA;
    color: #801515;
}

.contrast--2 {
    background: #d2f2ac;
    color: #79cd41
}

.contrast--3 {
    background: #fbf0a8;
    color: #d2ab09;
}

.contrast--4 {
    background: #b5d3f6;
    color: #5798e5;
}

.contrast--5 {
    background: #d7d6fb;
    color: #7d7bdb;
}

.contrast--6 {
    background: #6C929F;
    color: #457585;
}

.contrast--7 {
    background: #AA5585;
    color: #661141;
}

.contrast--8 {
    background: #D4D46A;
    color: #808015;
}

.contrast--9 {
    background: #764B8E;
    color: #582A72;
}

.contrast--10 {
    background: #669999;
    color: #0D4D4D;
}

.contrast--11 {
    background: #be5f7c;
    color: #721330;
}

.contrast--12 {
    background: #49597e;
    color: #0c1939;
}

.contrast--13 {
    background: #BD7F63;
    color: #7D4022;
}

.contrast--14 {
    background: #3c7171;
    color: #154B4B;
}

.contrast--15 {
    background: #BDB763;
    color: #7d7722;
}

.contrast--16 {
    background: #b25e6b;
    color: #76212E;
}
