<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<ng-outlet class="main"></ng-outlet>

<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<ui-state   state-domain    = "projects"
            state-id        = "modal-create">

    <div style = "position:fixed; overflow: auto; top : 0; left : 0; background : #f5efe6; width: 100%; height: 100%; z-index: 998">
        <project-modify
            ng-keypress="model.on_close()">
        </project-modify>
    </div>
</ui-state>
