<div class="arrow-up"></div>
<div class="ui-member-picker">


    <div ng-repeat  = "element in model.uiCollection track by $index"
         ng-click   = "model.on_select(element)">

        <ui-profile
                ui-size         = "'picture'"
                ui-signature    = "element.user_signature"
                ui-who          = "element.user_name">
        </ui-profile>
    </div>
</div>
