<div
    ng-if   = "model.uiPresentation"
    style   = "margin-bottom: 25px">

    <span style="font-weight: bold; font-size: 16px; display: inline-block; width: 180px">
        {{model.uiPlaceholder}}
    </span>

    <span>
        {{model.uiModel.value}}
    </span>

    <span
        class="button button--lite--primary"
        style = "float: right">
        редактирай
    </span>
</div>


<div class="ui-input ui-input-text">

    <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <span
        class   = "label-hint"
        ng-if   = "model.uiHint && model.STATE.IS_TITLE_VISIBLE">
        {{model.uiHint}}
    </span>


    <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <span
        class   = "label-placeholder"
        ng-if   = "model.STATE.IS_TITLE_VISIBLE">
        {{model.uiPlaceholder}}
    </span>


    <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <input
        ng-disabled     = "model.uiIsDisabled"
        ng-required     = "model.uiModel.isRequired"
        name            = "{{model.uiModel.name}}"
        ng-model        = "model.uiModel.value"
        ng-class        = "{
                'input-error'  : model.uiModel.show_errors,
                'input'        : !model.uiModel.show_errors,
                'input--edit'  : model.STATE.IS_EDIT
        }"
        ng-change       = "model.on_change()"
        type            = "{{model.uiModel.type}}"
        placeholder     = "{{model.uiPlaceholder}}"/>


    <!-- @Component     : FORM BLOCK : SIDEBAR_PORTION                                              -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-if="model.uiModel.show_errors">
        <div class  = "error-input">
            {{model.uiModel.error}}
        </div>
    </div>
</div>
