<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="block dashboard">
    <div class   = "m-top-4x">
        <div class="form-layout">
            <ui-list-block
                ui-collection   = "model.collection"
                ui-load-more    = "model.STATE.CAN_COLLECTION_LOAD_MORE">
            </ui-list-block>
        </div>


        <!-- @Component     : UI BLOCK : Modal Window                                                   -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div class="layout-form layout--border layout-form--x m-top-4x">
            <div class  = "project-form project-form__nopadding project-form__noborder">

                <div class = "m-bottom-3x m-top-2x icon">
                    <i class="material-icons">&#xE80C;</i>
                </div>

                <div class="m-top-4x">
                    <h1 class="align--center">Добре дошъл в портала на Заедно в час</h1>
                </div>

                <div class="m-top-4x">
                    <p>
                        Това е първото ти влизане в системата за споделяне и управление на информацията в организацията.
                    </p>
                    <p>
                        Ще ти помогнем да намериш бързо и лесно полезна за теб информация.
                    </p>
                    <p>
                        Ако имаш въпроси не се притеснявайте да се свържеш с нашия администратор на p.ivanov@zaednovchas.bg
                    </p>
                </div>

                <div class="m-top-4x">
                    <button
                        ng-link     = "['/Dashboard/Classroom']"
                        class       = "button button--full button--big button--solid--primary"
                        ng-click    = "model.on_process()">Започни</button>
                </div>

            </div>
        </div>

    </div>
</div>
