<!-- @Component     : UI SIdebar                                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<ui-sidebar
    ui-title        = "model.LABEL.SIDEBAR_TITLE"
    ui-is-visible   = "model.STATE.IS_SIDEBAR_VISIBLE">

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="groups" state-id = "filter">
        <div class   = "row m-top-3x">
            <ui-input-search></ui-input-search>
        </div>
    </ui-state>

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="groups" state-id = "discusion">

        <div ng-if   = "model.memberCollection.length > 0">

            <h2 class = "heading m-top-3x">#Абонати</h2>
            <div class="m-top-2x">
                <ui-block-members
                    ui-collection   = "model.memberCollection">
                </ui-block-members>
            </div>
        </div>

        <h2 class="heading m-top-3x">#Дискусия</h2>

        <ui-action
            ui-icon  = "&#xE893;"
            ui-click = "model.on_discusion('articles')"
            title    = "'Статии'">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE250;"
            ui-click = "model.on_discusion('posts')"
            title    = "'Постове'">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE922;"
            ui-click = "model.on_discusion('polls')"
            title    = "'Анкети'">
        </ui-action>
    </ui-state>


    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="groups" state-id = "option" state-init = "true">

        <h2 class="heading m-top-3x">@Настройки</h2>

        <ui-action
            ui-icon  = "&#xE145;"
            ui-click = "model.on_filter()"
            title    = "'#Филтрирай'">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE145;"
            ui-click = "model.on_create()"
            title    = "'#Създай нова група'">
        </ui-action>

        <ui-action
            ui-icon  = "&#xE145;"
            ng-link  = "['Groups']"
            title    = "'#Всички групи'">
        </ui-action>

        <h2 class="heading m-top-3x">@Любими</h2>

        <ui-action
            ui-icon  = "&#xE145;"
            ui-click = "model.on_mygroupShow()"
            title    = "'#Мой групи'">
        </ui-action>
    </ui-state>


    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <ui-state state-domain="groups" state-id = "my-group">

        <h2 class="heading m-top-3x">#Мойте групи</h2>
        <group-repeater></group-repeater>
    </ui-state>

</ui-sidebar>

<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="block dashboard">
    <ng-outlet class="main"></ng-outlet>
</div>


<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<ui-state state-domain="groups" state-id = "modal-create">
    <div style       = "position:fixed; overflow: auto; top : 0; left : 0; background : #f5efe6; width: 100%; height: 100%; z-index: 998">
        <group-modify
            ng-keypress="model.on_close()">
        </group-modify>
    </div>
</ui-state>


