<!-- Input field @institution -->
 <ui-input-checkbox
    ui-is-disabled  = "model.uiIsDisabled"
    ui-form         = "model.formContact"
    ui-model        = "model.FIELD.subject"
    ui-active       = "model.FIELD.subject.value"
    ui-id           = "'input:dropdown:subject'"
    ui-options      = "model.LABEL.OPTIONS_DROPDOWN_SUBJECTS"
    ui-collection   = "model.FIELD.subject.collection">
</ui-input-checkbox>


<form-wrapper form-id="FORM_ADD_SUBJECT">
    <form-add-subject></form-add-subject>
</form-wrapper>
