<div class="ui-component-list">

    <div
        class       = "card card--full m-bottom-2x"
        ng-repeat   = "element in model.uiCollection track by $index">

        <div class="row">
            <div class="f--left main-title">
                # {{element.title}}
            </div>
        </div>

        <div class="row">
            <div class="main-content"> {{element.description| limitTo : 180}} ... </div>
        </div>
    </div>

    <div style="margin: 25px;">
        <button
            ng-if       = "model.uiLoadMore"
            class       = "button button--big button--solid--primary m-top-3x"
            ng-click    = "model.on_load()">
            <i class   = "loader"></i>
            Зареди още проекти
        </button>
    </div>
</div>
