<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->

<div class="block dashboard">
    <div class   = "m-top-4x">
        <div class="form-layout">
            <div class="project-form">
                <h3 class="m-top-x m-bottom-3x" style="color: #6EC069; font-weight: bold; text-transform: uppercase; border-bottom: solid #dedede 1px;">@Организирай часовете си</h3>


                <table class="schedule" ng-if="!(model.STATE.EVENT_VIEW)">

                    <tr class="schedule-header">
                        <td>
                            <div style="margin-left: 80px"></div>
                        </td>
                        <td>
                            <div style="display: inline-block; color: #6EC069; font-weight: bold;">
                                Понеделник
                            </div>
                        </td>
                        <td>
                            <div style="display: inline-block; color: #6EC069; font-weight: bold;">
                                Вторник
                            </div>
                        </td>
                        <td>
                            <div style="display: inline-block; color: #6EC069; font-weight: bold;">
                                Сряда
                            </div>
                        </td>
                        <td>
                            <div style="display: inline-block; color: #6EC069; font-weight: bold;">
                                Четвъртък
                            </div>
                        </td>
                        <td>
                            <div style="display: inline-block; color: #6EC069; font-weight: bold;">
                                Петък
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 36px; height: 36px; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                #1
                            </div>
                        </td>
                        <td ng-click="model.add_event()">
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ffbf46; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                7В
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 36px; height: 36px; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                #2
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #54ca95; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                8А
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #F16623; ; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                9В
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 36px; height: 36px; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                #3
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 36px; height: 36px; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                #4
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 36px; height: 36px; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                #5
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 36px; height: 36px; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                #6
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                10Г
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                        <td>
                            <div style="width: 36px; height: 36px; background: #dedede; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold; margin: auto">
                                +
                            </div>
                        </td>
                    </tr>
                </table>


                <div ng-if="model.STATE.EVENT_VIEW">


                    <!-- @Component     : ROOT OUTLENT                                                              -->
                    <!-- @Description   : Load every single group related component                                 -->
                    <!-- ========================================================================================== -->
                    <div class="row">

                        <div class="f--left" style="margin-left: 19px; margin-bottom: 23px;">
                            <div style=" display: inline-block; width: 36px; height: 36px; background: #ee627d; border-radius: 25px; text-align: center; padding-top: 7px; font-weight: bold;">
                                1
                            </div>
                            <div style="margin-left: 18px; color: #6EC069; font-size: 16px; font-weight: bold; text-transform: uppercase; display: inline-block;">@Понеделник</div>
                        </div>

                        <div
                            class       = "f--right"
                            style       = "font-weight: bold; color: #6EC069; padding: 10px"
                            ng-click    = "model.on_close()">
                            <i class="material-icons">&#xE317;</i>
                        </div>
                    </div>

                    <div>
                        <form-wrapper form-id="FORM_ASSIGNE_EVENT">
                            <form-assigne-event></form-assigne-event>
                        </form-wrapper>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
