<!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div
    class   = "ui-component-list"
    ng-if   = "model.collection.length > 0">

    <div ng-repeat   = "element in model.collection track by element.id">

        <div class="row">
            <div class="component-profile  f--left">

                <ui-profile
                    ui-size         = "'picture-3x'"
                    ui-signature    = "element.signature">
                </ui-profile>
            </div>

            <div class="f--right">
                <button
                    class="button button--solid--primary"
                    ng-link="['/Dashboard/Bundle/BundleSingle', { id : element.id}]">
                    Разгледай
                </button>
            </div>

        </div>
    </div>
    <div class="m-all-2x" ng-transclude></div>
</div>
