<!-- @Component     : UI Toolbar                                                                -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="align--center m-top-4x">
    <img src="{{model.LABEL.IMAGE}}">
</div>

<div class="layout-form layout--border layout-form--x m-top-4x">

    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-show="'intro' == model.FORM.get_active()">
        <welcome-intro></welcome-intro>
    </div>

    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-show="'contact' == model.FORM.get_active()">
        <form-contact></form-contact>
    </div>

    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-show="'education' == model.FORM.get_active()">
        <form-education></form-education>
    </div>

    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-show="'employment' == model.FORM.get_active()">
        <form-employment></form-employment>
    </div>

    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-show="'alumni-form' == model.FORM.get_active()">
        <form-alumni-composition></form-alumni-composition>
    </div>


    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-if = "model.STATE.IS_SUCCESS_VISIBLE">
        <welcome-outro></welcome-outro>
    </div>

    <!-- @Component     : UI Toolbar                                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div class="authorization-component__block">
        <div class="project-form  project-form__nopadding project-form__noborder">

            <!-- @ -->
            <button
                class       = "button button--big button--lite--primary m-bottom-x"
                ng-show     = "model.STATE.show_submit()"
                ng-click    = "model.on_next()">
                {{model.LABEL.BUTTON_SUBMIT}}
            </button>

            <!-- @ -->
            <button
                class       = "button button--big button--solid--primary m-bottom-x"
                ng-show     = "model.STATE.IS_NEXT_VISIBLE"
                ng-click    = "model.on_next()">
                {{model.LABEL.BUTTON_NEXT}}
            </button>


            <!-- @ -->
            <button
                class       = "button button--big button--lite--orange m-bottom-x"
                ng-show     = "model.STATE.IS_PREV_VISIBLE"
                ng-click    = "model.on_prev()">
                {{model.LABEL.BUTTON_PREV}}
            </button>


            <!-- @ -->
            <button
                class       = "button button--big button--solid--primary m-bottom-x"
                ng-show     = "model.STATE.IS_SUCCESS_VISIBLE"
                ng-click    = "model.on_process()">
                {{model.LABEL.BUTTON_SUCCESS}}
            </button>

        </div>
    </div>
</div>
