<ui-input-dropdown
    ui-is-disabled      = "model.uiIsDisabled"
    ui-form             = "model.formContact"
    ui-model            = "model.FIELD.bundle"
    ui-active           = "model.FIELD.bundle.value"
    ui-placeholder      = "model.LABEL.OPTIONS_BUNDLE_PLACEHOLDER"
    ui-provider         = "model.FIELD.bundle.provider"
    ui-id               = "'input:dropdown:bundle'"
    ui-reducer          = "model.FIELD.bundle.reducer">
</ui-input-dropdown>

<ui-input-dropdown
    ui-is-disabled      = "model.uiIsDisabled"
    ui-form             = "model.formContact"
    ui-model            = "model.FIELD.subject"
    ui-active           = "model.FIELD.subject.value"
    ui-placeholder      = "model.LABEL.OPTIONS_SUBJECT_PLACEHOLDER"
    ui-has-dependancy   = "'true'"
    ui-depend-on        = "model.FIELD.bundle.value"
    ui-provider         = "model.FIELD.subject.provider"
    ui-id               = "'input:dropdown:subject'"
    ui-reducer          = "model.FIELD.subject.reducer">
</ui-input-dropdown>


<button class="button button--big button--solid--primary m-top-2x" ng-click="model.on_submit()">
    Запиши
</button>
