<!-- @Component     : UI BLOCK : Modal Window                                                   -->
<!-- @Description   : Show the group elements from a collection object                          -->
<!-- ========================================================================================== -->
<div class="project-form project-form__noborder">

    <div class="row">
        <h2 class="f--left" style="font-size: 21px; margin-bottom: 26px;">@12A клас</h2>
        <div
            class="f--right"
            style="font-weight: bold; color: #6EC069; padding: 10px"
            ng-link = "['/Dashboard/AssigneClass']">
            <i class="material-icons">&#xE317;</i>
        </div>
    </div>


    <ui-list-student
        collection      = "model.collection"
        ui-is-expanded  = "model.isExpanded">

        <!-- @Component     : UI BLOCK : Form Component                                                 -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <!--<div style="margin-left: 14px;">

            <div style="margin-top: 32px;">-->

                <!-- @Component     : UI BLOCK : Modal Window                                                   -->
                <!-- @Description   : Show the group elements from a collection object                          -->
                <!-- ========================================================================================== -->
                <!--<div ng-click="model.on_showAdd()" style="display: inline-block; background: #6EC069; color: #fff; width: 40px; height: 40px; display: inline-block; margin-left: 8px; border-radius: 50px; text-align: center">

                    <div ng-if="model.get_data()" style="margin-top: 8px">
                        <i style="font-size: 20px" class="material-icons">&#xE145;</i>
                    </div>

                    <div ng-if="!model.get_data()" style="margin-top: 8px">
                        <i style="font-size: 20px" class="material-icons">&#xE5CD;</i>
                    </div>
                </div>-->

                <!-- @Component     : UI BLOCK : Modal Window                                                   -->
                <!-- @Description   : Show the group elements from a collection object                          -->
                <!-- ========================================================================================== -->
                <!--<div ng-if="model.get_data()"  ng-click="model.on_showAdd()" style="display: inline-block; position: absolute; margin-left: 10px; margin-top: 7px">
                    @Добави нов ученик
                </div>

                <div ng-if="!model.get_data()" style="display: inline-block; margin-left: 10px; width: 90%;">
                    <input ng-model="model.inputText" placeholder="@ученик" type="text" style="width: 60%; display: inline-block; outline: none; border: none; border-bottom: solid #dedede 1px">
                    <input ng-model="model.inputEGNText" placeholder="@егн" type="text" style="width: 30%; display: inline-block; outline: none; border: none; border-bottom: solid #dedede 1px">
                    <div style="display: inline-block; margin-left: 16px; padding: 10px 3px 10px 0" ng-click="model.on_add()">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                </div>
            </div>
        </div>-->

    </ui-list-student>
</div>



