<!-- @Component     : ROOT OUTLENT                                                              -->
<!-- @Description   : Load every single group related component                                 -->
<!-- ========================================================================================== -->
<div class="form-layout layout--modal">
    <div class="panel">

        <!-- @Component     : ROOT OUTLENT                                                              -->
        <!-- @Description   : Load every single group related component                                 -->
        <!-- ========================================================================================== -->
        <div class="row header">
            <h3 class="f--left">
                @Организиране на учителите
            </h3>

            <div
                class       = "f--right icon--primary"
                ng-if       = "model.when_state_init()"
                ng-click    = "model.on_close()">

                <i class    = "material-icons">&#xE317;</i>
            </div>
        </div>

        <!-- @Component     : ROOT OUTLENT                                                              -->
        <!-- @Description   : Load every single group related component                                 -->
        <!-- ========================================================================================== -->
        <div ng-repeat="element in model.collection">
            <div ng-if="model.when_state_selected(element)">
                <card-assign-teacher
                    id      = "element.id"
                    element = "element">
                </card-assign-teacher>
            </div>
        </div>
    </div>
</div>

