<div
    style  = "position:fixed; overflow: auto; top : 0; left : 0; background : #f5efe6; width: 100%; height: 100%; z-index: 998">
    <div
        class="form-layout"
        style="width : 760px; padding-top: 64px; background : #f5efe6"
        ng-transclude>


    </div>

    <div
        ng-click  = "model.on_close()"
        style     = "position: absolute; right : 50px; top : 50px;">
        <i style="font-size: 34px; color: #6EC069" class="material-icons">&#xE5CD;</i>
    </div>

</div>
