<div class="layout layout-row">

    <!-- @Component     : Mobile Profile                                                            -->
    <!-- @Description   : Show navigation bar containing user profile on a mobile devices           -->
    <!-- ========================================================================================== -->
    <!--<ui-mobile-profile>
    </ui-mobile-profile>-->

    <!-- @Component     : Navigation                                                                -->
    <!-- @Description   : Show navigation component for browsing throw out the application          -->
    <!-- ========================================================================================== -->
    <ui-navigation></ui-navigation>

    <!-- @Component     : NG Outlet                                                                 -->
    <!-- @Description   : Component Router Placeholder show the current active component            -->
    <!-- ========================================================================================== -->
    <ng-outlet></ng-outlet>
</div>

