<div class="ui-input ui-input-text">

    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <span
        class   = "label-placeholder"
        ng-if   = "model.STATE.IS_TITLE_VISIBLE">
        {{model.uiPlaceholder}}
    </span>

    <div
        ng-if = "!model.uiIsDisabled"
        class       = "ui-dropdown">


        <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div
            class       = "ui-dropdown__title"
            ng-click    = "model.on_expand()"
            ng-class    = "model.uiIsActive ? 'ui-dropdown--active' : ''">
                <span>
                    {{model.uiTitle}}
                </span>
            <div
                class     = "ui-dropdown__decoration"
                ng-class  = "(model.STATE.IS_EXPANDED) ? 'element-active' : ''">

                <i class="material-icons">&#xE313;</i>
            </div>
        </div>

        <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
        <!-- @Description   : Show the group elements from a collection object                          -->
        <!-- ========================================================================================== -->
        <div
            class = "ui-dropdown__content"
            ng-if = "model.STATE.IS_EXPANDED">

            <div
                class       = "ui-dropdown__element"
                ng-repeat   = "element in model.uiOptions track by $index"
                ng-click    = "model.on_select(element, $event)">
                <span>{{element.title}}</span>
            </div>
        </div>
    </div>


    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-if = "model.uiIsDisabled" class = "ui-dropdown">

        <div class = "ui-dropdown__title">
            <span>
                {{model.uiTitle}}
            </span>
        </div>

        <div class = "ui-dropdown__content" ng-if = "model.STATE.IS_EXPANDED">
            <div class = "ui-dropdown__element">
                {{element.title}}
            </div>
        </div>
    </div>


    <!-- @Component     : UI BLOCK : SIDEBAR_PORTION                                                -->
    <!-- @Description   : Show the group elements from a collection object                          -->
    <!-- ========================================================================================== -->
    <div ng-if="model.uiModel.show_errors">
        <div class   = "error-input">
            {{model.uiModel.error}}
        </div>
    </div>
</div>
