<div class="members">
    <div class="member" ng-repeat="element in model.uiCollection track by $index">

        <ui-profile
            ng-link         = "['/Dashboard/Users/UserProfile', {id : element.id}]"
            ui-size         = "'picture'"
            ui-signature    = "element.signature"
            ui-picture      = "element.picture">
        </ui-profile>
    </div>
</div>
